@charset "UTF-8";
/*---------------------------------
    File : mixin.scss
    Date : 2023.04.04 
/*---------------------------------*/
/* 
scroll 
*/
/* 
::-webkit-scrollbar{
@include scrollbar;}
*/
/* 
::-webkit-scrollbar-thumb{
@include scrollbar-thumb;}
*/
/* 스크롤바 위치 */
/* 스크롤바 bg */
/* 
animation 
*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
 animation-name: dowmUp;
*/
@-webkit-keyframes dowmUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes dowmUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}

@keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}

/* 
font 
*/
/* notosans */
/* 
text
 */
/* txtDot */
/* ellipsis */
/* ellipsis hover */
/* icon */
/* flex */
/* button */
/* layout */
