@charset "UTF-8";
/*
File   : color.scss
Date   : 2025.04.02
*/

//* 튠720 색상 중 B타입 제거하고 복사해서 가져옴 */
html {
    --white: #ffffff;
    --black: #000000;
    --red: #ff0000;
    --red2: #e31737;

    // 테마 구분 토글 
    --B_mainColor: #07e6ff;
    --C_mainColor: #3c71fd;

    &.themeB {
        --mainColor: #07e6ff;
        // --titleColor: #ffffff; // 위젯 타이틀 컬러
    }

    &.themeC {
        --mainColor: #3c71fd;
        // --titleColor: #222222; // 위젯 타이틀 컬러
    }


    //* typeC (WHITE) */
    // basic
    --mainColor: #3c71fd;
    --ftColor: #222222;
    --subFtColor: #999999;
    --borderColor: #e6e6e6;
    --bgColor: #f6f6f6;

    //* dim */
    --dimFtColor: #000000;
    --dimOpacity: 0.8;
    --dimShadow: rgba(0, 0, 0, 0.5);
    --dimBgColor: #fff;

    //* daterangepicker */
    --dateFtColor2: #222222; // 요일
    --dateFtColor3: #e5e5e5; // off
    --dateFtColor4: #ffffff; // hover
    --dateFtColor5: #222222; // 
    --dateFtColor6: #ffffff;
    --dateFtColor7: #ffffff; // 

    --dateBorderColor: #d6d6d6;
    --dateShadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    --dateBgColor: #ffffff;
    // 기간선택
    --dateBgColor2: #88a9ff;
    --dateBgColor3: #c1c8db;
    // input 
    --dateIpBorderColor: #d6d6d6;
    --dateIpBgColor: #ffffff;


    // point 
    --pointColor: #3c71fd;
    --pointColor2: #8c6bfb;
    --pointColor3: #51ca9e;
    --pointColor4: #ff6767;
    --pointColor5: #39a8ff; // 3 set - 1
    --pointColor6: #23bc85; // 3 set - 2
    --pointColor7: #ff6767; // 3 set - 3
    --pointColor8: #07e6ff; // B: point, C: B_point
    --pointColor9: #3c71fd; // B: C_point, C: point
    // point - etc
    --issueColor: #ffcf31;
    --issueColor2: var(--issueColor); // B: trnasparent, C: issue
    --issueColor3: var(--white); // B: issue, C: white
    --issueColor4: var(--ftColor); // B: issue, C: black
    --issueColor5: #fbbe30;
    --waitColor: #f5a123;
    --errorColor: #ff6767;
    --normalColor: var(--pointColor); // B:point, C: point
    --normalColor2: #07e6ff; // B: point, C: B_point
    --normalColor3: var(--pointColor); // B: white, C: point
    --normalColor4: var(--pointColor); // B: transparent, C: point
    --noneColor: #80b6d6;
    --noneColor2: #3f7197;
    // --passColor: #40c969;
    --checkColor: #aaaaaa;
    // --unknowColor: #aaaaaa;

    //* Font */
    --ftColor2: var(--ftColor); // B : point, C : black
    --ftColor3: #ffffff; // B : black, C : white
    --ftColor4: #ffffff; // B : white, C : white
    --ftColor5: var(--pointColor); // B : white, C : point
    --ftColor6: #222222; // B : white, C : black
    --ftColor7: #ff6091;
    --ftColor8: #ff9e2e;
    --ftColor9: #222222; // B : white blue, C : black
    --ftColor10: #ffffff; // B : point, C : white
    --ftColor11: #000000; // B: black, C: black
    --ftColor12: var(--pointColor); //B: BLUE,  C: point
    --ftColor13: #182152;
    --ftColor14: var(--pointColor8); //B,C : B_point
    --ftColor15: var(--bgColor);
    --ftColor16: #c4c4c4;
    --ftColor17: #ffffff; // B:NAVY, C: WHITE
    --ftColor18: var(--white); //B: BLUE(btn ft color,  C: white
    --ftColor19: var(--white); //B:point C: WHITE
    --ftColor20: var(--pointColor);

    // up & down 
    --upColor: #ff5353;
    --downColor: #1081f6;

    // border
    --border2: 1px solid var(--borderColor);
    --borderColor2: #e6e6e6; // B: black, C: borderColor
    --borderColor3: #e6e6e6; // title bottom 
    --borderColor4: #ffffff; // checkboxBtn 
    --borderColor5: #ebebeb; // box
    --borderColor6: #aaaaaa; // B: none, C: gray
    --borderColor7: #e5e5e5; // B: none, C: borderColor
    --borderColor8: var(--pointColor); // B: borderColor, C: pointColor
    --borderColor9: var(--borderColor); // B: dark navy, C: borderColor
    --borderColor10: #000000; // B: WHITE, C: BLACK
    --borderColor11: #8441d3;
    --borderColor12: var(--pointColor); // B: tblBorder, C: point
    --borderColor13: #f9f9f9; // B: transparent ,C: white gray
    --borderColor14: #a2bdf3; // B: blue ,C: white gray

    // bgColor 
    --bgColor2: var(--mainColor);
    --bgColor3: var(--mainColor);
    --bgColor4: var(--bgColor);
    --bgColor5: #f9f9f9; // B : dark blue C : white gray
    --bgColor6: #ffffff; // B : dark blue C : white
    --bgColor7: var(--btnOff_BgColor); // B : NONE C : btnOff
    --bgColor8: var(--pointColor); // B : NONE C : point
    --bgColor9: #ffffff; // B : NONE C : white
    --bgColor10: #ffffff; // B : NONE, C : white
    --bgColor11: #ffffff; // B: dark blue, C: white;
    --bgColor12: var(--btnOff_BgColor); // B: white, C: point;
    --bgColor13: var(--pointColor); // B: white, C: point;
    --bgColor14: #ffffff; // B: dark blue, C: white;
    --bgColor15: var(--pointColor);
    --bgColor16: #f6f6f6; // B : dark blue C : white gray 
    --bgColor17: #ffffff;
    --bgColor18: #ffffff; //B: darkBlue, C: white;
    --bgColor19: #f9f9f9; // B : transparent C : white gray
    --bgColor20: #ffffff; //B: darkBlue, C: white;
    --bgColor21: #ebebeb; //B: darkBlue, C: whitegray;
    --bgColor22: #f9f9f9; //B: darkBlue, C: white gray;
    --bgColor23: #f9f9f9; //B: darkBlue, C: white gray;

    // scroll 
    --scrollbarColor: #ebebeb;
    --scrollThumbColor: var(--mainColor);

    //* gradient */
    --gradient: none;
    --gradient2: none;
    --gradient3: none;

    //* DISPLAY */
    --display: none;

    // shadow 
    --shadow: 0 0 20px 0 var(--pointColor);
    --shadow2: none;
    --shadow3: none;
    --shadow4: none;
    --shadow5: none;


    //* header */
    --headerFtColor: #777777;
    --headerBorderColor: #e9e9e9;
    --headerStoreBorderColor: #d1d1d1;
    --headerUserBgColor: #ffffff;
    --headerBgColor: #ffffff;
    --ico_userInfo: var(--pointColor);

    //* navigation */
    --ico_navColor_on: var(--white); //ico on
    --ico_navColor_off: #777777; //ico off
    --navBorderColor: #ffffff;
    --navFtColor: #777777; //1depth 하위 폰트 색상
    --navFtColor2: #777777; //2depth 하위 폰트 색상
    --navOnFtColor: var(--white);
    --navShadow: none;
    --navCloseBorderColor: #d1d1d1;
    --navCloseBgColor: var(--mainColor);
    --navBgColor: var(--white);
    --navBgColor2: var(--mainColor); // 1depth active
    --navBgColor3: #f6f6f6; // 2depth

    //* iMarkHover */
    --bubbleBorderColor: #ffffff;
    --bubbleBgColor: #ffffff;
    --bubbleShadow: 0 5px 10px 0 rgba(34, 34, 34, 0.1);


    //* button */
    // main 
    --btnMain_ftColor: var(--white);
    --btnMain_bgColor: var(--pointColor);
    // main2
    --btnMain_ftColor2: var(--pointColor);
    --btnMain_border2: 1px solid var(--pointColor);
    --btnMain_shadow2: none;
    --btnMain_bgColor2: #e9f6ff;
    // main 4 - B(main2), C: main1
    --btnMain_ftColor4: var(--ftColor4);
    --btnMain_border4: 1px solid var(--pointColor);
    --btnMain_shadow4: none;
    --btnMain_bgColor4: var(--pointColor);
    // off
    --btnOff_ftColor: var(--white);
    --btnOff_BorderColor: #c1c8db;
    --btnOff_BgColor: #c1c8db;
    // off2 : white 
    --btnOff_ftColor2: var(--ftColor);
    --btnOff_BorderColor2: var(--borderColor);
    --btnOff_BgColor2: var(--white);
    // disabled 
    --btnDis_ftColor: #c4c4c4;
    --btnDis_BorderColor: #eceff1;
    --btnDis_bgColor: #eceff1;
    // delete(red) 
    --btnDlt_ftColor: #ffffff;
    --btnDlt_BorderColor: #f65a5a;
    --btnDlt_shadow: none;
    --btnDlt_bgColor: #f65a5a;
    // sub on (dark purple)
    --btnFtColor3: #ffffff;
    --btnBorderColor3: #8c6bfb;
    --btnBgColor3: #8c6bfb;
    // sub off (dark purple)
    --btnFtColor4: #ffffff;
    --btnBorderColor4: #ccc6d8;
    --btnShadow4: none;
    --btnBgColor4: #ccc6d8;
    // white
    --btnFtColor5: var(--pointColor);
    --btnBorderColor5: var(--pointColor);
    --btnBgColor5: #ffffff;
    // skyblue - B(point), C: B_point
    --btnFtColor6: var(--ftColor13);
    --btnBgColor6: var(--pointColor8);


    //* Table */
    // table - thead, tbody 
    --tblBorderColor: #e6e6e6;
    --tblBgColor: #ffffff;
    // important bg
    --tblEmBgColor: #e15b5b; // B: none, C: deep red
    --tblEmBgColor2: #ff8585; // B: none, C: deep red
    // table - thead */
    --tblTheadBgColor: #3c71fd;
    --tblTheadBgColor2: #6d95ff;
    --tblTheadBgColor3: #9eb8ff; // B: dark blue, C: white blue
    --tblTheadBgColor4: #f6f6f6; // tr 두번째 줄
    --tblTheadBgColor5: #f6f6f6; // tr even 
    --tblTheadBgColor6: #ffffff; // B: dark blue, C: white
    --tblTheadBgColor7: #3c71fd;
    --tblTheadBgColor8: #9eb8ff;
    --tblTheadBgColor9: #f6f6f6; // B: dark blue, C: white gray
    --tblTheadBgColor10: #f6f6f6; // row thead th
    --tblTheadBgColor11: #f6f6f6;
    --tblTheadBgColor12: #6d95ff;
    --tblTheadBgColor13: #f6f6f6;
    --tblTheadBgColor14: #3c71fd; // div table thead th
    --tblTheadBgColor15: #f6f6f6;
    --tblTheadBgColor16: #6a92fc;
    // table- bg 
    --tblBgColor2: #a2bdf3;
    --tblBgColor3: #6368ef;
    --tblBgColor4: #71aaff;
    --tblBgColor5: #ffffff;
    --tblBgColor6: #ffffff;
    --tblBgColor7: #e9f6ff;
    --tblBgColor8: #ebf1fe;
    --tblBgColor9: #abc2ff;
    --tblBgColor10: #7198ff;

    //* graph */
    --graphFtColor: #c1c8db;
    --graphBarColor: #c1c8db;
    --graphBgColor: #e4e4e5;

    // label 
    --labelColor: #38ddff;
    --labelColor2: #8c6bfb;
    --labelColor3: #51ca9e;
    --labelColor4: #1081f6;
    --labelColor5: #ff9e2e;
    --labelColor6: #098a78;
    --labelColor7: #f588b7;
    --labelColor8: #ff7a7a;
    --labelColor9: #fa859c;
    --labelColor10: #07e6ff;
    --labelColor11: #34c38f;
    --labelColor12: #fce56b;
    --labelColor13: #5d72ff;
    --labelColor14: #ae6bfb;

    //* input */
    --ipBorderColor: #d6d6d6;
    --ipBgColor: #ffffff;
    // placeholder
    --ipFtColor_placeholder: #bbbbbb;
    // disabled 
    --ipFtColor_disabled: #c4c4c4;
    --ipBorderColor_disabled: #d6d6d6;
    --ipBgColor_disabled: #eceff1;
    // toggle 
    --ipToggleFt_off: #ffffff;
    --ipToggleBorder_off: var(--btnOff_BorderColor);
    --ipToggleDot_off: #ffffff;
    --ipToggleBg_off: var(--btnOff_BgColor);
    --ipToggleFt_on: #ffffff;
    --ipToggleBorder_on: var(--pointColor);
    --ipToggleDot_on: #ffffff;
    --ipToggleBg_on: var(--pointColor);
    --ipToggleFt_disabled: #c4c4c4;
    --ipToggleBorder_disabled: var(--btnDis_BorderColor);
    --ipToggleDot_disabled: #c4c4c4;
    --ipToggleBg_disabled: var(--btnDis_bgColor);

    //* slick */
    --slickDot: #cecece;
    --slickDot_active: var(--pointColor2);

    //* tab */
    --tabFtColor: var(--btnOff_ftColor);
    --tabBorder: var(--btnOff_BorderColor);
    --tabBgColor: var(--btnOff_BgColor);
    // tab 2
    --tabBorderColor2: var(--btnOff_BorderColor);
    --tabBgColor2_on: var(--white);
    // tab 3
    --tabBorderColor3: var(--borderColor);
    --tabShadow3: none;
    --tabBgColor3: var(--white);
    --tabBorderColor3_on: var(--pointColor);
    --tabShadow3_on: none;
    --tabBgColor3_on: #ffffff;
    --tabBgColor3_on2: none;
    --tabZindex3: 1;
    // tab 4
    --tabFtColor4: var(--white);
    --tabBorderColor4: var(--white);
    --tabBgColor4: var(--btnOff_BgColor);
    --tabBorder4_on: var(--tabBorder);
    --tabBgColor_on: var(--btnMain_bgColor);
    // tab 5
    --tabFtColor5: var(--subFtColor);
    --tabBorderColor5: var(--btnOff_BorderColor);
    --tabBgColor5: #ffffff;
    --tabBorderColor5_on: var(--pointColor);

    // tab 6
    --tabBorderColor6: #e5e5e5;
    --tabShadow6: none;
    --tabBgColor6: #ffffff;
    --tabBorder6_on: var(--pointColor);
    --tabShadow6_on: none;
    --tabBgColor6_on: #ffffff;
    --tabBgColor6_on2: none;
    // --tabZindex6: none;



    //* tabView */
    --tabViewBorder: 1px solid var(--pointColor);
    --tabViewBorder2: 1px solid var(--borderColor);

    //* box layout */
    --boxBorderColor: var(--borderColor);
    --boxShadow: none;
    --boxBgColor: var(--white);
    // boxLayout 2
    --boxBorder2: 1px solid var(--borderColor);
    --boxShadow2: none;
    --boxBgColor2: var(--white);
    // boxLayout 3
    --boxBorderColor3: var(--borderColor);
    --boxShadow3: none;
    --boxBgColor3: var(--white);
    // boxLayout 4
    --boxBorderColor4: var(--borderColor);
    // boxLayout 5
    --boxBorderColor5: var(--borderColor);
    --boxBgColor5: var(--white);
    // boxLayout 6
    --boxftColor6: var(--pointColor);
    --boxBorderColor6: var(--pointColor);
    --boxBorderColor6_hover: 1px solid var(--pointColor);
    --boxShadow6: none;
    --boxShadow6_hover: none;
    --boxBgColor6: var(--white);
    --boxBgColor6_hover: var(--pointColor);
    // boxLayout 7
    --boxBorderColor7: var(--borderColor);
    --boxBgColor7: var(--white);
    // boxLayout 8
    --boxBorderColor8: #ebebeb;
    --boxBgColor8: #ffffff;
    // boxLayout 10
    --boxBorderColor10: var(--borderColor);
    --boxBgColor10: var(--bgColor);

    //* grid */
    // on, active border color
    --boxOnColor: rgba(255, 0, 0, 1); //B: black, C: black(opacity: 50%)
    --boxOnColor2: #ee00ff; //B: WHITE, C: pink
    --boxOnColor3: var(--pointColor); //B: WHITE, C: point
    --boxOnColor4: #ff6767; //B: WHITE, C: red
    // box bg color
    --boxColor1: #a2bdf3;
    --boxColor2: #6368ef;
    --boxColor3: #4074ff;
    --boxColor4: #9d48ff;
    --boxColor5: #71aaff;
    --boxColor6: #3633a5;
    --boxColor7: #3cd5fd;
    --boxColor8: #26c0e1;
    --boxColor9: #202c6e;
    --boxColor10: #3c31e1;
    --boxColor11: #536ef1;
    --boxColor12: #1e9af9;
    --boxColor13: #6f0ae3;
    --boxColor14: #32006e;
    // box t2
    --boxColor2_1: #f2638f;
    --boxColor2_2: #5a55e3;
    --boxColor2_3: #2ed1aa;
    --boxColor2_4: #1081f6;
    --boxColor2_5: #ae6bfb;
    // box t3 // 데이터 매니저 박스
    --boxColor3_1: #a2bdf3;
    --boxColor3_2: #6368ef;
    --boxColor3_3: #26c0e1;
    --boxColor3_4: #9d48ff;
    --boxColor3_5: #71aaff;
    --boxColor3_6: #3cd5fd;
    --boxColor3_7: #202c6e;
    --boxColor3_8: #6f0ae3;
    --boxColor3_9: #3633a5;
    --boxColor3_10: #1e9af9;
    --boxColor3_11: #6f0ae3;
    --boxColor3_12: #32006e;

    //* z-index */
    --zIndex: 1; // none, 1

    //* ico */
    --ico_color: var(--pointColor); //  pointColor
    --ico_color2: #222222; // B: fff, C: 222
    --ico_color3: #aaaaaa; // B: 2d5a7d, C: ebebeb
    --ico_color4: #ffffff; // B: point, C: ffffff
    --ico_color5: var(--pointColor); // B: fff, C: point
    --ico_color6: var(--btnOff_BgColor); // B: dark blue, C: btnOff_bgColor
    --ico_color7: var(--borderColor); //B: 2e3765, C, borderColor
    --ico_color8: var(--white); // B: bgColor, C: ffffff
    --ico_color9: var(--pointColor); // B: darkblue, C: pointColor
    --ico_color10: var(--subFtColor); // subFtColor
    --ico_color11: #ffffff; // B: darkblue, C: fff
    --ico_color12: #c4c4c4; // B: btnDis_ft , C: btnDis_ft
    --ico_color13: #ffffff; // B: 222222 , C: ffffff

    //* modal */
    --ico_closeColor: #222222;
    --modalBorderColor: var(--borderColor);
    --modalShadow: 0 0 10px 0 var(--borderColor),
    inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
    --modalBgColor: #ffffff;

    //* Etc */
    --etcColor: var(--pointColor2); // B: blue, C: purple (campaignList)
    --etcColor2: #f2638f; // B: point, C: pink
    --etcColor3: #f6f6f6; // B: blue, C: gray
    --etcColor4: #f5faff; // B: blue, C: sky blue
    --etcColor5: #ebebeb; // B: blue, C: gray
    --etcColor6: var(--pointColor); // B: darkblue, C: pointColor
    --etcColor7: #aaaaaa; // B: whiteblue, C: white gray



    .grid_contents_wrap {
        --ftColor20: var(--pointColor); // 위젯 타이틀 컬러
    }
}