@charset 'utf-8';

/*
File   : modalLayout.scss
Date   : 2024.02.06
*/


//* dim */
@mixin modalDim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.5;
  z-index: 1000; // HEADER 영역때문에 수정함
}

.modalDim {
  @include modalDim;
}

//* modal  */
@mixin modal {
  display: none;
  z-index: 999; // HEADER 영역때문에 수정함

  &.modalOn {
    display: block;
  }
}

//*  layout */
@mixin modalPosition {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border-radius: 5px;
  // box-shadow: 0 0 12px 0 rgba(21, 21, 21, 0.16);
  // background-color: #ffffff;
  overflow: hidden;
  z-index: 1001;
}


//* box */
@mixin modalBox {
  // position: absolute;
  //   display: flex; // 컨퍼런스 이후 수정 - 1/3
  // flex-direction: column; // 컨퍼런스 이후 수정 -2/3
  border-radius: 5px;
  border: 1px solid var(--modalBorderColor);
  box-shadow: var(--modalShadow);
  background-color: var(--modalBgColor);
  z-index: 1001;
}

//* title */
@mixin modalTitle($pd:15px 30px 0 30px) {
  @include box_shadow_b;
  height: 58px;
  // min-height: 58px;
  font-size: 18px;
  padding: $pd;

  p {
    display: inline-block;
    padding: 6px 0 0 0;
  }

  button {
    position: relative;
    float: right;
    right: -2px;
    padding: 15px;

    &.close {
      @include btnLayout;
      @include ico_closeS;
      font-size: 0;
    }
  }
}

//* title text none */
@mixin modalTitle_t2($pd:15px 30px 0 30px) {
  height: 48px;
  // min-height: 48px;
  font-size: 18px;
  padding: $pd;

  button {
    position: relative;
    float: right;
    right: -2px;
    padding: 15px;

    &.close {
      @include btnLayout;
      @include ico_closeS;
      font-size: 0;
    }
  }
}

//* content */
@mixin modalContent {
  position: relative;
  // flex-grow:1; // 컨퍼런스이후 수정 3/3
  width: calc(100% - 20px);
  max-height: 650px;
  margin: 10px 10px 0 10px;
  padding: 10px 10px 20px 20px;
  overflow-y: auto;
}

//* modalFooter */
@mixin modalFooter() {
  @include box_shadow_t;
  padding-top: 30px;
  margin-top: 10px;
  text-align: center;

  button {
    @include btnLayout;
    min-width: 140px;
    height: 44px;
    margin-left: 14px;
    border-radius: 22px;
    font-size: 16px;

    &:first-child {
      margin-left: 0;
    }

    &.create,
    &.modify,
    &.confirm {
      @include btn_main;
    }

    &.cancel {
      @include btn_off;
    }

    &.delete {
      @include btn_delete;
    }
  }
}

//* modalFooter - border none  */
@mixin modalFooter_t2($footer_margin:10px 0 0 0) {
  margin: $footer_margin;
  // padding: $pd;
  text-align: center;

  button {
    @include btnLayout;
    @include btn_main;
    min-width: 140px;
    height: 44px;
    margin-left: 14px;
    border-radius: 22px;
    font-size: 16px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(2) {
      @include btn_off;
    }

    &.create,
    &.modify,
    &.confirm {
      @include btn_main;
    }

    &.cancel {
      @include btn_off;
    }

    &.delete {
      @include btn_delete;
    }
  }
}

//* layout */
@mixin modalLayout {
  @include modal;

  .modalContainer {
    @include modalPosition();
    @include modalBox;

    .modalTitle {
      @include modalTitle;
    }

    .modalContent {
      @include modalContent;
    }

    .modalFooter {
      @include modalFooter;
    }
  }

  .modalDim {
    @include modalDim;
  }
}

//* footer border none  */
@mixin modalLayout_t2 {
  @include modal;

  .modalContainer {
    @include modalPosition();
    @include modalBox;
    // @include modalContainer;

    .modalTitle {
      @include modalTitle;
    }

    .modalContent {
      @include modalContent;
    }

    .modalFooter {
      @include modalFooter_t2;
    }
  }

  .modalDim {
    @include modalDim;
  }
}

//* footer border none  */
@mixin modalLayout_t3 {
  @include modal;

  .modalContainer {
    @include modalPosition();
    @include modalBox;

    .modalTitle {
      @include modalTitle_t2;
    }

    .modalContent {
      @include modalContent;
    }

    .modalFooter {
      @include modalFooter_t2;
    }
  }

  .modalDim {
    @include modalDim;
  }
}