@charset "UTF-8";
/*
File   : theme.scss
Date   : 2023.02.15
*/

html {
    --white: #ffffff;
    --black: #000000;
    --red: #ff0000;
    --red2: #e31737;

    &.scrollB {
        --mainColor: #07e6ff;
    }

    &.scrollC {
        --mainColor: #3c71fd;
    }
}

.wrap {

    //* TYPE B (BLUE) */
    &.typeB {

        //* basic */
        --mainColor: #07e6ff;
        --ftColor: #ffffff;
        --subFtColor: #91aed5;
        --borderColor: #3f7197;
        --bgColor: #0a072b;

        // point 
        --pointColor: #07e6ff;
        --pointColor2: #ae6bfb;
        --pointColor3: #65fbd7;
        --pointColor4: #ff6767;
        --pointColor5: #5ab7ff; // 3 set - 1
        --pointColor6: #22f486; // 3 set - 2
        --pointColor7: #ff6767; // 3 set - 3

        // point - etc
        --issueColor: #ffcf31;
        --issueColor2: transparent; // B: trnasparent, C: issue
        --issueColor3: var(--issueColor); // B: issue, C: white
        --issueColor4: #ffcf31; // B: issue, C: black
        --waitColor: #f5a123;
        --errorColor: #ff6767;
        --normalColor: #ffffff; // B: white, C: point
        --normalColor2: transparent; // B: trnasparent, C: point
        --noneColor: var(--btnOff_ftColor);
        --noneColor2: #3f7197;

        //* Font */
        --ftColor2: var(--pointColor); // B : point, C : black
        --ftColor3: #000000; // B : black, C : white
        --ftColor4: #ffffff; // B : white, C : white
        --ftColor5: #ffffff; // B : white, C : point
        --ftColor6: #ffffff; // B : white, C : black
        // etc
        --ftColor7: #ff6091;
        --ftColor8: #ff9e2e;
        // up & down 
        --upColor: #ff6767;
        --downColor: #5ab7ff;

        // border
        --border2: none;
        --borderColor2: #000000; // B: black, C: borderColor
        --borderColor3: #2e3765; // title bottom  
        --borderColor4: #3d4a87; // checkboxBtn 
        --borderColor5: #3d4a87; // box
        --borderColor6: none; // B: none, C: gray
        --borderColor7: none; // B: none, C: borderColor
        --borderColor8: var(--borderColor); // B: borderColor, C: pointColor
        --borderColor9: #182152; // B: dark navy, C: borderColor
        --borderColor10: #ffffff; // B: WHITE, C: BLACK
        --borderColor11: #8441d3;

        // bgColor 
        --bgColor2: var(--bgColor); // B: bgColor C: bgColor
        --bgColor3: #5a55e3; // notice
        --bgColor4: #2b3468;
        --bgColor5: #060f3b; // B : dark blue C : white gray
        --bgColor6: #151c4f; // B : dark blue C : white
        --bgColor7: transparnet; // B : NONE, C : btnOff
        --bgColor8: transparnet; // B : NONE C : point
        --bgColor9: #060f3b; // B : dark blue C : white
        --bgColor10: transparnet; // B : NONE, C : white
        --bgColor11: #182152; // B: dark blue, C: white;
        --bgColor12: #ffffff; // B: white, C: btnOff;
        --bgColor13: #ffffff; // B: white, C: point;
        --bgColor14: #0a072b; // B: dark blue, C: white;

        // scroll 
        --scrollbarColor: #ebebeb;
        --scrollThumbColor: var(--pointColor);

        //* gradient */
        --gradient: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, rgba(7, 170, 255, 1) 50%, rgba(7, 170, 255, 0) 100%); // C: none
        --gradient2: radial-gradient(ellipse farthest-corner at, rgba(76, 235, 232, 1) 0%, rgba(76, 235, 232, 1) 50%, rgba(28, 190, 248, 0) 70%, rgba(7, 170, 255, 0) 100%); // C: none
        --gradient3: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, rgba(174, 107, 251, 1) 50%, rgba(7, 170, 255, 0) 100%); // C: none

        //* DISPLAY */
        --display: block;

        // shadow 
        --shadow: 0 0 20px 0 var(--pointColor); // B: point, C: point
        --shadow2: 0 0 20px 0 var(--pointColor); // C: none
        --shadow3: 0 2px 0 0 rgba(0, 0, 0, 0.5),
            inset 0 0 30px 0 rgba(255, 255, 255, 0.1); // C : none
        --shadow4: 0.8px 0px 5px 0 rgba(0, 0, 0, 0.15); // C : none

        //* header */
        --headerFtColor : #{$headerFtColor};
        --headerBorderColor: #0c1439;
        --headerStoreBorderColor : #{$headerStoreBorderColor};
        --headerUserBgColor: #182152;
        --headerBgColor: #0c1439;
        --ico_userInfo: var(--pointColor);

        //* navigation */
        --ico_navColor_on: var(--pointColor); //ico on
        --ico_navColor_off: var(--white); //ico off
        --navFtColor: var(--ftColor);
        --navFtColor2: #ffffff; // nav 하위 폰트 색상
        --navOnFtColor: var(--pointColor);
        --navBorderGradient: var(--gradient);
        --navShadow: 0 2px 0 0 rgba(0, 0, 0, 0.5),
            inset 0 0 15px 0 rgba(255, 255, 255, 0.05);
        --navCloseBorderColor : #{$navCloseBorderColor};
        --navCloseBgColor : #{$navCloseBgColor};
        --navBgColor: #0c1439;
        --navBgColor2: #161e48; // 1depth active
        --navBgColor3: #161e48; // 2depth

        // iMarkHover 
        --bubbleBorderColor: #293363;
        --bubbleBgColor: #293363;
        --bubbleShadow: 0 0 10px 0 rgba(140, 228, 252, 0.5);

        //* button */
        // main 1 - on (sky blue)
        --btnMain_ftColor: #182152;
        --btnMain_bgColor: var(--pointColor);
        // main 2 - on (dark blue)
        --btnMain_ftColor2: var(--pointColor);
        --btnMain_border2: 2px solid var(--pointColor);
        --btnMain_shadow2: 0 0 5px 0 var(--pointColor);
        --btnMain_bgColor2: #111a46;
        // off
        --btnOff_ftColor: #80b6d6;
        --btnOff_BorderColor: #133b6d;
        --btnOff_BgColor: #133b6d;
        // off2 // B: off, C: white
        --btnOff_ftColor2: #80b6d6;
        --btnOff_BorderColor2: #133b6d;
        --btnOff_BgColor2: #133b6d;
        // disabled
        --btnDis_ftColor: #7696aa;
        --btnDis_BorderColor: #466182;
        --btnDis_bgColor: #466182;
        // delete(red) 
        --btnDlt_ftColor: #ffffff;
        --btnDlt_BorderColor: #f65a5a;
        --btnDlt_shadow: 0 0 5px 0 #f65a5a;
        --btnDlt_bgColor: #f65a5a;
        // sub on (dark purple)
        --btnFtColor3: #ae6bfb;
        --btnBorderColor3: #ae6bfb;
        --btnBgColor3: #111a46;
        // sub off (dark purple)
        --btnFtColor4: #947ead;
        --btnBorderColor4: #492c6a;
        --btnShadow4: 0 0 5px 0 #ae6bfb;
        --btnBgColor4: #492c6a;
        // white
        --btnFtColor5: var(--white);
        --btnBorderColor5: var(--white);
        --btnBgColor5: transparent;

        //* Table */
        // table - thead, tbody 
        --tblBorderColor: #2b3671;
        --tblBgColor: #0f163d;
        // table - thead */
        --tblTheadBgColor: #4559bb;
        --tblTheadBgColor2: #7689e5;
        --tblTheadBgColor3: #0a072b; // B: dark blue, C: white blue
        --tblTheadBgColor4: #070f34;
        --tblTheadBgColor5: #212c67;
        --tblTheadBgColor6: #182152; // B: dark blue, C: white
        --tblTheadBgColor7: #060f3b;
        --tblTheadBgColor8: #9eb8ff;
        --tblTheadBgColor9: #0a072b; // B: dark blue, C: white gray
        --tblTheadBgColor10: #0f1444; // row thead th
        --tblTheadBgColor11: #4559bb; // blue, white gray
        --tblTheadBgColor12: #2e3765;
        --tblTheadBgColor13: #212a58;
        --tblTheadBgColor14: #5360c0; // div table thead th
        // important bg
        --tblEmBgColor: var(--tblTheadBgColor); // B: none, C: deep red
        // --tblEmBgColor2: none; // B: none, C: deep red
        // table- bg 
        --tblBgColor2: #407faa;
        --tblBgColor3: #3e4aa3;
        --tblBgColor4: #2e60d1;
        --tblBgColor5: #4559bb;
        --tblBgColor6: #0a1133;


        //* graph */
        --graphFtColor: #407faa;
        --graphBarColor: #407faa;
        --graphBgColor: #133b6d;

        //* label */
        --labelColor: var(--pointColor);
        --labelColor2: var(--pointColor2);
        --labelColor3: var(--pointColor3);
        --labelColor4: #1081f6;
        --labelColor5: #ff9e2e;
        --labelColor6: #098a78;
        --labelColor7: #ffacd0;

        //* input */
        --ipBorderColor: #3f7197;
        --ipBgColor: #192044; // checkBox bg
        // placeholder
        --ipFtColor_placeholder: #3f7197;
        // disabled
        --ipFtColor_disabled: #7696aa;
        --ipBorderColor_disabled: #5e799a;
        --ipBgColor_disabled: #466182;
        // toggle 
        --ipToggleFt_off: #407faa;
        --ipToggleBorder_off: #407faa;
        --ipToggleDot_off: #407faa;
        --ipToggleBg_off: #0a072b;
        --ipToggleFt_on: #ffffff;
        --ipToggleBorder_on: var(--pointColor);
        --ipToggleDot_on: var(--pointColor);
        --ipToggleBg_on: #111a46;
        --ipToggleFt_disabled: var(--btnDis_ftColor);
        --ipToggleBorder_disabled: var(--btnDis_BorderColor);
        --ipToggleDot_disabled: #7696aa;
        --ipToggleBg_disabled: var(--btnDis_bgColor);

        //* tab */
        // tab 1 >> btn Color 사용
        // tab 2
        --tabBorder: #3d4a87;
        // tab 3
        --tabBorderColor3: #232357;
        --tabShadow3: inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
        --tabBgColor3: #111b46;
        --tabBorderColor3_on: #232357;
        --tabShadow3_on: 0 2px 0 0 rgba(0, 0, 0, 0.16),
            inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
        --tabBgColor3_on: #182152;
        --tabBgColor3_on2: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, rgba(7, 170, 255, 1) 50%, rgba(7, 170, 255, 0) 100%);
        --tabZindex3: none;
        // tab 5
        --tabFtColor5: var(--subFtColor);
        --tabBorderColor5: #2b3671;
        --tabBgColor5: #0f163d;
        --tabBorderColor5_on: #2b3671;
        // tab 6
        --tabBorderColor6: #232357;
        --tabShadow6: inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
        --tabBgColor6: #111b46;
        --tabBorder6_on: #232357;
        --tabShadow6_on: 0 2px 0 0 rgba(0, 0, 0, 0.16),
            inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
        --tabBgColor6_on: #182152;
        --tabBgColor6_on2: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, rgba(7, 170, 255, 1) 50%, rgba(7, 170, 255, 0) 100%);
        // --tabZindex6: none;


        //* tabView */
        --tabViewBorder: none;
        --tabViewBorder2: none;

        //* box layout */
        --boxBorderColor: #232357;
        --boxShadow: 0 2px 0 0 rgba(0, 0, 0, 0.5),
            inset 0 0 15px 0 rgba(255, 255, 255, 0.05);
        --boxBgColor: #111a46;
        // boxLayout 2, 4, 5
        --boxBorder2: none;
        --boxShadow2: 0 2px 0 0 rgba(0, 0, 0, 0.16),
            inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
        --boxBgColor2: #182152;
        // boxLayout 3
        --boxBorderColor3: var(--boxBorderColor);
        --boxShadow3: var(--shadow3);
        --boxBgColor3: #182152;
        // boxLayout 4
        --boxBorderColor4: var(--boxBorderColor);
        // boxLayout 5
        --boxBorderColor5: #0a072b;
        --boxBgColor5: #111a46;
        // boxLayout 6
        --boxftColor6: var(--pointColor);
        --boxBorderColor6: #133b6d;
        --boxBorderColor6_hover: 1px solid #133b6d;
        --boxShadow6: 0 2px 0 0 rgba(0, 0, 0, 0.16),
            inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
        --boxShadow6_hover: 0 0 5px 0 #07e6ff;
        --boxBgColor6: #133b6d;
        --boxBgColor6_hover: #133b6d; // boxLayout 7
        --boxBorderColor7: #2b3671;
        --boxBgColor7: #0f163d;

        //* grid */
        // on, active border color
        --boxOnColor: #ffffff; //B: WHITE, C: WHITE
        --boxOnColor2: #ffffff; //B: WHITE, C: pink
        --boxOnColor3: #ffffff; //B: WHITE, C: point
        --boxOnColor4: var(--upColor); //B: red, C: red        
        // box bg color
        --boxColor1: #bdb6d5;
        --boxColor2: #d561ba;
        --boxColor3: #d52f82;
        --boxColor4: #e950ac;
        --boxColor5: #8e7bb3;
        --boxColor6: #744684;
        --boxColor7: #c562cf;
        --boxColor8: #473974;
        --boxColor9: #362f58;
        --boxColor10: #603578;
        --boxColor11: #903e88;
        --boxColor12: #9948b5;
        --boxColor13: #be4a9f;
        --boxColor14: #864879; // 미지의 컬러..
        // box t2
        --boxColor2_1: #f2638f;
        --boxColor2_2: #5a55e3;
        --boxColor2_3: #2ed1aa;
        --boxColor2_4: #1081f6;
        --boxColor2_5: #ae6bfb;
        // box t3 // 데이터 매니저 박스
        --boxColor3_1: #7373be;
        --boxColor3_2: #529ff8;
        --boxColor3_3: #cd6fd9;
        --boxColor3_4: #fc91aa;
        --boxColor3_5: #ffbd53;
        --boxColor3_6: #66b298;
        --boxColor3_7: #c8795a;
        --boxColor3_8: #7435b2;
        --boxColor3_9: #a4b494;
        --boxColor3_10: #52ccda;
        --boxColor3_11: #ff6363;
        --boxColor3_12: #3f3351;


        //* z-index */
        --zIndex: auto; // none, 1

        //* image.scss > ico */
        --ico_color: var(--pointColor); //  pointColor
        --ico_color2: #ffffff; // B: fff, C: 222
        --ico_color3: #2d5a7d; // B: 2d5a7d, C: aaaaaa
        --ico_color4: var(--pointColor); // B: point, C: ffffff
        --ico_color5: #fff; // B: fff, C: point
        // --ico_color6: #fff; // B: fff, C: btnOff_borderColor
        --ico_color6: var(--btnOff_BgColor); // B, C: btnOff_bgColor
        --ico_color7: #2e3765; //B: 2e3765, C, borderColor
        --ico_color8: var(--bgColor); // B: bgColor, C: ffffff
        --ico_color9: #0a072b; // B: darkblue, C: pointColor


        //* modal */
        --ico_closeColor: #2d5a7d;
        --modalBorderColor: var(--pointColor);
        --modalShadow: 0 0 10px 0 var(--mainColor),
            inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
        --modalBgColor: #151c4f;

        //* Etc */
        --etcColor: #204177; // B: blue, C: purple
        --etcColor2: var(--pointColor); // B: point, C: pink
        --etcColor3: #192044; // B: blue, C: gray
        --etcColor4: #0f1444; // B: blue, C: sky blue
        --etcColor5: #204177; // B: blue, C: gray
        --etcColor6: #0a072b; // B: darkblue, C: pointColor
    }

    //* typeC (WHITE) */
    &.typeC {
        // basic
        --mainColor: #3c71fd;
        --ftColor: #222222;
        --subFtColor: #999999;
        --borderColor: #e6e6e6;
        --bgColor: #f6f6f6;

        // point 
        --pointColor: #3c71fd;
        --pointColor2: #8c6bfb;
        --pointColor3: #51ca9e;
        --pointColor4: #ff6767;
        --pointColor5: #39a8ff; // 3 set - 1
        --pointColor6: #23bc85; // 3 set - 2
        --pointColor7: #ff6767; // 3 set - 3
        // point - etc
        --issueColor: #ffcf31;
        --issueColor2: var(--issueColor); // B: trnasparent, C: issue
        --issueColor3: var(--white); // B: issue, C: white
        --issueColor4: var(--ftColor); // B: issue, C: black
        --waitColor: #f5a123;
        --errorColor: #ff6767;
        --normalColor: var(--pointColor); // B: white, C: point
        --normalColor2: var(--pointColor); // B: trnasparent, C: point
        --noneColor: #80b6d6;
        --noneColor2: #3f7197;


        //* Font */
        --ftColor2: var(--ftColor); // B : point, C : black
        --ftColor3: #ffffff; // B : black, C : white
        --ftColor4: #ffffff; // B : white, C : white
        --ftColor5: var(--pointColor); // B : white, C : point
        --ftColor6: #222222; // B : white, C : black
        // etc
        --ftColor7: #ff6091;
        --ftColor8: #ff9e2e;
        // up & down 
        --upColor: #ff5353;
        --downColor: #1081f6;

        // border
        --border2: 1px solid var(--borderColor);
        --borderColor2: #e6e6e6; // B: black, C: borderColor
        --borderColor3: #e6e6e6; // title bottom 
        --borderColor4: #ffffff; // checkboxBtn 
        --borderColor5: #ebebeb; // box
        --borderColor6: #aaaaaa; // B: none, C: gray
        --borderColor7: #e5e5e5; // B: none, C: borderColor
        --borderColor8: var(--pointColor); // B: borderColor, C: pointColor
        --borderColor9: var(--borderColor); // B: dark navy, C: borderColor
        --borderColor10: #000000; // B: WHITE, C: BLACK
        --borderColor11: #8441d3;


        // bgColor 
        --bgColor2: var(--mainColor);
        --bgColor3: var(--mainColor);
        --bgColor4: var(--bgColor);
        --bgColor5: #f9f9f9; // B : dark blue C : white gray
        --bgColor6: #ffffff; // B : dark blue C : white
        --bgColor7: var(--btnOff_BgColor); // B : NONE C : btnOff
        --bgColor8: var(--pointColor); // B : NONE C : point
        --bgColor9: #ffffff; // B : NONE C : white
        --bgColor10: #ffffff; // B : NONE, C : white
        --bgColor11: #ffffff; // B: dark blue, C: white;
        --bgColor12: var(--btnOff_BgColor); // B: white, C: point;
        --bgColor13: var(--pointColor); // B: white, C: point;
        --bgColor14: #ffffff; // B: dark blue, C: white;

        // scroll 
        --scrollbarColor: #ebebeb;
        --scrollThumbColor: var(--mainColor);

        //* gradient */
        --gradient: none;
        --gradient2: none;
        --gradient3: none;

        //* DISPLAY */
        --display: none;

        // shadow 
        --shadow: 0 0 20px 0 var(--pointColor);
        --shadow2: none;
        --shadow3: none;
        --shadow4: none;


        //* header */
        --headerFtColor: #777777;
        --headerBorderColor: #e9e9e9;
        --headerStoreBorderColor: #d1d1d1;
        --headerUserBgColor: #ffffff;
        --headerBgColor: #ffffff;
        --ico_userInfo: var(--pointColor);

        //* navigation */
        --ico_navColor_on: var(--white); //ico on
        --ico_navColor_off: #777777; //ico off
        --navBorderColor: #ffffff;
        --navFtColor: #777777; //1depth 하위 폰트 색상
        --navFtColor2: #777777; //2depth 하위 폰트 색상
        --navOnFtColor: var(--white);
        --navShadow: none;
        --navCloseBorderColor: #d1d1d1;
        --navCloseBgColor: var(--mainColor);
        --navBgColor: var(--white);
        --navBgColor2: var(--mainColor); // 1depth active
        --navBgColor3: #f6f6f6; // 2depth

        //* iMarkHover */
        --bubbleBorderColor: #ffffff;
        --bubbleBgColor: #ffffff;
        --bubbleShadow: 0 5px 10px 0 rgba(34, 34, 34, 0.1);


        //* button */
        // main 
        --btnMain_ftColor: var(--white);
        --btnMain_bgColor: var(--pointColor);
        // --btnMain_ftColor2: var(--btnMain_ftColor);
        // --btnMain_borderColor2: var(--pointColor);
        // --btnMain_shadow2: none;
        // --btnMain_bgColor2: var(--pointColor);

        --btnMain_ftColor2: var(--pointColor);
        --btnMain_border2: 1px solid var(--pointColor);
        --btnMain_shadow2: none;
        --btnMain_bgColor2: #e9f6ff;

        // off
        --btnOff_ftColor: var(--white);
        --btnOff_BorderColor: #c1c8db;
        --btnOff_BgColor: #c1c8db;
        // off2 : white 
        --btnOff_ftColor2: var(--ftColor);
        --btnOff_BorderColor2: var(--borderColor);
        --btnOff_BgColor2: var(--white);
        // disabled 
        --btnDis_ftColor: #c4c4c4;
        --btnDis_BorderColor: #eceff1;
        --btnDis_bgColor: #eceff1;
        // delete(red) 
        --btnDlt_ftColor: #ffffff;
        --btnDlt_BorderColor: #f65a5a;
        --btnDlt_shadow: none;
        --btnDlt_bgColor: #f65a5a;
        // sub on (dark purple)
        --btnFtColor3: #ffffff;
        --btnBorderColor3: #8c6bfb;
        --btnBgColor3: #8c6bfb;
        // sub off (dark purple)
        --btnFtColor4: #ffffff;
        --btnBorderColor4: #ccc6d8;
        --btnShadow4: none;
        --btnBgColor4: #ccc6d8;
        // white
        --btnFtColor5: var(--pointColor);
        --btnBorderColor5: var(--pointColor);
        --btnBgColor5: #ffffff;


        //* Table */
        // table - thead, tbody 
        --tblBorderColor: #e6e6e6;
        --tblBgColor: #ffffff;
        // important bg
        --tblEmBgColor: #e15b5b; // B: none, C: deep red
        --tblEmBgColor2: #ff8585; // B: none, C: deep red
        // table - thead */
        --tblTheadBgColor: #3c71fd;
        --tblTheadBgColor2: #6d95ff;
        --tblTheadBgColor3: #9eb8ff; // B: dark blue, C: white blue
        --tblTheadBgColor4: #f6f6f6;
        --tblTheadBgColor5: #f6f6f6; // tr even 
        --tblTheadBgColor6: #ffffff; // B: dark blue, C: white
        --tblTheadBgColor7: #3c71fd;
        --tblTheadBgColor8: #9eb8ff;
        --tblTheadBgColor9: #f6f6f6; // B: dark blue, C: white gray
        --tblTheadBgColor10: #f6f6f6; // row thead th
        --tblTheadBgColor11: #f6f6f6;
        --tblTheadBgColor12: #6d95ff;
        --tblTheadBgColor13: #f6f6f6;
        --tblTheadBgColor14: #3c71fd; // div table thead th
        // table- bg 
        --tblBgColor2: #a2bdf3;
        --tblBgColor3: #6368ef;
        --tblBgColor4: #71aaff;
        --tblBgColor5: #ffffff;
        --tblBgColor6: #ffffff;


        //* graph */
        --graphFtColor: #c1c8db;
        --graphBarColor: #c1c8db;
        --graphBgColor: #e4e4e5;

        // label 
        --labelColor: #38ddff;
        --labelColor2: #8c6bfb;
        --labelColor3: #51ca9e;
        --labelColor4: #1081f6;
        --labelColor5: #ff9e2e;
        --labelColor6: #098a78;
        --labelColor7: #f588b7;


        //* input */
        --ipBorderColor: #d6d6d6;
        --ipBgColor: #ffffff;
        // placeholder
        --ipFtColor_placeholder: #3f7197;
        // disabled 
        --ipFtColor_disabled: #c4c4c4;
        --ipBorderColor_disabled: #eceff1;
        --ipBgColor_disabled: #eceff1;
        // toggle 
        --ipToggleFt_off: #ffffff;
        --ipToggleBorder_off: var(--btnOff_BorderColor);
        --ipToggleDot_off: #ffffff;
        --ipToggleBg_off: var(--btnOff_BgColor);
        --ipToggleFt_on: #ffffff;
        --ipToggleBorder_on: var(--pointColor);
        --ipToggleDot_on: #ffffff;
        --ipToggleBg_on: var(--pointColor);
        --ipToggleFt_disabled: #c4c4c4;
        --ipToggleBorder_disabled: var(--btnDis_BorderColor);
        --ipToggleDot_disabled: #c4c4c4;
        --ipToggleBg_disabled: var(--btnDis_bgColor);


        //* tab */
        --tabFtColor: var(--btnOff_ftColor);
        --tabBorder: var(--btnOff_BorderColor);
        --tabBgColor: var(--btnOff_BgColor);
        // tab 2
        --tabBorder: #ffffff;
        // tab 3
        --tabBorderColor3: var(--borderColor);
        --tabShadow3: none;
        --tabBgColor3: var(--white);
        --tabBorderColor3_on: var(--pointColor);
        --tabShadow3_on: none;
        --tabBgColor3_on: #ffffff;
        --tabBgColor3_on2: none;
        --tabZindex3: 1;
        // tab 5
        --tabFtColor5: var(--subFtColor);
        --tabBorderColor5: var(--btnOff_BorderColor);
        --tabBgColor5: #ffffff;
        --tabBorderColor5_on: var(--pointColor);

        // tab 6
        --tabBorderColor6: #e5e5e5;
        --tabShadow6: none;
        --tabBgColor6: #ffffff;
        --tabBorder6_on: var(--pointColor);
        --tabShadow6_on: none;
        --tabBgColor6_on: #ffffff;
        --tabBgColor6_on2: none;
        // --tabZindex6: none;



        //* tabView */
        --tabViewBorder: 1px solid var(--pointColor);
        --tabViewBorder2: 1px solid var(--borderColor);

        //* box layout */
        --boxBorderColor: var(--borderColor);
        --boxShadow: none;
        --boxBgColor: var(--white);
        // boxLayout 2
        --boxBorder2: 1px solid var(--borderColor);
        --boxShadow2: none;
        --boxBgColor2: var(--white);
        // boxLayout 3
        --boxBorderColor3: var(--borderColor);
        --boxShadow3: none;
        --boxBgColor3: var(--white);
        // boxLayout 4
        --boxBorderColor4: var(--borderColor);
        // boxLayout 5
        --boxBorderColor5: var(--borderColor);
        --boxBgColor5: var(--white);
        // boxLayout 7
        --boxBorderColor7: var(--borderColor);
        --boxBgColor7: var(--white);

        // boxLayout 6
        --boxftColor6: #c9c9c9;
        --boxBorderColor6: #e5e5e5;
        --boxBorderColor6_hover: 1px solid var(--pointColor);
        --boxShadow6: none;
        --boxShadow6_hover: none;
        --boxBgColor6: var(--white);
        --boxBgColor6_hover: var(--white);

        //* grid */
        // on, active border color
        --boxOnColor: #ffffff; //B: WHITE, C: WHITE
        --boxOnColor2: #ee00ff; //B: WHITE, C: pink
        --boxOnColor3: var(--pointColor); //B: WHITE, C: point
        --boxOnColor4: #ff6767; //B: WHITE, C: red
        // box bg color
        --boxColor1: #a2bdf3;
        --boxColor2: #6368ef;
        --boxColor3: #4074ff;
        --boxColor4: #9d48ff;
        --boxColor5: #71aaff;
        --boxColor6: #3633a5;
        --boxColor7: #3cd5fd;
        --boxColor8: #26c0e1;
        --boxColor9: #202c6e;
        --boxColor10: #3c31e1;
        --boxColor11: #536ef1;
        --boxColor12: #1e9af9;
        --boxColor13: #6f0ae3;
        --boxColor14: #32006e;
        // box t2
        --boxColor2_1: #f2638f;
        --boxColor2_2: #5a55e3;
        --boxColor2_3: #2ed1aa;
        --boxColor2_4: #1081f6;
        --boxColor2_5: #ae6bfb;
        // box t3 // 데이터 매니저 박스
        --boxColor3_1: #a2bdf3;
        --boxColor3_2: #6368ef;
        --boxColor3_3: #26c0e1;
        --boxColor3_4: #9d48ff;
        --boxColor3_5: #71aaff;
        --boxColor3_6: #3cd5fd;
        --boxColor3_7: #202c6e;
        --boxColor3_8: #6f0ae3;
        --boxColor3_9: #3633a5;
        --boxColor3_10: #1e9af9;
        --boxColor3_11: #6f0ae3;
        --boxColor3_12: #32006e;

        //* z-index */
        --zIndex: 1; // none, 1

        //* ico */
        --ico_color: var(--pointColor); //  pointColor
        --ico_color2: #222222; // B: fff, C: 222
        --ico_color3: #aaaaaa; // B: 2d5a7d, C: ebebeb
        --ico_color4: #ffffff; // B: point, C: ffffff
        --ico_color5: var(--pointColor); // B: fff, C: point
        --ico_color6: var(--btnOff_BgColor); // B: dark blue, C: btnOff_bgColor
        --ico_color7: var(--borderColor); //B: 2e3765, C, borderColor
        --ico_color8: var(--white); // B: bgColor, C: ffffff
        --etcColor9: var(--pointColor); // B: darkblue, C: pointColor


        //* modal */
        --ico_closeColor: #222222;
        --modalBorderColor: var(--borderColor);
        --modalShadow: 0 0 10px 0 var(--borderColor),
            inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
        --modalBgColor: #ffffff;

        //* Etc */
        --etcColor: var(--pointColor2); // B: blue, C: purple (campaignList)
        --etcColor2: #f2638f; // B: point, C: pink
        --etcColor3: #f6f6f6; // B: blue, C: gray
        --etcColor4: #f5faff; // B: blue, C: sky blue
        --etcColor5: #ebebeb; // B: blue, C: gray
        --etcColor6: var(--pointColor); // B: darkblue, C: pointColor

    }
}

.typeB {

    //* basic */
    --mainColor: #07e6ff;
    --ftColor: #ffffff;
    --subFtColor: #91aed5;
    --borderColor: #3f7197;
    --bgColor: #0a072b;

    // point 
    --pointColor: #07e6ff;
    --pointColor2: #ae6bfb;
    --pointColor3: #65fbd7;
    --pointColor4: #ff6767;
    --pointColor5: #5ab7ff; // 3 set - 1
    --pointColor6: #22f486; // 3 set - 2
    --pointColor7: #ff6767; // 3 set - 3

    // point - etc
    --issueColor: #ffcf31;
    --issueColor2: transparent; // B: trnasparent, C: issue
    --issueColor3: var(--issueColor); // B: issue, C: white
    --issueColor4: #ffcf31; // B: issue, C: black
    --waitColor: #f5a123;
    --errorColor: #ff6767;
    --normalColor: #ffffff; // B: white, C: point
    --normalColor2: transparent; // B: trnasparent, C: point
    --noneColor: var(--btnOff_ftColor);
    --noneColor2: #3f7197;

    //* Font */
    --ftColor2: var(--pointColor); // B : point, C : black
    --ftColor3: #000000; // B : black, C : white
    --ftColor4: #ffffff; // B : white, C : white
    --ftColor5: #ffffff; // B : white, C : point
    --ftColor6: #ffffff; // B : white, C : black
    // etc
    --ftColor7: #ff6091;
    --ftColor8: #ff9e2e;
    // up & down 
    --upColor: #ff6767;
    --downColor: #5ab7ff;

    // border
    --border2: none;
    --borderColor2: #000000; // B: black, C: borderColor
    --borderColor3: #2e3765; // title bottom  
    --borderColor4: #3d4a87; // checkboxBtn 
    --borderColor5: #3d4a87; // box
    --borderColor6: none; // B: none, C: gray
    --borderColor7: none; // B: none, C: borderColor
    --borderColor8: var(--borderColor); // B: borderColor, C: pointColor
    --borderColor9: #182152; // B: dark navy, C: borderColor
    --borderColor10: #ffffff; // B: WHITE, C: BLACK
    --borderColor11: #8441d3;

    // bgColor 
    --bgColor2: var(--bgColor); // B: bgColor C: bgColor
    --bgColor3: #5a55e3; // notice
    --bgColor4: #2b3468;
    --bgColor5: #060f3b; // B : dark blue C : white gray
    --bgColor6: #151c4f; // B : dark blue C : white
    --bgColor7: transparnet; // B : NONE, C : btnOff
    --bgColor8: transparnet; // B : NONE C : point
    --bgColor9: #060f3b; // B : dark blue C : white
    --bgColor10: transparnet; // B : NONE, C : white
    --bgColor11: #182152; // B: dark blue, C: white;
    --bgColor12: #ffffff; // B: white, C: btnOff;
    --bgColor13: #ffffff; // B: white, C: point;
    --bgColor14: #0a072b; // B: dark blue, C: white;

    // scroll 
    --scrollbarColor: #ebebeb;
    --scrollThumbColor: var(--pointColor);

    //* gradient */
    --gradient: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, rgba(7, 170, 255, 1) 50%, rgba(7, 170, 255, 0) 100%); // C: none
    --gradient2: radial-gradient(ellipse farthest-corner at, rgba(76, 235, 232, 1) 0%, rgba(76, 235, 232, 1) 50%, rgba(28, 190, 248, 0) 70%, rgba(7, 170, 255, 0) 100%); // C: none
    --gradient3: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, rgba(174, 107, 251, 1) 50%, rgba(7, 170, 255, 0) 100%); // C: none

    //* DISPLAY */
    --display: block;

    // shadow 
    --shadow: 0 0 20px 0 var(--pointColor); // B: point, C: point
    --shadow2: 0 0 20px 0 var(--pointColor); // C: none
    --shadow3: 0 2px 0 0 rgba(0, 0, 0, 0.5),
        inset 0 0 30px 0 rgba(255, 255, 255, 0.1); // C : none
    --shadow4: 0.8px 0px 5px 0 rgba(0, 0, 0, 0.15); // C : none

    //* header */
    --headerFtColor : #{$headerFtColor};
    --headerBorderColor: #0c1439;
    --headerStoreBorderColor : #{$headerStoreBorderColor};
    --headerUserBgColor: #182152;
    --headerBgColor: #0c1439;
    --ico_userInfo: var(--pointColor);

    //* navigation */
    --ico_navColor_on: var(--pointColor); //ico on
    --ico_navColor_off: var(--white); //ico off
    --navFtColor: var(--ftColor);
    --navFtColor2: #ffffff; // nav 하위 폰트 색상
    --navOnFtColor: var(--pointColor);
    --navBorderGradient: var(--gradient);
    --navShadow: 0 2px 0 0 rgba(0, 0, 0, 0.5),
        inset 0 0 15px 0 rgba(255, 255, 255, 0.05);
    --navCloseBorderColor : #{$navCloseBorderColor};
    --navCloseBgColor : #{$navCloseBgColor};
    --navBgColor: #0c1439;
    --navBgColor2: #161e48; // 1depth active
    --navBgColor3: #161e48; // 2depth

    // iMarkHover 
    --bubbleBorderColor: #293363;
    --bubbleBgColor: #293363;
    --bubbleShadow: 0 0 10px 0 rgba(140, 228, 252, 0.5);

    //* button */
    // main 1 - on (sky blue)
    --btnMain_ftColor: #182152;
    --btnMain_bgColor: var(--pointColor);
    // main 2 - on (dark blue)
    --btnMain_ftColor2: var(--pointColor);
    --btnMain_border2: 2px solid var(--pointColor);
    --btnMain_shadow2: 0 0 5px 0 var(--pointColor);
    --btnMain_bgColor2: #111a46;
    // off
    --btnOff_ftColor: #80b6d6;
    --btnOff_BorderColor: #133b6d;
    --btnOff_BgColor: #133b6d;
    // off2 // B: off, C: white
    --btnOff_ftColor2: #80b6d6;
    --btnOff_BorderColor2: #133b6d;
    --btnOff_BgColor2: #133b6d;
    // disabled
    --btnDis_ftColor: #7696aa;
    --btnDis_BorderColor: #466182;
    --btnDis_bgColor: #466182;
    // delete(red) 
    --btnDlt_ftColor: #ffffff;
    --btnDlt_BorderColor: #f65a5a;
    --btnDlt_shadow: 0 0 5px 0 #f65a5a;
    --btnDlt_bgColor: #f65a5a;
    // sub on (dark purple)
    --btnFtColor3: #ae6bfb;
    --btnBorderColor3: #ae6bfb;
    --btnBgColor3: #111a46;
    // sub off (dark purple)
    --btnFtColor4: #947ead;
    --btnBorderColor4: #492c6a;
    --btnShadow4: 0 0 5px 0 #ae6bfb;
    --btnBgColor4: #492c6a;
    // white
    --btnFtColor5: var(--white);
    --btnBorderColor5: var(--white);
    --btnBgColor5: transparent;

    //* Table */
    // table - thead, tbody 
    --tblBorderColor: #2b3671;
    --tblBgColor: #0f163d;
    // table - thead */
    --tblTheadBgColor: #4559bb;
    --tblTheadBgColor2: #7689e5;
    --tblTheadBgColor3: #0a072b; // B: dark blue, C: white blue
    --tblTheadBgColor4: #070f34;
    --tblTheadBgColor5: #212c67;
    --tblTheadBgColor6: #182152; // B: dark blue, C: white
    --tblTheadBgColor7: #060f3b;
    --tblTheadBgColor8: #9eb8ff;
    --tblTheadBgColor9: #0a072b; // B: dark blue, C: white gray
    --tblTheadBgColor10: #0f1444; // row thead th
    --tblTheadBgColor11: #4559bb; // blue, white gray
    --tblTheadBgColor12: #2e3765;
    --tblTheadBgColor13: #212a58;
    --tblTheadBgColor14: #5360c0; // div table thead th
    // important bg
    --tblEmBgColor: var(--tblTheadBgColor); // B: none, C: deep red
    // --tblEmBgColor2: none; // B: none, C: deep red
    // table- bg 
    --tblBgColor2: #407faa;
    --tblBgColor3: #3e4aa3;
    --tblBgColor4: #2e60d1;
    --tblBgColor5: #4559bb;
    --tblBgColor6: #0a1133;


    //* graph */
    --graphFtColor: #407faa;
    --graphBarColor: #407faa;
    --graphBgColor: #133b6d;

    //* label */
    --labelColor: var(--pointColor);
    --labelColor2: var(--pointColor2);
    --labelColor3: var(--pointColor3);
    --labelColor4: #1081f6;
    --labelColor5: #ff9e2e;
    --labelColor6: #098a78;
    --labelColor7: #ffacd0;

    //* input */
    --ipBorderColor: #3f7197;
    --ipBgColor: #192044; // checkBox bg
    // placeholder
    --ipFtColor_placeholder: #3f7197;
    // disabled
    --ipFtColor_disabled: #7696aa;
    --ipBorderColor_disabled: #5e799a;
    --ipBgColor_disabled: #466182;
    // toggle 
    --ipToggleFt_off: #407faa;
    --ipToggleBorder_off: #407faa;
    --ipToggleDot_off: #407faa;
    --ipToggleBg_off: #0a072b;
    --ipToggleFt_on: #ffffff;
    --ipToggleBorder_on: var(--pointColor);
    --ipToggleDot_on: var(--pointColor);
    --ipToggleBg_on: #111a46;
    --ipToggleFt_disabled: var(--btnDis_ftColor);
    --ipToggleBorder_disabled: var(--btnDis_BorderColor);
    --ipToggleDot_disabled: #7696aa;
    --ipToggleBg_disabled: var(--btnDis_bgColor);

    //* tab */
    // tab 1 >> btn Color 사용
    // tab 2
    --tabBorder: #3d4a87;
    // tab 3
    --tabBorderColor3: #232357;
    --tabShadow3: inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
    --tabBgColor3: #111b46;
    --tabBorderColor3_on: #232357;
    --tabShadow3_on: 0 2px 0 0 rgba(0, 0, 0, 0.16),
        inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
    --tabBgColor3_on: #182152;
    --tabBgColor3_on2: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, rgba(7, 170, 255, 1) 50%, rgba(7, 170, 255, 0) 100%);
    --tabZindex3: none;
    // tab 5
    --tabFtColor5: var(--subFtColor);
    --tabBorderColor5: #2b3671;
    --tabBgColor5: #0f163d;
    --tabBorderColor5_on: #2b3671;
    // tab 6
    --tabBorderColor6: #232357;
    --tabShadow6: inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
    --tabBgColor6: #111b46;
    --tabBorder6_on: #232357;
    --tabShadow6_on: 0 2px 0 0 rgba(0, 0, 0, 0.16),
        inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
    --tabBgColor6_on: #182152;
    --tabBgColor6_on2: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, rgba(7, 170, 255, 1) 50%, rgba(7, 170, 255, 0) 100%);
    // --tabZindex6: none;


    //* tabView */
    --tabViewBorder: none;
    --tabViewBorder2: none;

    //* box layout */
    --boxBorderColor: #232357;
    --boxShadow: 0 2px 0 0 rgba(0, 0, 0, 0.5),
        inset 0 0 15px 0 rgba(255, 255, 255, 0.05);
    --boxBgColor: #111a46;
    // boxLayout 2, 4, 5
    --boxBorder2: none;
    --boxShadow2: 0 2px 0 0 rgba(0, 0, 0, 0.16),
        inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
    --boxBgColor2: #182152;
    // boxLayout 3
    --boxBorderColor3: var(--boxBorderColor);
    --boxShadow3: var(--shadow3);
    --boxBgColor3: #182152;
    // boxLayout 4
    --boxBorderColor4: var(--boxBorderColor);
    // boxLayout 5
    --boxBorderColor5: #0a072b;
    --boxBgColor5: #111a46;
    // boxLayout 6
    --boxftColor6: var(--pointColor);
    --boxBorderColor6: #133b6d;
    --boxBorderColor6_hover: 1px solid #133b6d;
    --boxShadow6: 0 2px 0 0 rgba(0, 0, 0, 0.16),
        inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
    --boxShadow6_hover: 0 0 5px 0 #07e6ff;
    --boxBgColor6: #133b6d;
    --boxBgColor6_hover: #133b6d; // boxLayout 7
    --boxBorderColor7: #2b3671;
    --boxBgColor7: #0f163d;

    //* grid */
    // on, active border color
    --boxOnColor: #ffffff; //B: WHITE, C: WHITE
    --boxOnColor2: #ffffff; //B: WHITE, C: pink
    --boxOnColor3: #ffffff; //B: WHITE, C: point
    --boxOnColor4: var(--upColor); //B: red, C: red        
    // box bg color
    --boxColor1: #bdb6d5;
    --boxColor2: #d561ba;
    --boxColor3: #d52f82;
    --boxColor4: #e950ac;
    --boxColor5: #8e7bb3;
    --boxColor6: #744684;
    --boxColor7: #c562cf;
    --boxColor8: #473974;
    --boxColor9: #362f58;
    --boxColor10: #603578;
    --boxColor11: #903e88;
    --boxColor12: #9948b5;
    --boxColor13: #be4a9f;
    --boxColor14: #864879; // 미지의 컬러..
    // box t2
    --boxColor2_1: #f2638f;
    --boxColor2_2: #5a55e3;
    --boxColor2_3: #2ed1aa;
    --boxColor2_4: #1081f6;
    --boxColor2_5: #ae6bfb;
    // box t3 // 데이터 매니저 박스
    --boxColor3_1: #7373be;
    --boxColor3_2: #529ff8;
    --boxColor3_3: #cd6fd9;
    --boxColor3_4: #fc91aa;
    --boxColor3_5: #ffbd53;
    --boxColor3_6: #66b298;
    --boxColor3_7: #c8795a;
    --boxColor3_8: #7435b2;
    --boxColor3_9: #a4b494;
    --boxColor3_10: #52ccda;
    --boxColor3_11: #ff6363;
    --boxColor3_12: #3f3351;


    //* z-index */
    --zIndex: auto; // none, 1

    //* image.scss > ico */
    --ico_color: var(--pointColor); //  pointColor
    --ico_color2: #ffffff; // B: fff, C: 222
    --ico_color3: #2d5a7d; // B: 2d5a7d, C: aaaaaa
    --ico_color4: var(--pointColor); // B: point, C: ffffff
    --ico_color5: #fff; // B: fff, C: point
    // --ico_color6: #fff; // B: fff, C: btnOff_borderColor
    --ico_color6: var(--btnOff_BgColor); // B, C: btnOff_bgColor
    --ico_color7: #2e3765; //B: 2e3765, C, borderColor
    --ico_color8: var(--bgColor); // B: bgColor, C: ffffff
    --ico_color9: #0a072b; // B: darkblue, C: pointColor


    //* modal */
    --ico_closeColor: #2d5a7d;
    --modalBorderColor: var(--pointColor);
    --modalShadow: 0 0 10px 0 var(--mainColor),
        inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
    --modalBgColor: #151c4f;

    //* Etc */
    --etcColor: #204177; // B: blue, C: purple
    --etcColor2: var(--pointColor); // B: point, C: pink
    --etcColor3: #192044; // B: blue, C: gray
    --etcColor4: #0f1444; // B: blue, C: sky blue
    --etcColor5: #204177; // B: blue, C: gray
    --etcColor6: #0a072b; // B: darkblue, C: pointColor
}

//* typeC (WHITE) */
.typeC {
    // basic
    --mainColor: #3c71fd;
    --ftColor: #222222;
    --subFtColor: #999999;
    --borderColor: #e6e6e6;
    --bgColor: #f6f6f6;

    // point 
    --pointColor: #3c71fd;
    --pointColor2: #8c6bfb;
    --pointColor3: #51ca9e;
    --pointColor4: #ff6767;
    --pointColor5: #39a8ff; // 3 set - 1
    --pointColor6: #23bc85; // 3 set - 2
    --pointColor7: #ff6767; // 3 set - 3
    // point - etc
    --issueColor: #ffcf31;
    --issueColor2: var(--issueColor); // B: trnasparent, C: issue
    --issueColor3: var(--white); // B: issue, C: white
    --issueColor4: var(--ftColor); // B: issue, C: black
    --waitColor: #f5a123;
    --errorColor: #ff6767;
    --normalColor: var(--pointColor); // B: white, C: point
    --normalColor2: var(--pointColor); // B: trnasparent, C: point
    --noneColor: #80b6d6;
    --noneColor2: #3f7197;


    //* Font */
    --ftColor2: var(--ftColor); // B : point, C : black
    --ftColor3: #ffffff; // B : black, C : white
    --ftColor4: #ffffff; // B : white, C : white
    --ftColor5: var(--pointColor); // B : white, C : point
    --ftColor6: #222222; // B : white, C : black
    // etc
    --ftColor7: #ff6091;
    --ftColor8: #ff9e2e;
    // up & down 
    --upColor: #ff5353;
    --downColor: #1081f6;

    // border
    --border2: 1px solid var(--borderColor);
    --borderColor2: #e6e6e6; // B: black, C: borderColor
    --borderColor3: #e6e6e6; // title bottom 
    --borderColor4: #ffffff; // checkboxBtn 
    --borderColor5: #ebebeb; // box
    --borderColor6: #aaaaaa; // B: none, C: gray
    --borderColor7: #e5e5e5; // B: none, C: borderColor
    --borderColor8: var(--pointColor); // B: borderColor, C: pointColor
    --borderColor9: var(--borderColor); // B: dark navy, C: borderColor
    --borderColor10: #000000; // B: WHITE, C: BLACK
    --borderColor11: #8441d3;


    // bgColor 
    --bgColor2: var(--mainColor);
    --bgColor3: var(--mainColor);
    --bgColor4: var(--bgColor);
    --bgColor5: #f9f9f9; // B : dark blue C : white gray
    --bgColor6: #ffffff; // B : dark blue C : white
    --bgColor7: var(--btnOff_BgColor); // B : NONE C : btnOff
    --bgColor8: var(--pointColor); // B : NONE C : point
    --bgColor9: #ffffff; // B : NONE C : white
    --bgColor10: #ffffff; // B : NONE, C : white
    --bgColor11: #ffffff; // B: dark blue, C: white;
    --bgColor12: var(--btnOff_BgColor); // B: white, C: point;
    --bgColor13: var(--pointColor); // B: white, C: point;
    --bgColor14: #ffffff; // B: dark blue, C: white;

    // scroll 
    --scrollbarColor: #ebebeb;
    --scrollThumbColor: var(--mainColor);

    //* gradient */
    --gradient: none;
    --gradient2: none;
    --gradient3: none;

    //* DISPLAY */
    --display: none;

    // shadow 
    --shadow: 0 0 20px 0 var(--pointColor);
    --shadow2: none;
    --shadow3: none;
    --shadow4: none;


    //* header */
    --headerFtColor: #777777;
    --headerBorderColor: #e9e9e9;
    --headerStoreBorderColor: #d1d1d1;
    --headerUserBgColor: #ffffff;
    --headerBgColor: #ffffff;
    --ico_userInfo: var(--pointColor);

    //* navigation */
    --ico_navColor_on: var(--white); //ico on
    --ico_navColor_off: #777777; //ico off
    --navBorderColor: #ffffff;
    --navFtColor: #777777; //1depth 하위 폰트 색상
    --navFtColor2: #777777; //2depth 하위 폰트 색상
    --navOnFtColor: var(--white);
    --navShadow: none;
    --navCloseBorderColor: #d1d1d1;
    --navCloseBgColor: var(--mainColor);
    --navBgColor: var(--white);
    --navBgColor2: var(--mainColor); // 1depth active
    --navBgColor3: #f6f6f6; // 2depth

    //* iMarkHover */
    --bubbleBorderColor: #ffffff;
    --bubbleBgColor: #ffffff;
    --bubbleShadow: 0 5px 10px 0 rgba(34, 34, 34, 0.1);


    //* button */
    // main 
    --btnMain_ftColor: var(--white);
    --btnMain_bgColor: var(--pointColor);
    // --btnMain_ftColor2: var(--btnMain_ftColor);
    // --btnMain_borderColor2: var(--pointColor);
    // --btnMain_shadow2: none;
    // --btnMain_bgColor2: var(--pointColor);

    --btnMain_ftColor2: var(--pointColor);
    --btnMain_border2: 1px solid var(--pointColor);
    --btnMain_shadow2: none;
    --btnMain_bgColor2: #e9f6ff;

    // off
    --btnOff_ftColor: var(--white);
    --btnOff_BorderColor: #c1c8db;
    --btnOff_BgColor: #c1c8db;
    // off2 : white 
    --btnOff_ftColor2: var(--ftColor);
    --btnOff_BorderColor2: var(--borderColor);
    --btnOff_BgColor2: var(--white);
    // disabled 
    --btnDis_ftColor: #c4c4c4;
    --btnDis_BorderColor: #eceff1;
    --btnDis_bgColor: #eceff1;
    // delete(red) 
    --btnDlt_ftColor: #ffffff;
    --btnDlt_BorderColor: #f65a5a;
    --btnDlt_shadow: none;
    --btnDlt_bgColor: #f65a5a;
    // sub on (dark purple)
    --btnFtColor3: #ffffff;
    --btnBorderColor3: #8c6bfb;
    --btnBgColor3: #8c6bfb;
    // sub off (dark purple)
    --btnFtColor4: #ffffff;
    --btnBorderColor4: #ccc6d8;
    --btnShadow4: none;
    --btnBgColor4: #ccc6d8;
    // white
    --btnFtColor5: var(--pointColor);
    --btnBorderColor5: var(--pointColor);
    --btnBgColor5: #ffffff;


    //* Table */
    // table - thead, tbody 
    --tblBorderColor: #e6e6e6;
    --tblBgColor: #ffffff;
    // important bg
    --tblEmBgColor: #e15b5b; // B: none, C: deep red
    --tblEmBgColor2: #ff8585; // B: none, C: deep red
    // table - thead */
    --tblTheadBgColor: #3c71fd;
    --tblTheadBgColor2: #6d95ff;
    --tblTheadBgColor3: #9eb8ff; // B: dark blue, C: white blue
    --tblTheadBgColor4: #f6f6f6;
    --tblTheadBgColor5: #f6f6f6; // tr even 
    --tblTheadBgColor6: #ffffff; // B: dark blue, C: white
    --tblTheadBgColor7: #3c71fd;
    --tblTheadBgColor8: #9eb8ff;
    --tblTheadBgColor9: #f6f6f6; // B: dark blue, C: white gray
    --tblTheadBgColor10: #f6f6f6; // row thead th
    --tblTheadBgColor11: #f6f6f6;
    --tblTheadBgColor12: #6d95ff;
    --tblTheadBgColor13: #f6f6f6;
    --tblTheadBgColor14: #3c71fd; // div table thead th
    // table- bg 
    --tblBgColor2: #a2bdf3;
    --tblBgColor3: #6368ef;
    --tblBgColor4: #71aaff;
    --tblBgColor5: #ffffff;
    --tblBgColor6: #ffffff;


    //* graph */
    --graphFtColor: #c1c8db;
    --graphBarColor: #c1c8db;
    --graphBgColor: #e4e4e5;

    // label 
    --labelColor: #38ddff;
    --labelColor2: #8c6bfb;
    --labelColor3: #51ca9e;
    --labelColor4: #1081f6;
    --labelColor5: #ff9e2e;
    --labelColor6: #098a78;
    --labelColor7: #f588b7;


    //* input */
    --ipBorderColor: #d6d6d6;
    --ipBgColor: #ffffff;
    // placeholder
    --ipFtColor_placeholder: #3f7197;
    // disabled 
    --ipFtColor_disabled: #c4c4c4;
    --ipBorderColor_disabled: #eceff1;
    --ipBgColor_disabled: #eceff1;
    // toggle 
    --ipToggleFt_off: #ffffff;
    --ipToggleBorder_off: var(--btnOff_BorderColor);
    --ipToggleDot_off: #ffffff;
    --ipToggleBg_off: var(--btnOff_BgColor);
    --ipToggleFt_on: #ffffff;
    --ipToggleBorder_on: var(--pointColor);
    --ipToggleDot_on: #ffffff;
    --ipToggleBg_on: var(--pointColor);
    --ipToggleFt_disabled: #c4c4c4;
    --ipToggleBorder_disabled: var(--btnDis_BorderColor);
    --ipToggleDot_disabled: #c4c4c4;
    --ipToggleBg_disabled: var(--btnDis_bgColor);


    //* tab */
    --tabFtColor: var(--btnOff_ftColor);
    --tabBorder: var(--btnOff_BorderColor);
    --tabBgColor: var(--btnOff_BgColor);
    // tab 2
    --tabBorder: #ffffff;
    // tab 3
    --tabBorderColor3: var(--borderColor);
    --tabShadow3: none;
    --tabBgColor3: var(--white);
    --tabBorderColor3_on: var(--pointColor);
    --tabShadow3_on: none;
    --tabBgColor3_on: #ffffff;
    --tabBgColor3_on2: none;
    --tabZindex3: 1;
    // tab 5
    --tabFtColor5: var(--subFtColor);
    --tabBorderColor5: var(--btnOff_BorderColor);
    --tabBgColor5: #ffffff;
    --tabBorderColor5_on: var(--pointColor);

    // tab 6
    --tabBorderColor6: #e5e5e5;
    --tabShadow6: none;
    --tabBgColor6: #ffffff;
    --tabBorder6_on: var(--pointColor);
    --tabShadow6_on: none;
    --tabBgColor6_on: #ffffff;
    --tabBgColor6_on2: none;
    // --tabZindex6: none;



    //* tabView */
    --tabViewBorder: 1px solid var(--pointColor);
    --tabViewBorder2: 1px solid var(--borderColor);

    //* box layout */
    --boxBorderColor: var(--borderColor);
    --boxShadow: none;
    --boxBgColor: var(--white);
    // boxLayout 2
    --boxBorder2: 1px solid var(--borderColor);
    --boxShadow2: none;
    --boxBgColor2: var(--white);
    // boxLayout 3
    --boxBorderColor3: var(--borderColor);
    --boxShadow3: none;
    --boxBgColor3: var(--white);
    // boxLayout 4
    --boxBorderColor4: var(--borderColor);
    // boxLayout 5
    --boxBorderColor5: var(--borderColor);
    --boxBgColor5: var(--white);
    // boxLayout 7
    --boxBorderColor7: var(--borderColor);
    --boxBgColor7: var(--white);

    // boxLayout 6
    --boxftColor6: #c9c9c9;
    --boxBorderColor6: #e5e5e5;
    --boxBorderColor6_hover: 1px solid var(--pointColor);
    --boxShadow6: none;
    --boxShadow6_hover: none;
    --boxBgColor6: var(--white);
    --boxBgColor6_hover: var(--white);

    //* grid */
    // on, active border color
    --boxOnColor: #ffffff; //B: WHITE, C: WHITE
    --boxOnColor2: #ee00ff; //B: WHITE, C: pink
    --boxOnColor3: var(--pointColor); //B: WHITE, C: point
    --boxOnColor4: #ff6767; //B: WHITE, C: red
    // box bg color
    --boxColor1: #a2bdf3;
    --boxColor2: #6368ef;
    --boxColor3: #4074ff;
    --boxColor4: #9d48ff;
    --boxColor5: #71aaff;
    --boxColor6: #3633a5;
    --boxColor7: #3cd5fd;
    --boxColor8: #26c0e1;
    --boxColor9: #202c6e;
    --boxColor10: #3c31e1;
    --boxColor11: #536ef1;
    --boxColor12: #1e9af9;
    --boxColor13: #6f0ae3;
    --boxColor14: #32006e;
    // box t2
    --boxColor2_1: #f2638f;
    --boxColor2_2: #5a55e3;
    --boxColor2_3: #2ed1aa;
    --boxColor2_4: #1081f6;
    --boxColor2_5: #ae6bfb;
    // box t3 // 데이터 매니저 박스
    --boxColor3_1: #a2bdf3;
    --boxColor3_2: #6368ef;
    --boxColor3_3: #26c0e1;
    --boxColor3_4: #9d48ff;
    --boxColor3_5: #71aaff;
    --boxColor3_6: #3cd5fd;
    --boxColor3_7: #202c6e;
    --boxColor3_8: #6f0ae3;
    --boxColor3_9: #3633a5;
    --boxColor3_10: #1e9af9;
    --boxColor3_11: #6f0ae3;
    --boxColor3_12: #32006e;

    //* z-index */
    --zIndex: 1; // none, 1

    //* ico */
    --ico_color: var(--pointColor); //  pointColor
    --ico_color2: #222222; // B: fff, C: 222
    --ico_color3: #aaaaaa; // B: 2d5a7d, C: ebebeb
    --ico_color4: #ffffff; // B: point, C: ffffff
    --ico_color5: var(--pointColor); // B: fff, C: point
    --ico_color6: var(--btnOff_BgColor); // B: dark blue, C: btnOff_bgColor
    --ico_color7: var(--borderColor); //B: 2e3765, C, borderColor
    --ico_color8: var(--white); // B: bgColor, C: ffffff
    --etcColor9: var(--pointColor); // B: darkblue, C: pointColor


    //* modal */
    --ico_closeColor: #222222;
    --modalBorderColor: var(--borderColor);
    --modalShadow: 0 0 10px 0 var(--borderColor),
        inset 0 0 30px 0 rgba(255, 255, 255, 0.1);
    --modalBgColor: #ffffff;

    //* Etc */
    --etcColor: var(--pointColor2); // B: blue, C: purple (campaignList)
    --etcColor2: #f2638f; // B: point, C: pink
    --etcColor3: #f6f6f6; // B: blue, C: gray
    --etcColor4: #f5faff; // B: blue, C: sky blue
    --etcColor5: #ebebeb; // B: blue, C: gray
    --etcColor6: var(--pointColor); // B: darkblue, C: pointColor

}