@charset 'utf-8';

/*
File   : bubble.scss
Date   : 2025.11.13
*/

@mixin bubbleOpen($p: absolute, $d: block, $w: 100%, $h: 100%) {
  position: $p;
  display: $d;
  width: $w;
  height: $h;
  z-index: 1;
  cursor: pointer;
}

@mixin bubbleWrap($w:300px, $minw:200px, $l:-26px, $minh:70px, $br: 5px) {
  position: absolute;
  display: none;

  .bubbleContainer {
    @include ftR;
    position: relative;
    width: $w;
    min-width: $minw;
    height: auto;
    min-height: $minh;
    // left: $l;
    // bottom: 28px;
    padding: 15px;
    color: var(--ftColor);
    font-size: 13px;
    text-align: left;
    font-style: normal;
    line-height: 18px;
    white-space: normal;
    border-radius: $br;
    // border: 1px solid var(--pointColor);
    border: 1px solid var(--modalBorderColor);
    background-color: var(--bubbleBgColor);
    box-shadow: var(--bubbleShadow);
    z-index: 999;

    .bubbleTitle {
      // @include box_shadow_b;
      min-height: 30px;
      padding: 0;
      font-size: 18px;
      // padding: 15px 30px 0 30px;
      padding: 0;

      p {
        @include ftB;
        display: inline-block;
        padding: 2px 0 0 0;
        font-size: 13px;
      }

      button {
        position: relative;
        float: right;
        right: -2px;
        // padding: 15px;
        padding: 12px;

        &.close {
          @include btnLayout;
          @include ico_closeS;
          @include maskSize(13px, 13px, 13px, 13px);
          font-size: 0;
        }
      }
    }

    .bubbleContent {
      position: relative;
      width: calc(100% - 20px);
      width: 100%;
      height: auto;
      // max-height: 650px;
      margin: 10px 10px 0 10px;
      padding: 10px 10px 20px 20px;
      margin: 0px 0 0 0;
      padding: 0 0 0px 0;
      overflow-y: auto;
    }

    .bubbleFooter {
      margin-top: 10px;
      text-align: center;

      button {
        @include btnLayout;
        @include btn_main;
        min-width: 110px;
        height: 36px;
        border-radius: 30px;

        &:only-child {
          margin: 0 auto;
        }
      }
    }
  }

  .bubbleDim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.5;
    z-index: 998;
  }

  &.pos-top {
    // 버튼 간격 
    margin-bottom: 10px;
  }

  &.pos-bottom {
    // 버튼 간격 
    margin-top: 10px;
  }
}

// w, minw, minh, maxh: 전체크기
// w2, h2, minh2, max2: 컨텐츠값
@mixin bubbleSize($w:300px, $minw:200px, $minh:70px, $maxh:null, $w2:null, $h2:null, $minh2:null, $maxh2:null) {
  // width: $w;
  // height: $h;

  .bubbleContainer {
    width: $w;
    min-width: $minw;
    height: auto;
    min-height: $minh;
    max-height: $maxh;

    .bubbleTitle {}

    .bubbleContent {
      // width: calc(#{$w} - 20px);
      width: $w2;
      height: $h2;
      min-height: $minh2;
      max-height: $maxh2;
    }

    .bubbleFooter {}
  }
}

.wrap {
  .bubbleOpen {
    @include bubbleOpen;
  }

  .bubbleWrap {
    @include bubbleWrap;
  }

  //* modal CDP */
  .bubbleWrap {


    //* 이탈유저  */
    &.bw_userStats,
    &.bw_moveAnalysis {

      // @include alertLayout;
      &.pos-top {
        transform: translate(-25px, -30px)
      }

      &.pos-bottom {
        transform: translate(-25px, -250px)
      }

      .bubbleContainer {
        width: 300px;
        height: 200px;

        .bubbleTitle {}

        .bubbleContent {
          // @include flex_center_column;
          height: 90px;
          // border: 1px solid #f00;

          >div {
            text-align: center;

            p {
              font-size: 13px;
              line-height: 18px;
            }

            b {
              @include ftB;
            }
          }
        }
      }
    }

    // CDP > 튜저퍼널영역 그래프 툴팁
    // AI 스튜디오 > 답변, 홈(답변) > 유저퍼널영역 그래프 툴팁
    &.bw_userStats {
      @include bubbleSize($minh:200px, $maxh:270px, $h2:auto, $minh2:90px, $maxh2:160px);
    }

    // 튜니 홈 > 카테고리
    &.bw_category {
      @include bubbleSize($w:330px, $minh:200px, $maxh:200px, $h2:95px);

      .bubbleContainer {
        // @include flexBox($d:column);
        padding: 10px 10px 15px 20px;
        border-top: 4px solid var(--pointColor);

        +.bubbleDim {
          display: none;
        }

        .bubbleContent {
          flex-grow: 1;

          .box_guide {
            ul {
              padding-left: 8px;
              height: 60px;
              overflow-y: auto;

              li {
                display: none;

                &.on {
                  display: block;
                }
              }
            }

            p {
              &:nth-child(1) {
                @include ftB;
                color: var(--ftColor20);
                text-indent: -8px;

                &:before {
                  @include txtDot($bgColor: var(--pointColor));
                }
              }

              &:nth-child(2) {
                font-size: 12px;
              }

              &:nth-child(3) {
                margin: 8px 0 0 0;
              }

              &:nth-child(n+3) {
                font-size: 10px;
                color: var(--subFtColor);
              }
            }
          }

          .paging {
            margin: 15px 0 0 0;
            padding-right: 10px;
            @include flexBox($g:20px, $j:end);

            button {
              width: 18px;
              height: 18px;
              font-size: 0;
              border-radius: 100%;
              // background-color: #f4f5f6;
              background-color: var(--btn_bgColor11);

              &:before {
                @include iBtn;
                @include ico_lineRight;
                @include maskSize(5px, 9px);
                padding: 0;
                // background-color: #8b8b8b;
                background-color: var(--btn_ftColor11);

              }

              &:disabled {
                background-color: var(--btnDis_bgColor);
                cursor: default;

                &:before {
                  background-color: var(--btnDis_ftColor);
                }
              }

              &.prev {
                &:before {
                  transform: rotate(180deg);
                }
              }

              &.next {
                &:before {
                  left: 1px;
                }
              }
            }
          }
        }
      }
    }
  }
}