@charset 'utf-8';

/*---------------------------------
    File  : idcm_mixin.scss
    Date  : 2025.03.11
    menu  : 원태그
    description : 카페 24 APP내 설치하기 페이지에 들어가는 화면(독립페이지)
/*---------------------------------*/

