@charset 'utf-8';

/*
File   : modalTest.scss
Date   : 2023.11.04
*/
/* 퍼블 확인용  CSS  */

/* 
modal
*/
.wrap {

  // 테마 확인을 위해 header 고정함
  header {
    position: fixed;
    z-index: 1000;
  }

  .modal {
    >strong {
      font-family: "NotoSansR";
      position: relative;
      display: block;
      width: 100%;
      top: 20px;
      margin: 20px auto 0;
      font-weight: bold;
      font-size: 24px;
    }

    >p {
      font-family: "NotoSansR";
      position: relative;
      display: block;
      width: 100%;
      top: 10px;
      margin: 20px auto 0;
      font-weight: bold;
      font-size: 16px;
    }

    .modalWrap {
      position: relative !important;
      display: block !important;
      margin: 50px 0 50px 0;
      margin: 40px auto 100px auto;

      .modalContainer {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
      }

      .modalDim {
        display: none;
      }
    }
  }
}

/* 
modalTest
*/
.modalTest {

  >strong,
  >p {
    display: none;
  }
}

.modalTestWrap {
  width: calc(100% - 50px);

  .modalTestContainer {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    .title {
      strong {
        font-family: "NotoSansR";
        position: relative;
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 24px;
      }

      p {
        font-family: "NotoSansR";
        position: relative;
        display: block;
        width: 100%;
        margin: 20px 0 0 0;
        font-weight: bold;
        font-size: 16px;
      }
    }

    .buttonBox {
      margin-top: 10px;

      button {
        position: relative;
        display: inline-block;
        min-width: 100px;
        height: 40px;
        margin: 10px 5px 0 5px;
        padding: 0 10px;
        font-size: 16px;
        border-radius: 5px;
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
}