@charset 'utf-8';

/*
File  : work.scss
Date  : 2025.04.17
menu  : TEST
// */



@mixin bubbleWrap_bak($w:300px, $minw:200px, $l:-26px, $minh:70px, $br: 5px) {
  display: none;

  .bubbleContainer {
    @include ftR;
    position: relative;
    width: $w;
    min-width: $minw;
    height: auto;
    min-height: $minh;
    // left: $l;
    // bottom: 28px;
    padding: 15px;
    color: var(--ftColor);
    font-size: 13px;
    text-align: left;
    font-style: normal;
    line-height: 18px;
    white-space: normal;
    border-radius: $br;
    // border: 1px solid var(--pointColor);
    border: 1px solid var(--modalBorderColor);
    background-color: var(--bubbleBgColor);
    box-shadow: var(--bubbleShadow);
    z-index: 999;

    .bubbleTitle {
      // @include box_shadow_b;
      min-height: 30px;
      padding: 0;
      font-size: 18px;
      padding: 15px 30px 0 30px;

      p {
        display: inline-block;
        padding: 6px 0 0 0;
        font-size: 13px;
      }

      button {
        position: relative;
        float: right;
        right: -2px;
        // padding: 15px;
        padding: 12px;

        &.close {
          @include btnLayout;
          @include ico_closeS;
          @include maskSize(13px, 13px, 13px, 13px);
          font-size: 0;
        }
      }
    }

    .bubbleContent {
      position: relative;
      width: calc(100% - 20px);
      max-height: 650px;
      margin: 10px 10px 0 10px;
      padding: 10px 10px 20px 20px;
      overflow-y: auto;
    }

    .bubbleFooter {
      text-align: center;

      button {
        @include btnLayout;
        @include btn_main;
        min-width: 110px;
        height: 36px;
        border-radius: 30px;

        &:only-child {
          margin: 0 auto;
        }
      }
    }
  }

  .bubbleDim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.5;
    z-index: 998;
  }
}

.wrap {

  .container {

    // home (251020)
    &.tune_aiHome_work {
      margin-bottom: 0;
      // padding: 0;
      background-color: var(--bgc36);

      // HOME 
      .tune_aiHome_work {
        width: 100%;
        // height: 100vh;
        z-index: 1;

        // 글 입력전
        &.t1 {
          .content {
            .sec_aiHome {

              >div {
                // width: 80%;
                // width: calc(100% - 300px);
                margin: 0 auto;

                &.box_input {
                  margin: 45px auto 0;

                  &.dataNoneArea {
                    @include dataNoneArea($h:230px, $minh:null);
                  }
                }

                &.box_customQuestion {
                  margin: 55px auto 0;
                }
              }

              .box_circle {
                .ai_circle {
                  margin: 40px auto 20px;
                }
              }

              .box_qna {
                display: none;
              }
            }
          }
        }

        // 글 입력 후
        &.t2 {
          .content {
            .sec_aiHome {

              .box_circle,
              .box_guide,
              .box_customQuestion {
                display: none;
              }

              .box_qna {
                position: relative;

                .qnaBox {
                  overflow-y: scroll;
                }
              }

              // 수정시 >> answer.html > .box_input 도 확인후 동일 수정 
              .box_input {
                position: sticky;
                width: 80%;
                height: 150px;
                bottom: 30px;
                margin: 0px auto 0px;
                transition: height 0.3s ease;

                &:before {
                  content: "";
                  position: absolute;
                  display: block;
                  width: calc(100% + 45px);
                  top: -81px;
                  left: 8px;
                  height: 80px;
                  background: var(--gradient4);
                }
              }
            }
          }
        }

        .title {
          // @include txtHide;
          @include titleLayout;

          p {

            // &:nth-child(1) {
            //   @include ftB;
            //   padding: 20px 0 0 50px;
            //   font-size: 36px;

            // span {
            //   @include ftR;
            //   margin-left: 30px;
            //   font-size: 22px;
            //   color: var(--subFtColor);
            // }
            // }
            &:nth-child(1) {
              @include ftM;
              font-size: 18px;

              span {
                color: var(--subFtColor);
                font-size: 13px;
                margin-left: 10px;
              }
            }

            &:nth-child(2) {}
          }
        }

        .content {
          // min-width: 800px;
          // min-width: 600px;
          height: -webkit-fill-available;

          section {
            &.sec_aiHome {
              position: relative;
              height: 100%;
              // min-width: 800px;
              // width: 60%;
              margin: 0 auto 0;

              .box_circle {
                position: relative;
                margin: 45px auto 10px auto;

                i.ai_circle {
                  @include iLayout($d:block);
                  // @include img_ai;
                  @include ico_ai;
                  @include imgSize(82px, 81px, 72px, 71px);
                  margin: 0 auto;
                }
              }

              .box_guide {
                @include title($fs:30px);
                text-align: center;
                line-height: 1.4;

                p {
                  &:nth-child(1) {
                    @include ftB;
                    font-size: 28px;
                    color: var(--ftColor20);
                  }

                  &:nth-child(2) {
                    margin: 6px 0 0 0;
                    font-size: 18px;
                    color: var(--subFtColor);
                  }
                }
              }

              .radioButton {
                @include flexBox($g:40px, $j:center);
                margin: 60px auto 0;

                input[type="radio"] {
                  +label {
                    @include ftM;
                    font-size: 16px;
                    color: #68758f;
                    color: var(--subFtColor);
                    text-align: center;

                    &:before {
                      display: none;
                      @include iLayout($d:block);
                      @include imgSize(80px, 80px, 75px, 75px);
                      // width: 80px;
                      // height: 80px;
                      margin: 0 0 10px 0;
                      border-radius: 30px;
                    }

                    &:nth-of-type(1):before {
                      @include iLayout($d:block);
                      @include ico_coinUp;
                      // @include imgSize(80px, 80px);
                      // @include imgSize(80px, 80px, 60px, 60px);    
                      @include imgSize(80px, 80px, 75px, 75px);
                      background-color: var(--color10);
                    }

                    &:nth-of-type(2):before {
                      @include ico_precious;
                      @include imgSize(80px, 80px, 75px, 75px);
                      background-color: var(--color10);
                    }

                    &:nth-of-type(3):before {
                      @include ico_graphUp;
                      @include imgSize(80px, 80px, 75px, 75px);
                      background-color: var(--color10);
                    }

                    &:nth-of-type(4):before {
                      @include ico_basket2;
                      @include imgSize(80px, 80px, 75px, 75px);
                      background-color: var(--color10);
                    }

                    &:nth-of-type(5):before {
                      @include ico_graph2;
                      @include imgSize(80px, 80px, 75px, 75px);
                      background-color: var(--color10);
                    }

                    &:nth-of-type(6):before {
                      @include ico_search3;
                      @include imgSize(80px, 80px, 75px, 75px);
                      background-color: var(--color10);
                    }

                    &:nth-of-type(7):before {
                      @include ico_speaker2;
                      @include imgSize(80px, 80px, 75px, 75px);
                      background-color: var(--color10);
                    }
                  }

                  &:checked+label {
                    color: var(--ftColor2);

                    &:before {
                      box-shadow: var(--btnOn_shadow11);
                      background-color: var(--btnOn_bgColor11);
                    }
                  }

                  &:disabled+label {
                    color: var(--btnDis_ftColor);

                    &:before {
                      background-color: var(--btnDis_bgColor);
                    }
                  }
                }
              }

              .tagBox {
                position: relative;
                margin: 40px 0 0 0;
                border-radius: 10px;
                border: 1px solid var(--pointColor);

                .tit {
                  @include flexBox($j:center);
                  height: 60px;
                  border-radius: 10px 10px 0 0;
                  background-color: var(--brdColor18);

                  p {
                    color: var(--ftColor17);
                    font-size: 18px;
                  }
                }

                .cont {
                  padding: 20px 20px;

                  .listBox {
                    @include iflexBox($fw:wrap, $j:start);
                    row-gap: 15px;
                    column-gap: 10px;
                    width: 100%;
                    max-height: 140px;
                    overflow: hidden;

                    input[type="radio"] {
                      &:checked {
                        +label {
                          color: var(--btnOn_ftColor12);
                          border: 1px solid var(--btnOn_BrdColor12);
                          background-color: var(--btnOn_BgColor12);

                          >p {
                            &:before {
                              background-color: var(--ico_color);
                            }
                          }

                          .tag {
                            display: inline-flex;
                            color: var(--ftColor17);
                            background-color: var(--pointColor);

                            &:before {
                              border-right-color: var(--pointColor);
                            }
                          }

                          &:before {}
                        }
                      }

                      &:disabled {
                        +label {
                          &:before {}
                        }
                      }

                      +label {
                        @include flexBox($g:30px);
                        position: relative;
                        // flex-grow: 1;
                        // width:100%;
                        max-width: 100%;
                        height: 60px;
                        margin: 0;
                        padding: 10px 20px;
                        border-radius: 10px;
                        font-size: 16px;
                        // color: var(--ftColor4);
                        color: var(--btnOff_ftColor4);
                        border: 1px solid var(--btnOff_BrdColor4);
                        background-color: var(--btnOff_BgColor4);
                        overflow: hidden;

                        &:before {
                          display: none;
                        }

                        >p {
                          @include ellipsis;
                          display: block;
                          text-overflow: ellipsis;
                          overflow: hidden;
                          white-space: nowrap;

                          &:before {
                            @include iLayout;
                            @include ico_tag;
                            @include maskSize(13px, 14px, 13px, 14px);
                            background-color: var(--btnOff_ftColor4);
                            margin: 0 4px 0 0;
                            -webkit-mask-position-y: 1px;
                          }
                        }

                        .tag {
                          @include iflexBox($g:2px);
                          position: relative;
                          min-width: 72px;
                          height: 30px;
                          margin: 0 0 0 15px;
                          padding: 4px 10px 4px 6px;
                          color: var(--ftColor4);
                          border-radius: 4px;
                          border-radius: 0 4px 4px 0;
                          background-color: var(--color12);

                          &:before {
                            content: "";
                            position: absolute;
                            display: block;
                            width: 0;
                            height: 0;
                            left: -15px;
                            /* 위/아래는 투명, 오른쪽에 색을 줘서 왼쪽을 향한 모양 만들기 */
                            border-top: 15px solid transparent;
                            border-bottom: 15px solid transparent;
                            border-right: 15px solid var(--color12);
                            // border-radius: 2px;
                            /* 대략값: 12 * sqrt(3) ≈ 20.784 */
                          }

                          span {
                            @include ftM;
                            font-size: 11px;
                            line-height: 1.5;
                            word-break: auto-phrase;

                            &:nth-child(1) {}

                            &:nth-child(2) {
                              color: #ffe600;
                              margin-left: 2px;
                            }
                          }
                        }

                        .bubbleOpen {
                          @include bubbleOpen($p: absolute, $d: inline-block, $w: calc(100% + 15px), $h: 100%);
                          left: - 15px;
                          // border:1px solid #f00;
                        }
                      }

                      &:hover {
                        +label {
                          .tag {
                            display: inline-flex;

                            &:hover {
                              color: var(--ftColor4);
                              background-color: var(--color11);

                              &:before {
                                border-right-color: var(--color11);
                              }
                            }
                          }
                        }
                      }

                      +label {
                        .tag {
                          display: none;
                        }
                      }
                    }
                  }

                  .buttonBox {
                    margin: 30px 0 0 0;

                    button {
                      @include btnLayout($minw:160px, $h:50px);
                      @include btn_white;
                      @include iflexBox($g:5px, $j:center);
                      @include ftM;
                      border-radius: 30px;
                      font-size: 16px;

                      &:before {
                        @include iLayout;
                        @include ico_star4;
                        @include maskSize(25px, 25px);
                        // margin: 0 10px 0 0;
                        top: -2px;
                        background-color: var(--ico_color);
                      }
                    }
                  }
                }
              }


              .box_qna {
                height: calc(100vh - 270px);
                padding: 0px 0 0px 0;

                .qnaBox {
                  padding: 0 calc(10% - 0px) 80px calc(10% + 10px);
                  height: 100%;

                  >div {
                    margin: 10px 0 0 0;
                  }
                }

                .Qbox {
                  margin: 10px 0 0 0;
                  text-align: right;

                  .box {
                    // @include boxLayout_t14($br:30px, $pd:18px 22px);
                    position: relative;
                    display: inline-block;
                    padding: 18px 22px;
                    color: var(--ftColor4);
                    border-radius: 30px;
                    border-color: var(--brc21);
                    background-color: var(--bgc33);

                    p {
                      font-size: 16px;
                      line-height: 28px;

                      &:nth-child(n+2) {
                        margin: 10px 0 0 0;
                      }
                    }


                  }
                }

                .Abox {
                  .tit {
                    p {
                      @include flexBox($j:start, $g:5px);
                      font-size: 16px;

                      &:before {
                        @include iLayout;
                        @include ico_ai;
                        padding: 12px;
                        border: 1px solid var(--pointColor);
                        border-radius: 30px;
                        background-size: 15px 15px;
                      }
                    }
                  }

                  .cont {
                    @include boxLayout_t13($pd:25px 30px);
                    margin: 10px 0 0 0;
                    font-size: 16px;
                    line-height: 28px;
                    box-shadow: none;
                    border-color: var(--pointColor);

                    .answer {
                      overflow-x: auto; // 화면 가로사이즈 작아지는경우 하단 chartArea 깨지는 현상 방지
                    }

                    .chartArea {
                      @include graph2;
                      position: relative;
                      min-height: 300px;
                      max-height: 620px;
                      margin: 20px 0 0 0;
                      overflow: hidden;
                      min-width: 1200px; //min-width: 1000px 까지 가능

                      .box {
                        .iBox {
                          .iMark {
                            @include ico_i_wht;
                          }
                        }

                        // &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(6) {
                          .iBox {

                            .iMarkHover {
                              // @include iMarkHover_TC;
                              @include iMarkHover_C;
                              // bottom: 40px;
                              left: -80px;

                              &:before,
                              &:after {
                                left: 50%;
                              }
                            }
                          }
                        }
                      }

                      .iBox {
                        .iMarkHover {
                          @include iMarkHover($minW:200px, $w:250px);
                          width: 25px;
                          bottom: 40px;
                        }
                      }
                    }

                    .optionBox {
                      @include boxLayout_t13($pd:20px 6px);
                      @include flexBox($j:center, $g:15px, $d:column);
                      position: absolute;
                      width: 50px;
                      right: -60px;
                      bottom: 0px;
                      border-radius: 30px;
                      box-shadow: none;
                      border-color: var(--pointColor);
                      bottom: auto;
                      top: 0;
                      transition: top .1s;

                      button {
                        @include iBtn($d:block);

                        &.copy {
                          @include ico_copy3;
                        }

                        &.refresh {
                          @include ico_refresh3;
                        }

                        &.sound {
                          @include ico_pause;
                          width: 20px;

                          &.on {
                            @include ico_sound_on;
                            width: 30px;
                            margin-left: 5px;
                            background-size: 30px 20px;

                            &:disabled {
                              background-color: var(--btnDis_ftColor);
                              cursor: default;
                            }
                          }
                        }

                        &.photo {
                          @include ico_photo;
                        }

                        &.storage {
                          @include ico_storage;
                        }

                        &:disabled {
                          background-color: var(--btnDis_ftColor);
                          cursor: default;
                        }
                      }
                    }
                  }
                }
              }

              .loadingBox {
                position: relative;
                padding-top: 20px;
                padding-left: 85px;

                &:before {
                  @include iLayout($p:relative);
                  @include img_ai;
                  position: absolute;
                  width: 80px;
                  height: 80px;
                  top: 10px;
                  left: 0px;
                  background-size: contain;
                }

                p {
                  font-size: 16px;
                  line-height: 28px;

                  &:only-child {
                    @include flexBox;
                    min-height: 60px;
                  }
                }
              }

              .box_input {
                @include boxLayout_t13($pd:15px 20px);
                @include flexBox($d:column);
                height: 230px;
                margin: 45px 0 0 0;

                &:before {
                  width: calc(100% - 13px);
                }

                &.dataNoneArea {
                  @include dataNoneArea($h:150px, $minh:null);

                  &:before {
                    content: "";
                    position: absolute;
                    display: inline-flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    color: var(--dimFtColor);
                    text-align: center;
                    line-height: 1.5;
                    border-radius: 10px;
                    transform: translate(-50%, -50%);
                    background-color: var(--dimBgColor2);
                  }

                  .dataNone {
                    font-size: 16px;

                    button {
                      @include btnLayout($minw:160px, $h: 40px, $fs:14px);
                      @include btn_main;
                      margin: 15px 0 0 0;
                    }
                  }
                }

                .textareaBox {
                  flex-grow: 1;
                  width: 100%;

                  textarea {
                    height: 100%;
                    border: 0;
                    font-size: 20px;
                    line-height: 1.6;
                    background-color: transparent;
                    resize: none;

                    &::placeholder {
                      font-size: 20px;
                    }
                  }
                }

                .optionBox {
                  @include flexBox();
                  width: 100%;

                  button {
                    @include btnLayout;
                    @include btn7;
                    height: 30px;

                    &:before {
                      @include iLayout;
                      width: 30px;
                      height: 30px;
                      border-radius: 100%;
                      background-position: 5px center;
                    }

                    &.tag {

                      @include iBtn($w:32px, $h:32px);

                      &:before {
                        @include ico_tag;
                        @include maskSize(32px, 32px, 14px, 15px);
                        background-color: var(--ico_color15);
                        // width: 32px;
                        // height: 32px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                      }

                      border-radius: 100%;
                      padding:0;
                      font-size: 0;
                      border: 1px solid var(--borderColor17);
                      background-color: var(--bgColor28);
                    }

                    &.search {
                      @include flexBox($g:4px);
                      width: 80px;
                      padding: 6px 10px;
                      font-size: 12px;
                      text-align: right;
                      border-radius: 20px;

                      &:before {
                        @include iLayout;
                        @include ico_search2;
                        width: 16px;
                        height: 16px;
                      }
                    }

                    &.enter {
                      @include iBtn($w:30px, $h:30px);

                      &:before {
                        @include ico_enter;
                        top: 50%;
                        left: calc(50% - 1px);
                        transform: translate(-50%, -50%);
                      }

                      border-radius: 100%;
                      background-position: 5px center;
                    }

                    &.voice {
                      @include iBtn($w:30px, $h:30px);

                      &:before {
                        @include ico_mic_off;
                        top: calc(50% - 1px);
                        left: calc(50% - 0px);
                        transform: translate(-50%, -50%);
                      }

                      margin-left: auto;
                      border-radius: 100%;
                      background-position: 5px 4px;
                      background-size: 17px 19px;
                      background-position: center center;

                      &.on {
                        &:before {
                          @include ico_mic;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                        }

                        &:disabled {
                          @include btn_disabled;

                          &:before {
                            background-color: var(--btnDis_ftColor);
                          }
                        }
                      }
                    }

                    &.voiceMode {
                      @include iBtn($w:30px, $h:30px);
                      @include ico_voiceMode();
                      border-radius: 100%;
                      border: 1px solid var(--borderColor17);
                      background-color: var(--bgColor28);
                    }

                    &:disabled {
                      cursor: default;

                      &:before {
                        background: var(--btnDis_ftColor);
                      }
                    }
                  }

                  button {
                    .fileUpload {
                      &:before {
                        @include iBtn($w:30px, $h:30px);
                        @include ico_plus3;
                        height: 30px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                      }

                      border-radius: 100%;
                      font-size:0;
                      border: 1px solid var(--borderColor17);
                      background-color: var(--bgColor28);
                    }
                  }

                  label.fileUpload {
                    border-radius: 100%;
                    font-size: 0;
                    border: 1px solid var(--borderColor17);
                    background-color: var(--bgColor28);

                    &:before {
                      @include iBtn($w:30px, $h:30px);
                      @include ico_plus3;
                      height: 30px;
                      padding: 0;
                    }

                    input {
                      display: none;
                    }
                  }
                }
              }

              .box_customQuestion {
                margin: 55px 0 0 0;

                &.dataNoneArea {
                  @include dataNoneArea($selector: '.cont > div');

                  .dataNone {
                    background-color: #f2f2f2;

                    p {
                      @include ftM;
                      font-size: 16px;
                    }
                  }
                }

                .tit {
                  font-size: 20px;

                  p {
                    &:nth-child(1) {
                      @include ftM;

                      &:before {
                        content: "Q";
                        position: relative;
                        display: inline-block;
                        top: -2px;
                        margin: 0 4px 0 0;
                        color: var(--ftColor20);
                      }
                    }

                    &:nth-child(2) {
                      margin: 10px 0 0 0;
                      font-size: 14px;
                      color: var(--subFtColor);
                    }
                  }
                }

                .cont {
                  @include flexBox($g:25px, $fw:wrap);
                  margin: 25px 0 0 0;

                  .dataNone {
                    min-height: 100px;
                    border-radius: 10px;
                    background-color: #f2f2f2;

                    p {}
                  }

                  .box {
                    @include boxLayout_t13($pd:15px 20px);
                    @include iflexBox($j:center);
                    flex: 1 1 calc(50% - 13px);
                    position: relative;
                    min-height: 130px;
                    height: -webkit-fill-available;
                    font-size: 12px;
                    line-height: 20px;
                    background-color: #e7eeff;
                    box-shadow: none;

                    &.t1 {
                      a {
                        &:before {
                          position: absolute;

                        }
                      }
                    }

                    // min-width: 50%;
                    a {
                      &:before {
                        @include iLayout;
                        @include ico_warning;
                        @include maskSize(35px, 32px);
                        display: block;
                        margin: 0 auto 10px;
                        background-color: var(--ico_color);
                        text-align: center;
                      }
                    }

                    p {
                      @include ellipsis_l4($wlc:2);
                      // @include iflexBox($j:center);
                      // font-size: 12px;
                      color: var(--ftColor20);
                      font-size: 16px;
                      line-height: 1.5;

                      b {
                        font-size: 16px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modalWrap {
  &.md_aiPersonalSetting {
    @include modalLayout_t2;

    .modalContainer {
      width: 700px;
      max-height: 600px;

      .modalContent {
        // height: 760px;

        section {
          &.sec_list {
            .box_list {
              .listArea {
                .listBox {
                  .list {
                    &:nth-child(n+2) {
                      margin: 35px 0 0 0;
                    }

                    >p {
                      font-size: 16px;

                      span {
                        margin-left: 15px;
                        font-size: 10px;
                        color: var(--ftColor20);
                      }
                    }

                    >div {
                      margin: 10px 0 0 0;

                      input {
                        width: 100%;
                      }

                      button {
                        @include btnLayout;

                        &.play {
                          @include ftRegular;
                          padding: 4px 10px;
                          margin-left: 5px;
                          // font-size: 16px;
                          color: var(--ftColor6);
                          // color: #fff;

                          &:before {
                            @include iLayout;
                            content: "▶";
                            margin-right: 10px;
                            font-size: 14px;
                          }
                        }

                        &:disabled {
                          color: var(--btnDis_ftColor);
                          cursor: default;
                        }
                      }
                    }

                    ul {
                      li {
                        margin: 25px 0 0 0;

                        >p {
                          span {
                            margin: 0 0 0 12px;
                            font-size: 10px;
                            color: var(--subFtColor);
                          }
                        }

                        >div {
                          margin: 12px 0 0 0;

                          &.radioBox {
                            input[type="radio"] {
                              @include mn_ai_tab_radio($pd: 0 22px, $minW:110px, $h: 40px, $m:0 0 0 10px);
                            }
                          }
                        }

                        &:nth-child(2) {
                          .radioBox {
                            input[type="radio"]+label {
                              min-width: 150px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .modalFooter {
        padding-bottom: 30px;

        button {
          &.close {
            @include btn_off;
          }

          &.save {
            @include btn_main;
          }
        }
      }
    }
  }
}


// CDP 대시보드
.wrap {
  .bubbleWrap {
    &.bw_userStats {
      &.pos-top {
        transform: translate(-25px, -30px)
      }

      &.pos-bottom {
        transform: translate(-25px, -250px)
      }

      .bubbleContainer {}

      .bubbleTitle {
        padding: 0;
      }

      .bubbleContent {
        width: 100%;
        margin: 5px 0 0 0;
        padding: 0 0 15px 0;
      }
    }
  }
}

@media(min-width: 768px) and (max-width:1600px) {
  .wrap {
    .container {
      &.tune_aiHome_work {
        &.wide-view {
          .tune_aiHome_work {
            width: calc(100vw - 140px);
          }
        }

        .tune_aiHome_work {
          width: calc(100vw - 300px);
          border: 1px solid #f00;

          .content {
            section {
              &.sec_aiHome {
                padding: 0 calc(30% - 10vw + 10px) 80px calc(0vw + 0px);
                padding: 0;

                >div {

                  &.box_circle,
                  &.box_guide,
                  &.box_input,
                  &.box_customQuestion {
                    width: calc(100vw - 20vw - 250px);
                    // margin-left: 10vw;
                  }

                  &.box_input {
                    margin: 45px auto 0 10vw;
                  }

                  &.box_customQuestion {
                    margin: 55px auto 0 10vw;
                  }
                }

                &.wide-view {
                  width: calc(100vw - 70px);
                }
              }
            }
          }

          &.t2 {
            width: calc(100vw - 250px);

            .content {
              min-width: auto;
              min-width: 400px;

              section {
                &.sec_aiHome {
                  min-width: auto;


                  .box_qna {
                    .qnaBox {
                      padding: 0 calc(30% - 10vw + 10px) 80px calc(10vw + 10px);
                    }
                  }

                  .box_input {
                    width: 70%;
                    margin-left: 10vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media(max-width:767px) {
  .wrap {
    // color: pink;

    .container {
      &.tune_aiHome_work {
        &.wide-view {
          .tune_aiHome_work {

            &.t1,
            &.t2 {
              width: calc(100vw - 70px);
              border: 1px solid blue;

            }
          }
        }
      }

      &.tune_aiHome_work {
        .tune_aiHome_work {

          &.t1,
          &.t2 {
            width: calc(100vw - 250px);

            .content {
              min-width: 400px;

              section {
                &.sec_aiHome {
                  min-width: auto;
                  min-width: 400px;

                  .box_guide {
                    font-size: 22px;
                    line-height: 1.2;
                  }

                  .box_qna {
                    .qnaBox {
                      padding: 0 calc(20% - 2vw + 10px) 80px calc(2vw + 10px);
                    }
                  }

                  .box_input {
                    width: 80%;
                    margin-left: 2vw;
                  }

                  .box_customQuestion {
                    margin: 25px auto 0;
                    width: calc(100% - 10vw);

                    .cont {
                      .box {
                        padding: 10px;
                      }
                    }
                  }
                }
              }
            }
          }

          &.t1 {
            .content {
              section {
                &.sec_aiHome {
                  .box_input {

                    width: calc(100% - 4vw);
                    margin: 45px auto 10%;
                    width: 90%;

                    width: calc(100% - 10vw);
                    margin: 45px auto 5vw;

                  }
                }
              }
            }
          }

          &.t2 {
            .content {
              section {
                &.sec_aiHome {
                  .box_input {
                    width: calc(100% - 4vw);
                    margin: 45px auto 2vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}