@charset "UTF-8";
/*
File   : color.scss
Date   : 2025.02.27
*/

/* 광고주센터 공통 색상 */
$color_main: #85b74e;
$color_bg: #f5f9f1;
$color_main_txt: #1e1e1e;
$gray_f : #f3f2f2;
$gray_e : #eeeeee;
$gray_d : #dadada;
$gray_b : #bfbfbf;
$gray_a : #aaaaaa;
$gray_4 : #4d4d4d;
$gray_3 : #3e3e3e;

/* 광고주 */
$color_adver: #84b64d;
/* 대행사 */
$color_agency: #ffc000;
/* 관리자 */
$color_admin: #5bb9f3;


/* 추가 색상 */
$white: #ffffff;
$black: #000000;
$red: #ff0000;

//* basic */
$mainColor: #4696ff;
$ftColor: #000000;
$subFtColor: #858585;
$brdColor: #c6c6c6;
$bgColor: #ffffff;

// point 
$pointColor: $mainColor;
$pointColor2: #f5f9ff;

// point - etc
$issueColor: #ffcf31;
$waitColor: #f3b115;
$errorColor: #ff6767;

// scroll 
$scrollbarBgColor: transparent;
$scrollbarBgColor2: #f4f4f4; //table scroll bg
$scrollThumbColor: #dedede;
$scrollThumbColor2: $pointColor;

//* gradient */
$gradient: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, rgba(7, 170, 255, 1) 50%, rgba(7, 170, 255, 0) 100%); // C: none


//* daterangepicker */
$dateFtColor2: #222222; // 요일
$dateFtColor3: #e5e5e5; // off
$dateFtColor4: #ffffff; // hover
$dateFtColor5: #222222; // 
$dateFtColor6: #ffffff;
$dateFtColor7: #ffffff; // 

$dateBorderColor: #d6d6d6;
$dateShadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
$dateBgColor: #ffffff;
// 기간선택
$dateBgColor2: $pointColor2;
$dateBgColor3: #eeeeee;
// disabled 
$dageDisFtColor: #cbcbcb;
$dageDisBgColor: #f3f3f2;
// input 
$dateIpBrdColor: #d6d6d6;
$dateIpBgColor: #ffffff;



// font
$ftColor2: $pointColor;
$ftColor3: #ffffff;
$ftColor4: #aaaaaa;


// up & down 
$upColor: #ff6767;
$downColor: #5ab7ff;

// input 
$ftColor_dis: #b3b3b3;
$brdColor_dis: #eceff1;
$bgColor_dis: #eceff1;

// border
$border2: none;

// shadow 
$shadow: 0 0 20px 0 $pointColor; // B: point, C: point


//* header */
$headerFtColor: #1e1e1e;
$headerBorderColor: #f3f2f2;

//* navigation */
$ico_navColor_on: $pointColor; //ico on
$ico_navColor_off: $white; //ico off
$navFtColor: $ftColor;
$navFtColor2: #aaaaaa; // nav 하위 폰트 색상
$navFtColor3: $pointColor; // nav 하위 폰트 on 색상 
$navOnFtColor: $pointColor;
$navBorderGradient: $gradient;
$navShadow: 0 2px 0 0 rgba(0, 0, 0, 0.5),
inset 0 0 15px 0 rgba(255, 255, 255, 0.05);
$navCloseBorderColor: #48527a;
$navCloseBgColor: #182152;
$navBorder: #f3f2f2;
$navBgColor2: #161e48; // 1depth active
$navBgColor3: #f9f9f9; // 2depth
$navBgColor4: #e6f0db; // 2depth active
// on 
$navFtColor_on: #1e1e1e;
$navBgColor_on: #ffffff;
$navBgColor_on2: $pointColor2; // 2depth on

//* input */
//* input */
$ipBrdColor: #c9c9c9;
$ipBgColor: #ffffff; // checkBox bg
// placeholder
$ipFtColor_placeholder: #d8d8d8;
// disabled
$ipFtColor_disabled: #cbcbcb;
$ipBorderColor_disabled: #eeeeee;
$ipBgColor_disabled: #f3f3f3;

//* button */
// main 1 - on (main)
$btnMain_ftColor: #ffffff;
$btnMain_bgColor: $pointColor;
// main 1 - on (main)
$btnOn_ftColor: #ffffff;
$btnOn_BorderColor: $pointColor;
$btnOn_bgColor: $pointColor;
// off
$btnOff_ftColor: #1e1e1e;
$btnOff_brdColor: #dadada;
$btnOff_bgColor: #ffffff;
// disabled
$btnDis_ftColor: $ipFtColor_disabled;
$btnDis_brdColor: $ipBorderColor_disabled;
$btnDis_bgColor: $ipBgColor_disabled;
// btn2 > white/black
$btnftColor2: #ffffff;
$btnBrdColor2: #333333;
$btnBgColor2: #333333;


//* Table */
// table - thead, tbody 
$tblBorderColor: #e0e0e0;
$tblFtColor: #000000;
$tblBgColor: #ffffff;
// total 
$tblTotalBg: #f6f6f9;
$tblTotalBorder: #bfcace;
// row over
$tblRowHover: #f6f6f9;
// table - thead */
$tblTheaderFtColor: #77787d;
$tblTheadBgColor: #f4f4f4;
$tblTeadBgColor2: #00c170;
// border
$tblBrdColor: #999999;
$tblBrdColor2: #ececec;
$tblBrdColor3: #ffffff;
$tblBrdColor4: #00c170;
// bg
$tblBgColor2: #00c170;


//* modal */
$mdBrdColor: transparent;
$mdShadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
$mdBgColor: #ffffff;

// md title 
$mdBrdColor2: #e9e9e9;

// etc
$color1: #f5f9ff;