/*------------------------------
    Explain : MOBTUNE
    File : history.scss
    Date   : 2025.03.127
/*--------------------------------*/

/***** History *****/
/*

25.03.12 , 이준희 주임님 요청
1. 보고서 > 캠페인별 보고서(reportKPI.html)
 - 검색영역에 소재(라디오버튼) 추가 및, 하단 안내문구 추가

24.11.20 
> 김해민 대리님 컨펌받고 퍼블리싱 1차완료물 깃에 업로드 함