@charset "UTF-8";
/*-------------------------------------------------------------------------------------------------------------
    File   : image.scss
    Date   : 2022.11.12
/*------------------------------------------------------------------------------------------------------------*/
/******************** logo ********************/
/******************** icon ********************/
/* 캠페인생성 */
/* 캠페인리스트 */
/* CDP > 캠페인리스트 > 상품추천 모달 */
/* CDP > 캠페인리스트 > 상품추천 모달 End */
/*
RFM 분석
*/
/***** dmp *****/
/***** adAnalysis 상품분석 *****/
/******************** input ********************/
/* checkbox, radio icon */
/***** button *****/
