/*
File   : image.scss
Date   : 2025.10.23
*/
.typeB {
  --logo_tune: url(../image_v3/logo/logoB_tune720.svg) no-repeat center;
  --logo_isend: url(../image_v3/logo/logo_isend_wht.svg) no-repeat center;
  --logo_mobon: url(../image_v3/logo/logo_mobon_wht.svg) no-repeat center;
  --logo_mobwith: url(../image_v3/logo/logo_mobwith_wht.svg) no-repeat center;
  --logo_items: url(../image_v3/logo/logo_items_wht.svg) no-repeat center;
  --logo_mobi: url(../image_v3/logo/logo_mobi_wht.svg) no-repeat center;
  --logo_kakaoPM: url(../image_v3/logo/logo_kakaoPersonalMessage_wht.png) no-repeat center;
  --logo_makeTApp: url(../image_v3/logo/logo_makeTApp_wht.png) no-repeat center;
  --logo_ADHub: url(../image_v3/logo/logo_ADHub_wht.png) no-repeat center;
  --logo_criteo2: url(../image_v3/logo/logo_criteo_wht.png) no-repeat center;
  --logo_googleAds: url(../image_v3/logo/logo_googleAds_wht.png) no-repeat center;
  --header_ai: url(../image_v3/menu/icoB_ai.svg) no-repeat center;
  --nav_reportPlus_on: url(../image_v3/menu/icoB_reportPlus_on.svg) no-repeat center;
  --nav_reportPlus_off: url(../image_v3/menu/icoB_reportPlus_off.svg) no-repeat center;
  --ico_widget: url(../image_v3/component/icoB_widget.svg) no-repeat center;
  --ico_widgetAdd2: url(../image_v3/component/icoB_widgetAdd2.svg) no-repeat center;
  --ico_checkbox_on: url(../image_v3/component/icoB_checkbox_on.svg) no-repeat center;
  --ico_checkbox_off: url(../image_v3/component/icoB_checkbox_off.svg) no-repeat center;
  --ico_checkbox_disabled: url(../image_v3/component/icoB_checkbox_disabled.svg) no-repeat center;
  --ico_radio_on: url(../image_v3/component/icoB_radio_on.svg) no-repeat center;
  --ico_radio_off: url(../image_v3/component/icoB_radio_off.svg) no-repeat center;
  --ico_radio_disabled: url(../image_v3/component/icoB_radio_disabled.svg) no-repeat center;
  --ico_calendar: url(../image_v3/component/icoB_calendar.svg);
  --ico_calendar_disabled: url(../image_v3/component/icoB_calendar_disabled.svg);
  --ico_select: url(../image_v3/component/icoB_select.svg) no-repeat center;
  --ico_searchBox: url(../image_v3/component/icoB_searchBox.svg) no-repeat center;
  --ico_paperAirplain: url(../image_v3/component/ico_paperAirplain.svg) no-repeat center;
  --ico_send_on: url(../image_v3/component/icoB_send_on.png) no-repeat center;
  --ico_send_off: url(../image_v3/component/icoB_send_off.png) no-repeat center;
  --ico_noty_on: url(../image_v3/component/icoB_noty_on.svg) no-repeat center;
  --ico_noty_off: url(../image_v3/component/icoB_noty_off.png) no-repeat center;
  --ico_i: url(../image_v3/component/ico_i_wht.svg) no-repeat center;
  --ico_i_wht: url(../image_v3/component/ico_i_wht.svg) no-repeat center;
  --ico_sign: url(../image_v3/component/icoB_sign.svg) no-repeat center;
  --ico_check: url(../image_v3/component/icoB_check.svg) no-repeat center;
  --ico_siteNotFound: url(../image_v3/component/icoB_siteNotFound.svg) no-repeat center;
  --ico_inflow: url(../image_v3/component/icoB_inflow.svg) no-repeat center;
  --ico_inflowMoney: url(../image_v3/component/icoB_inflowMoney.svg) no-repeat center;
  --ico_arrowRightS: url(../image_v3/component/icoB_arrowRightS.svg) no-repeat center;
  --ico_arrowRightS_t2: url(../image_v3/component/ico_arrowRightS_wht.svg) no-repeat center;
  --ico_star_on: url(../image_v3/component/icoB_star_on.svg) no-repeat center;
  --ico_star_off: url(../image_v3/component/icoB_star_off.svg) no-repeat center;
  --ico_star2_on: url(../image_v3/component/icoB_star2_on.svg) no-repeat center;
  --ico_star2_off: url(../image_v3/component/icoB_star2_off.svg) no-repeat center;
  --ico_star3: url(../image_v3/component/icoB_star3.svg) no-repeat center;
  --ico_arrowRight: url(../image_v3/component/icoB_arrowRight.svg) no-repeat center;
  --ico_purchaseRate_on: url(../image_v3/component/icoB_purchaseRate.svg) no-repeat center;
  --ico_purchaseRate_off: url(../image_v3/component/icoB_purchaseRate.svg) no-repeat center;
  --ico_leaveRate_on: url(../image_v3/component/icoB_leaveRate.svg) no-repeat center;
  --ico_leaveRate_off: url(../image_v3/component/icoB_leaveRate.svg) no-repeat center;
  --ico_visitCount_on: url(../image_v3/component/icoB_visitCount.svg) no-repeat center;
  --ico_visitCount_off: url(../image_v3/component/icoB_visitCount.svg) no-repeat center;
  --ico_basketSearch_on: url(../image_v3/component/icoB_basketSearch.svg) no-repeat center;
  --ico_basketSearch_off: url(../image_v3/component/icoB_basketSearch.svg) no-repeat center;
  --ico_basketPlus_on: url(../image_v3/component/icoB_basketPlus.svg) no-repeat center;
  --ico_basketPlus_off: url(../image_v3/component/icoB_basketPlus.svg) no-repeat center;
  --ico_customerPrice_on: url(../image_v3/component/icoB_customerPrice.svg) no-repeat center;
  --ico_customerPrice_off: url(../image_v3/component/icoB_customerPrice.svg) no-repeat center;
  --ico_monthPurchase_on: url(../image_v3/component/icoB_monthPurchase.svg) no-repeat center;
  --ico_monthPurchase_off: url(../image_v3/component/icoB_monthPurchase.svg) no-repeat center;
  --ico_basketCheck_on: url(../image_v3/component/icoB_basketCheck.svg) no-repeat center;
  --ico_basketCheck_off: url(../image_v3/component/icoB_basketCheck.svg) no-repeat center;
  --ico_monthCheck_on: url(../image_v3/component/icoB_monthCheck.svg) no-repeat center;
  --ico_monthCheck_off: url(../image_v3/component/icoB_monthCheck.svg) no-repeat center;
  --ico_visitNumber: url(../image_v3/component/icoB_visitNumber.svg) no-repeat center;
  --ico_prodInquiry: url(../image_v3/component/icoB_prodInquiry.svg) no-repeat center;
  --ico_basketNumber: url(../image_v3/component/icoB_basketNumber.svg) no-repeat center;
  --ico_buyFrequency: url(../image_v3/component/icoB_buyFrequency.svg) no-repeat center;
  --ico_unitPrice: url(../image_v3/component/icoB_unitPrice.svg) no-repeat center;
  --ico_dataMonitor: url(../image_v3/etc/icoB_dataMonitor.svg) no-repeat center;
  --ico_provide: url(../image_v3/component/icoB_provide.svg) no-repeat center;
  --ico_data: url(../image_v3/etc/icoB_data.svg) no-repeat center;
  --ico_monitor: url(../image_v3/etc/icoB_monitor.svg) no-repeat center;
  --ico_calendarChart: url(../image_v3/etc/icoB_calendarChart.svg) no-repeat center;
  --ico_dataCalendar: url(../image_v3/etc/icoB_dataCalendar.svg) no-repeat center;
  --ico_calendarMonth: url(../image_v3/etc/icoB_calendarMonth.svg) no-repeat center;
  --ico_calendarDay: url(../image_v3/etc/icoB_calendarDay.svg) no-repeat center;
  --ico_prepare: url(../image_v3/etc/icoB_prepare.svg) no-repeat center;
  --ico_write_off: url(../image_v3/component/icoB_write_off.svg) no-repeat center;
  --ico_analysis: url(../image_v3/component/icoB_analysis.svg) no-repeat center;
  --ico_script: url(../image_v3/component/icoB_script.svg) no-repeat center;
  --img_myReport: url(../image_v3/etc/img_myReportB.png) no-repeat center;
  --ico_ai: url(../image_v3/component/icoB_ai.svg) no-repeat center;
  --ico_mail: url(../image_v3/component/icoB_mail.svg) no-repeat center;
  --ico_check5: url(../image_v3/component/icoB_check5.svg) no-repeat center;
}

.typeC {
  --logo_tune: url(../image_v3/logo/logo_tune720.svg) no-repeat center;
  --logo_isend: url(../image_v3/logo/logo_isend.svg) no-repeat center;
  --logo_mobon: url(../image_v3/logo/logo_mobon.svg) no-repeat center;
  --logo_mobwith: url(../image_v3/logo/logo_mobwith.svg) no-repeat center;
  --logo_items: url(../image_v3/logo/logo_items.svg) no-repeat center;
  --logo_mobi: url(../image_v3/logo/logo_mobi.svg) no-repeat center;
  --logo_kakaoPM: url(../image_v3/logo/logo_kakaoPersonalMessage.png) no-repeat center;
  --logo_makeTApp: url(../image_v3/logo/logo_makeTApp.png) no-repeat center;
  --logo_ADHub: url(../image_v3/logo/logo_ADHub.png) no-repeat center;
  --logo_criteo2: url(../image_v3/logo/logo_criteo.png) no-repeat center;
  --logo_googleAds: url(../image_v3/logo/logo_googleAds.png) no-repeat center;
  --header_ai: url(../image_v3/menu/ico_ai.svg) no-repeat center;
  --nav_reportPlus_on: url(../image_v3/menu/ico_reportPlus_on.svg) no-repeat center;
  --nav_reportPlus_off: url(../image_v3/menu/ico_reportPlus_off.svg) no-repeat center;
  --ico_widget: url(../image_v3/component/ico_widget.svg) no-repeat center;
  --ico_widgetAdd2: url(../image_v3/component/ico_widgetAdd2.svg) no-repeat center;
  --ico_checkbox_on: url(../image_v3/component/ico_checkbox_on.svg) no-repeat center;
  --ico_checkbox_off: url(../image_v3/component/ico_checkbox_off.svg) no-repeat center;
  --ico_checkbox_disabled: url(../image_v3/component/ico_checkbox_disabled.svg) no-repeat center;
  --ico_radio_on: url(../image_v3/component/ico_radio_on.svg) no-repeat center;
  --ico_radio_off: url(../image_v3/component/ico_radio_off.svg) no-repeat center;
  --ico_radio_disabled: url(../image_v3/component/ico_radio_disabled.svg) no-repeat center;
  --ico_calendar: url(../image_v3/component/ico_calendar.svg);
  --ico_calendar_disabled: url(../image_v3/component/ico_calendar_disabled.svg);
  --ico_select: url(../image_v3/component/ico_select.svg) no-repeat center;
  --ico_searchBox: url(../image_v3/component/ico_searchBox.svg) no-repeat center;
  --ico_paperAirplain: url(../image_v3/component/ico_paperAirplain_blue.svg) no-repeat center;
  --ico_send_on: url(../image_v3/component/ico_send_on.svg) no-repeat center;
  --ico_send_off: url(../image_v3/component/ico_send_off.svg) no-repeat center;
  --ico_noty_on: url(../image_v3/component/ico_noty_on.svg) no-repeat center;
  --ico_noty_off: url(../image_v3/component/ico_noty_off.svg) no-repeat center;
  --ico_i: url(../image_v3/component/ico_i.svg) no-repeat center;
  --ico_i_wht: url(../image_v3/component/ico_i_wht.svg) no-repeat center;
  --ico_sign: url(../image_v3/component/ico_sign.svg) no-repeat center;
  --ico_check: url(../image_v3/component/ico_check.svg) no-repeat center;
  --ico_siteNotFound: url(../image_v3/component/ico_siteNotFound.svg) no-repeat center;
  --ico_inflow: url(../image_v3/component/ico_inflow.svg) no-repeat center;
  --ico_inflowMoney: url(../image_v3/component/ico_inflowMoney.svg) no-repeat center;
  --ico_arrowRightS: url(../image_v3/component/ico_arrowRightS.svg) no-repeat center;
  --ico_arrowRightS_t2: url(../image_v3/component/ico_arrowRightS_gry.svg) no-repeat center;
  --ico_star_on: url(../image_v3/component/ico_star_on.svg) no-repeat center;
  --ico_star_off: url(../image_v3/component/ico_star_off.svg) no-repeat center;
  --ico_star2_on: url(../image_v3/component/ico_star2_on.svg) no-repeat center;
  --ico_star2_off: url(../image_v3/component/ico_star2_off.svg) no-repeat center;
  --ico_star3: url(../image_v3/component/ico_star3.svg) no-repeat center;
  --ico_arrowRight: url(../image_v3/component/ico_arrowRight.svg) no-repeat center;
  --ico_purchaseRate_on: url(../image_v3/component/ico_purchaseRate_on.svg) no-repeat center;
  --ico_purchaseRate_off: url(../image_v3/component/ico_purchaseRate_off.svg) no-repeat center;
  --ico_leaveRate_on: url(../image_v3/component/ico_leaveRate_on.svg) no-repeat center;
  --ico_leaveRate_off: url(../image_v3/component/ico_leaveRate_off.svg) no-repeat center;
  --ico_visitCount_on: url(../image_v3/component/ico_visitCount_on.svg) no-repeat center;
  --ico_visitCount_off: url(../image_v3/component/ico_visitCount_off.svg) no-repeat center;
  --ico_basketSearch_on: url(../image_v3/component/ico_basketSearch_on.svg) no-repeat center;
  --ico_basketSearch_off: url(../image_v3/component/ico_basketSearch_off.svg) no-repeat center;
  --ico_basketPlus_on: url(../image_v3/component/ico_basketPlus_on.svg) no-repeat center;
  --ico_basketPlus_off: url(../image_v3/component/ico_basketPlus_off.svg) no-repeat center;
  --ico_customerPrice_on: url(../image_v3/component/ico_customerPrice_on.svg) no-repeat center;
  --ico_customerPrice_off: url(../image_v3/component/ico_customerPrice_off.svg) no-repeat center;
  --ico_monthPurchase_on: url(../image_v3/component/ico_monthPurchase_on.svg) no-repeat center;
  --ico_monthPurchase_off: url(../image_v3/component/ico_monthPurchase_off.svg) no-repeat center;
  --ico_basketCheck_on: url(../image_v3/component/ico_basketCheck_on.svg) no-repeat center;
  --ico_basketCheck_off: url(../image_v3/component/ico_basketCheck_off.svg) no-repeat center;
  --ico_monthCheck_on: url(../image_v3/component/ico_monthCheck_on.svg) no-repeat center;
  --ico_monthCheck_off: url(../image_v3/component/ico_monthCheck_off.svg) no-repeat center;
  --ico_visitNumber: url(../image_v3/component/ico_visitNumber.svg) no-repeat center;
  --ico_prodInquiry: url(../image_v3/component/ico_prodInquiry.svg) no-repeat center;
  --ico_basketNumber: url(../image_v3/component/ico_basketNumber.svg) no-repeat center;
  --ico_buyFrequency: url(../image_v3/component/ico_buyFrequency.svg) no-repeat center;
  --ico_unitPrice: url(../image_v3/component/ico_unitPrice.svg) no-repeat center;
  --ico_dataMonitor: url(../image_v3/etc/ico_dataMonitor.svg) no-repeat center;
  --ico_provide: url(../image_v3/component/ico_provide.svg) no-repeat center;
  --ico_data: url(../image_v3/etc/ico_data.svg) no-repeat center;
  --ico_monitor: url(../image_v3/etc/ico_monitor.svg) no-repeat center;
  --ico_calendarChart: url(../image_v3/etc/ico_calendarChart.svg) no-repeat center;
  --ico_dataCalendar: url(../image_v3/etc/ico_dataCalendar.svg) no-repeat center;
  --ico_calendarMonth: url(../image_v3/etc/ico_calendarMonth.svg) no-repeat center;
  --ico_calendarDay: url(../image_v3/etc/ico_calendarDay.svg) no-repeat center;
  --ico_prepare: url(../image_v3/etc/ico_prepare.svg) no-repeat center;
  --ico_write_off: url(../image_v3/component/ico_write_off.svg) no-repeat center;
  --ico_analysis: url(../image_v3/component/ico_analysis.svg) no-repeat center;
  --ico_script: url(../image_v3/component/ico_script.svg) no-repeat center;
  --img_myReport: url(../image_v3/etc/img_myReportC.png) no-repeat center;
  --ico_ai: url(../image_v3/component/ico_ai.svg) no-repeat center;
  --ico_mail: url(../image_v3/component/ico_mail.svg) no-repeat center;
  --ico_check5: url(../image_v3/component/ico_check5.svg) no-repeat center;
}/*# sourceMappingURL=image.css.map */