@charset "UTF-8";
/*-------------------------------------------------------------------------------------------------------------
    Explain : 상품분석 > 광고효과 분석
    File   : productAnalysis_adAnalysis
    Date   : 2023.01.26
/*------------------------------------------------------------------------------------------------------------*/
/* 2023.01.26 일 기준 모비튠 유일 파란배경의 화면이어서 유지보수를 위해 해당 페이지의 소스는 모아두었음 
파란느낌의 페이지가 늘어날 경우 분리 예정임 */
/********** image.scss **********/
/********** conponent.scss **********/
/********** layout.scss **********/
/* blue version */
/********** 광고효과 분석 **********/
.mobtune_adAnalysis {
  background-color: #0a072b;
  color: #fff;
}

.mobtune_adAnalysis ::-moz-selection {
  color: #fff;
  background-color: #07e6ff;
}

.mobtune_adAnalysis ::selection {
  color: #fff;
  background-color: #07e6ff;
}

.mobtune_adAnalysis .title {
  display: none;
}

.mobtune_adAnalysis .content section {
  /* 검색 영역 (달력, 위젯) */
  /* 광고효과 안내글 */
  /*  탭 버튼 */
  /* 컨텐츠 내용(광고효과) */
}

.mobtune_adAnalysis .content section.sec_search .box_search .widgetBox button.widget {
  background: url("../img/component/ico_widget.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 30px;
  height: 30px;
}

.mobtune_adAnalysis .content section.sec_alarm {
  position: relative;
  padding: 0;
  background-color: #111a46;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5), inset 0 0 15px 0 rgba(255, 255, 255, 0.05);
          box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5), inset 0 0 15px 0 rgba(255, 255, 255, 0.05);
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  height: 65px;
  margin-top: 15px;
}

.mobtune_adAnalysis .content section.sec_alarm::before {
  position: absolute;
  content: '';
  top: -105px;
  left: 0%;
  width: 100%;
  height: 120px;
  background: radial-gradient(ellipse farthest-corner at, #4cebe8 0%, #4cebe8 50%, rgba(28, 190, 248, 0) 70%, rgba(7, 170, 255, 0) 100%);
  opacity: 0.16;
}

.mobtune_adAnalysis .content section.sec_alarm::after {
  position: absolute;
  content: '';
  top: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(7, 170, 255, 0)), color-stop(50%, #07aaff), to(rgba(7, 170, 255, 0)));
  background: linear-gradient(to right, rgba(7, 170, 255, 0) 0%, #07aaff 50%, rgba(7, 170, 255, 0) 100%);
}

.mobtune_adAnalysis .content section.sec_alarm .box_alarm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.mobtune_adAnalysis .content section.sec_alarm .box_alarm .txtBox p {
  margin: auto 0;
  text-align: center;
  font-size: 20px;
}

.mobtune_adAnalysis .content section.sec_alarm .box_alarm .txtBox p span:nth-of-type(1) {
  color: #ae6bfb;
}

.mobtune_adAnalysis .content section.sec_alarm .box_alarm .txtBox p span:nth-of-type(2) {
  color: #07e6ff;
}

.mobtune_adAnalysis .content section.sec_tabButton .box_tabButton .tabButton {
  /* 상품, 카테고리 */
  /* 클릭, 노출, 전환(건), 전환(매출) */
}

.mobtune_adAnalysis .content section.sec_tabButton .box_tabButton .tabButton:nth-child(1) button {
  width: 120px;
  height: 40px;
}
