/*-------------------------------------------------------------------------------------------------------------
    Explain : 포트폴리오
    File : common.scss
    Date   : 2023.01.03 
/*------------------------------------------------------------------------------------------------------------*/
/* z-inde 참고 */
/* 높은 순으로 >> loadingBg(9999), modalLayout(999), modalDim(998),iBubble,Qmark,tootip(200), navigation(100), dimCircle,loadingCircle(100), tableHeaderFixed(1) etc */

/***** 공통 CSS *****/
@import "_base";
@import "image";
@import "component";
@import "layout";


/***** 개별 CSS *****/
/* 모달 */
// @import "modal_layout";
// @import "modal";

/* index */
@import "index";

/* 로그인 */
// @import "login";

/* 참고용 css */
// @import "layoutExample";

//삭제 예정
// @import "bak";
// TEST
// @import "test";