@charset 'utf-8';

/*---------------------------------
    File   : content.scss
    Date   : 2023.04.04
/*---------------------------------*/


/* selection */
::selection {
  background: $mainColor;
}


/* display none */
.hidden {
  position: fixed;
  top: 0;
  left: -999em;
}

.disNone {
  display: none !important;
}

/* text */
.txtHide {
  @include txtHide();
}

.elHvrVsbl {
  @include ellipsis;
}

.elHvrVsbl2 {
  @include ellipsis_l2;
}

.elHvrVsbl4 {
  @include ellipsis_l2($wlc:4);
}

/* button */
button {
  @include button;
}