@charset 'utf-8';

/*---------------------------------
    File   : image.scss
    Date   : 2023.03.23
/*---------------------------------*/

/* 
common 
*/
@mixin image($folder, $name, $path: "../image/", $format: "svg", $bgX:center, $bgY:center) {
  background: url("#{$path}#{$folder}#{$name}.#{$format}") no-repeat;
  background-position-x: $bgX;
  background-position-y: $bgY;
  // background: url("../image/logo/logo_u.svg") center center no-repeat;
}


/*
test 
*/
@mixin img_me {
  @include image($folder:'content', $name: '/universe_4', $format:"jpg");
  // width: 563px;
  // height: 541px;
}


/*
logo
*/
@mixin logo_enliple {
  @include image($folder:'logo', $name: '/logo_enliple');
  width: 153px;
  height: 29px;
}

@mixin logo_1pay_by {
  @include image($folder:'logo', $name: '/logo_1pay_by');
  width: 66px;
  height: 19px;
}

@mixin logo_abmNamyang {
  @include image($folder:'logo', $name: '/logo_abmNamyang');
  width: 130px;
  height: 33px;
}

@mixin logo_mobtune {
  @include image($folder:'logo', $name: '/logo_mobtune', $format:'png');
  width: 921px;
  height: 132px;
}

@mixin logo_mobfeed {
  @include image($folder:'logo', $name: '/logo_mobfeed', $format:'png');
  width: 120px;
  height: 21px;
}


/*
header
*/
@mixin ico_top {
  @include image($folder:'component', $name: '/ico_top', $format:"png");
  width: 26px;
  height: 40px;
}


/* 
index
*/
@mixin img_browser {
  @include image($folder:'content', $name: '/img_browser', $format:'png');
  width: 542px;
  height: 337px;
}

@mixin img_universe {
  @include image($folder:'content', $name: '/bg_universe', $format:'png');
}

/* 
sub
*/
/* mobtune */
@mixin img_mobtune_rfmAnalysis {
  @include image($folder:'content', $name: '/img_mobtune_rfmAnalysis', $format:'png');
}

@mixin img_mobtune_campaignList {
  @include image($folder:'content', $name: '/img_mobtune_campaignList', $format:'png');
}

@mixin img_mobtune_userInfo {
  @include image($folder:'content', $name: '/img_mobtune_userInfo', $format:'png');
}