@charset 'utf-8';
/*---------------------------------
    File : mixin.scss
    Date : 2023.04.04 
/*---------------------------------*/

/* 
scroll 
*/
/* 
::-webkit-scrollbar{
@include scrollbar;}
*/
@mixin scrollbar {
  width: 15px;
  // height: 4px;
  // border-radius: 10px;
  // background: transparent;
}

/* 
::-webkit-scrollbar-thumb{
@include scrollbar-thumb;}
*/
/* 스크롤바 위치 */
@mixin scrollbar-thumb {
  // height: 15px;
  border: 3px solid transparent;
  // border-radius: 15px;
  background-clip: padding-box;
  background-color: $pointColor;
}

// ::-webkit-scrollbar-track {
//   @include scrollbar-track;
// }
/* 스크롤바 bg */
@mixin scrollbar-track {
  background: transparent;
}



/* 
animation 
*/
@mixin transition {
  transition: all 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



/* 
font 
*/
/* notosans */
@mixin ftRegular {
  font-family: "NotoSansR";
}

@mixin ftMedium {
  font-family: "NotoSansM";
}

@mixin ftBold {
  font-family: "NotoSansB";
}

/* roboto */
@mixin ft_roboto_B {
  font-family: "RobotoB";
}

/* maruburi */
@mixin ft_maruburi_B {
  font-family: "MaruBuri_B";
}

@mixin ft_maruburi_SB {
  font-family: "MaruBuri_SB";
}

@mixin ft_maruburi_R {
  font-family: "MaruBuri_R";
}

@mixin ft_maruburi_L {
  font-family: "MaruBuri_L";
}

@mixin ft_maruburi_EL {
  font-family: "MaruBuri_EL";
}


/* NanumSquareRound */
@mixin ft_nanumSR_EB {
  font-family: "NanumSR_EB";
}

@mixin ft_nanumSR_B {
  font-family: "NanumSR_B";
}

@mixin ft_nanumSR_R {
  font-family: "NanumSR_R";
}

@mixin ft_nanumSR_L {
  font-family: "NanumSR_L";
}

/* gangwon */
@mixin ft_gangwon_B {
  font-family: "ft_Gangwon_B";
}

@mixin ft_gangwon_R {
  font-family: "ft_Gangwon_R";
}

/* RixInooAriDuri */
@mixin ft_rix_R {
  font-family: "RixInooAriDuri_R";
}

/* NanumSquare */
@mixin ft_nanumSquare_B {
  font-family: "NanumSquareB";
}

@mixin ft_nanumSquare_R {
  font-family: "NanumSquareR";
}

@mixin ft_nanumSquare_L {
  font-family: "NanumSquareL";
}

/* Kyobo */
@mixin ft_kyoboPDY {
  font-family: "KyoboPDY";
}

/* Kyobo */
@mixin ft_kyoboSJY {
  font-family: "KyoboSJY";
}




/* 
text
 */
@mixin txtHide {
  text-indent: -999999px;
  font-size: 0;
}

@mixin description {
  font-size: 13px;
  line-height: 18px;
  color: #777777;
}


/* txtDot */
@mixin txtDot {
  content: "";
  position: relative;
  display: inline-block;
  width: 3px;
  height: 3px;
  top: -3px;
  margin-right: 4px;
  border-radius: 100%;
  background-color: $fontColor;
}

@mixin txtDot_t2 {
  content: "";
  position: absolute;
  display: inline-block;
  width: 3px;
  height: 3px;
  top: 10px;
  left: 16px;
  margin-right: 4px;
  font-size: 14px;
  border-radius: 100%;
  background-color: $pointColor;
}


/* ellipsis */
@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin ellipsis_l2($wlc:2) {
  display: -webkit-box;
  //width: 100px;
  //height: 100px;
  //line-height: 22px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  -webkit-line-clamp: $wlc;
  -webkit-box-orient: vertical;
}

/* ellipsis hover */
@mixin ellipsisHover {
  overflow: visible;
  white-space: normal;
  word-break: break-all;
  cursor: pointer;
}



/* icon */
@mixin iLayout {
  content: "";
  position: relative;
  display: inline-block;
  background-position: 0px 0px;
  font-size: 0;
}



/* flex */
@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_start {
  display: flex;
  justify-content: start;
}



/* button */
@mixin button {
  @include ftRegular();
}

@mixin btnLayout {
  @include ftRegular();
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
}

@mixin btnLayoutS($height:36px) {
  min-width: 100px;
  height: $height;
  padding: 3px 15px 3px;
  font-size: 14px;
  text-align: center;
}

@mixin btn_white {
  color: $mainColor;
  border: 1px solid $mainColor;
  background-color: #fff;
}

@mixin btn_disabled {
  color: #aaaaaa;
  border: 1px solid #d2d2d2;
  background-color: #e9e9e9;
}




/* layout */
@mixin secLayout($pd:30px, $mg:0px) {
  position: relative;
  width: 100%;
  background: #fff;
  padding: $pd;
  padding: 1.875rem;
  padding: 1.875rem 100px;
  // box-shadow: 0.8px 0.6px 5px 0 rgba(0, 0, 0, 0.15);
  // border-radius: 5px;
  margin: $mg;
  // border: 1px solid #eee;
}