@charset 'utf-8';

/*---------------------------------
    File : sub.scss
    Date : 2023.03.22 
/*---------------------------------*/

.wrapper {

  /* 모비튠 SUB */
  &.sonjye_tuneSub {
    .container {
      width: calc(100% - 480px);
      margin: 300px 0 0 480px;
    }

    .title {
      padding-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;

      p {
        @include ani_downUp;
        @include ftBold;
        letter-spacing: -1.8px;
        font-size: 60px;
      }

      .category {
        margin-top: 80px;

        ul {
          li {
            display: inline-block;
            margin-left: 40px;

            &:first-child {
              margin-left: 0;
            }

            a {
              @include ftBold;
              padding: 10px;
              font-size: 24px;
              color: $subFontColor_whiteGray;
            }

            &.on {
              a {
                color: $pointColor;
              }
            }

            &:hover {
              a {
                color: $pointColor;
              }
            }

            &:first-child {
              a {
                padding-left: 0;
              }
            }
          }
        }
      }
    }

    .content {
      margin-top: 100px;

      section {
        min-height: 100vh;
        height: auto;

        ::-webkit-scrollbar {
          @include scrollbar;
        }

        ::-webkit-scrollbar-thumb {
          @include scrollbar-thumb;
        }

        &.sec_mobtune {
          margin-bottom: 200px;
          padding: 0;

          .descriptionBox {

            p {
              &:first-child {
                font-size: 54px;
                line-height: 80px;

                strong {
                  @include ftBold;
                  display: block;
                }
              }

              &:nth-child(2) {
                margin-top: 60px;
                line-height: 1.5;
                font-size: 36px;
                color: #aaa;

                strong {
                  @include ftBold;
                  margin: 0 2px;
                  color: $fontColor;
                }
              }
            }
          }

          .categoryList {
            margin-top: 100px;

            >div {
              display: none;
              position: relative;
              width: 1080px;
              height: 1800px;
              font-size: 0;

              &.show {
                display: block;
              }

              img {
                width: 100%;
                height: 100%;
              }

              &:nth-child(1) {
                @include img_mobtune_rfmAnalysis;
                background-size: contain;
                background-position-y: top;
              }

              &:nth-child(2) {
                @include img_mobtune_campaignList;
                background-size: contain;
                background-position-y: top;
              }

              &:nth-child(3) {
                @include img_mobtune_userInfo;
                background-size: contain;
                background-position-y: top;
              }
            }
          }
        }
      }
    }
  }

  /* 남양 SUB */
  &.sonjye_abmSub {
    .container {
      width: calc(100% - 480px);
      margin: 300px 0 0 480px;
    }

    .title {
      padding-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;

      p {
        @include ftBold;
        letter-spacing: -1.8px;
        font-size: 60px;
        animation: textAni 1s ease forwards;
      }

      .category {
        margin-top: 80px;

        ul {
          li {
            display: inline-block;
            margin-left: 40px;

            &:first-child {
              margin-left: 0;
            }

            a {
              @include ftBold;
              padding: 10px;
              font-size: 24px;
              color: $subFontColor_whiteGray;
            }

            &.on {
              a {
                color: $pointColor;
              }
            }

            &:hover {
              a {
                color: $pointColor;
              }
            }

            &:first-child {
              a {
                padding-left: 0;
              }
            }
          }
        }
      }
    }

    .content {
      margin-top: 100px;

      section {
        min-height: 100vh;
        height: auto;

        ::-webkit-scrollbar {
          @include scrollbar;
        }

        ::-webkit-scrollbar-thumb {
          @include scrollbar-thumb;
        }

        &.sec_mobtune {
          margin-bottom: 200px;
          padding: 0;

          .descriptionBox {

            p {
              &:first-child {
                font-size: 54px;
                line-height: 80px;

                strong {
                  @include ftBold;
                  display: block;
                }
              }

              &:nth-child(2) {
                margin-top: 60px;
                line-height: 1.5;
                font-size: 36px;
                color: #aaa;

                strong {
                  @include ftBold;
                  margin: 0 2px;
                  color: $fontColor;
                }
              }
            }
          }

          .categoryList {
            margin-top: 100px;

            >div {
              display: none;
              position: relative;
              width: 1080px;
              height: 1800px;
              font-size: 0;

              &.show {
                display: block;
              }

              img {
                width: 100%;
                height: 100%;
              }

              &:nth-child(1) {
                @include img_abm_dashboard;
                background-size: contain;
                background-position-y: top;
              }

              &:nth-child(2) {
                @include img_abm_login;
                background-size: contain;
                background-position-y: top;
              }

              &:nth-child(3) {
                @include img_abm_dmp;
                background-size: contain;
                background-position-y: top;
              }

              &:nth-child(4) {
                @include img_abm_userAnalysis;
                background-size: contain;
                background-position-y: top;
              }

              &:nth-child(5) {
                @include img_abm_campaignSet;
                background-size: contain;
                background-position-y: top;
              }

              &:nth-child(6) {
                @include img_abm_cmpDashboard;
                background-size: contain;
                background-position-y: top;
              }
            }
          }
        }
      }
    }
  }
}



/***** index end *****/