@charset 'utf-8';

/*---------------------------------
    File   : layout.scss
    Date   : 2023.04.13
/*---------------------------------*/

/* 
html
 */
html {
  min-height: -webkit-fill-available;
  overflow-x: hidden;

  body {
    width: 100vw;
    height: 100vh;
    line-height: 1;
  }
}



/* 
wrapper
*/
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-width: 280px;
}


/* 
header
*/
header {
  @include transition;
  position: sticky;
  display: block;
  width: 100vw;
  height: 96px;
  top: 0;
  padding: 0 10px;
  background-color: $white;
  z-index: 100;

  >.title {
    position: relative;
    display: flex;
    align-items: center;
    height: 55px;
    padding: 0;

    button {
      &.back {
        @include iLayout;
        @include ico_back;
        @include txtHide;
        position: relative;
        display: inline-block;
        margin: auto 0;
        padding: 15px;
        width: 30px;
      }
    }

    h1 {
      @include ftB;
      position: relative;
      display: inline-block;
      flex-grow: 1;
      margin: 0 0 0 8px;
      padding: 0;
      font-size: 18px;
      color: $fontColor;

      i {
        &.apptalk {
          @include iLayout;
          @include ico_apptalk;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
  }
}



/* 
navigation
*/
.gnb {
  position: relative;
  display: block;
  height: 41px;

  >ul {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100%;
    text-align: center;
    font-size: 0;

    >li {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 100%;
      margin-left: 10px;
      vertical-align: middle;

      &:first-child {
        margin: 0;
      }

      >a {
        @include transition();
        @include ftM;
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0 6px;
        font-size: 20px;
        letter-spacing: -0.32px;
        color: $gnbDefalutFontColor;

        &:after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 6px;
          height: 6px;
          top: -3px;
          right: 0px;
          border-radius: 100%;
          background-color: $pointColor;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &.on {
        >a {
          color: $gnbActiveFontColor;
        }
      }
    }
  }
}


/* 
container
*/
.container {
  position: relative;
  width: 100vw;
  padding: 10px 12px;
  font-size: 15px;
}