@charset 'utf-8';
/*---------------------------------
    File : mixin.scss
    Date : 2023.04.04 
/*---------------------------------*/

/* 
scroll 
*/
/* 
::-webkit-scrollbar{
@include scrollbar;}
*/
@mixin scrollbar {
  width: 15px;
  // height: 4px;
  // border-radius: 10px;
  // background: transparent;
}

/* 
::-webkit-scrollbar-thumb{
@include scrollbar-thumb;}
*/
/* 스크롤바 위치 */
@mixin scrollbar-thumb {
  // height: 15px;
  border: 3px solid transparent;
  // border-radius: 15px;
  background-clip: padding-box;
  background-color: $pointColor;
}

// ::-webkit-scrollbar-track {
//   @include scrollbar-track;
// }
/* 스크롤바 bg */
@mixin scrollbar-track {
  background: transparent;
}



/* 
animation 
*/
@mixin transition {
  transition: all 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*
 animation-name: dowmUp;
*/
@keyframes dowmUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin ani_downUp {
  animation-name: dowmUp;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


@keyframes move {

  0% {
    top: 0;
  }

  50% {
    top: 15px;
  }

  100% {
    top: 0;
  }
}

/* 
font 
*/
/* notosans */
@mixin ftL {
  font-family: "NotoSansL";
}

@mixin ftR {
  font-family: "NotoSansR";
}

@mixin ftM {
  font-family: "NotoSansM";
}

@mixin ftB {
  font-family: "NotoSansB";
}



/* 
text
 */
@mixin txtHide {
  text-indent: -999999px;
  font-size: 0;
}

@mixin description {
  font-size: 13px;
  line-height: 18px;
  color: #777777;
}



/* ellipsis */
@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin ellipsis_l2($wlc:2) {
  display: -webkit-box;
  //width: 100px;
  //height: 100px;
  //line-height: 22px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  -webkit-line-clamp: $wlc;
  -webkit-box-orient: vertical;
}

/* ellipsis hover */
@mixin ellipsisHover {
  overflow: visible;
  white-space: normal;
  word-break: break-all;
  cursor: pointer;
}



/* icon */
@mixin iLayout {
  content: "";
  position: relative;
  display: inline-block;
  background-position: 0px 0px;
  font-size: 0;
}



/* flex */
@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_start {
  display: flex;
  justify-content: start;
}



/* button */
@mixin button {
  @include ftR();
}

@mixin btnLayout {
  @include ftR();
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
}

@mixin btnLayout_big($height:37px) {
  width: 100%;
  height: $height;
  padding: 3px 15px 3px;
  font-size: 13px;
  text-align: center;
  border-radius: 5px;
}

@mixin btn_white {
  color: $mainColor;
  border: 1px solid $mainColor;
  background-color: #fff;
}

@mixin btn_gray {
  color: $fontColor;
  border: none;
  background-color: $btnBg_gray;
}

@mixin btn_disabled {
  color: #aaaaaa;
  border: 1px solid #d2d2d2;
  background-color: #e9e9e9;
}




/* layout */
@mixin secLayout($pd:30px, $mg:0px) {
  position: relative;
  width: 100%;
  background: #fff;
  padding: $pd;
  padding: 1.875rem;
  padding: 1.875rem 100px;
  // box-shadow: 0.8px 0.6px 5px 0 rgba(0, 0, 0, 0.15);
  // border-radius: 5px;
  margin: $mg;
  // border: 1px solid #eee;
}