@charset "UTF-8";
/*-------------------------------------------------------------------------------------------------------------
    File   : event.scss
    Date   : 2022.09.14
    Menu   : 이벤트
/*-------------------------------------------------------------------------------------------------------------*/
/**********  common css **********/
/******************** font ********************/
/* NotoSan */
/* NotoSan */
/******************** image ********************/
body {
  background-color: #fff;
}

/**********  each css **********/
.wrapper {
  /* 이벤트 */
}

.wrapper.permission_event {
  font-family: "NanumSquareR";
}

.wrapper.permission_event .container .title p {
  font-size: 0;
}

.wrapper.permission_event .container .content section {
  padding: 0 30px;
  /* 네이버 플레이스 저장하기 클릭! */
  /* 저장하기 화면 캡쳐하기 */
  /* 스크린샷 업로드하기 */
  /* 참여완료 버튼 클릭! */
}

.wrapper.permission_event .container .content section.sec_main {
  background: url("../img/content/img_eventBg.png") center center no-repeat;
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 420px;
  background-size: contain;
  background-color: #2f368e;
  background-position: center center;
}

.wrapper.permission_event .container .content section.sec_main:before {
  background: url("../img/content/img_eventBg.png") center center no-repeat;
  content: "";
  position: relative;
  display: inline-block;
}

.wrapper.permission_event .container .content section.sec_main .txtBox {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 20px 30px;
  text-align: center;
}

.wrapper.permission_event .container .content section.sec_main .txtBox p {
  font-size: 14px;
  color: #a1a4d7;
  line-height: 1.2;
  text-align: center;
}

.wrapper.permission_event .container .content section.sec_save {
  position: relative;
}

.wrapper.permission_event .container .content section.sec_save .tit {
  position: relative;
  margin: 0 auto;
  top: 20px;
  padding-top: 30px;
  text-align: center;
}

.wrapper.permission_event .container .content section.sec_save .tit p {
  font-size: 0;
}

.wrapper.permission_event .container .content section.sec_save .tit p:before {
  background: url("../img/content/img_title.png") center center no-repeat;
  content: "";
  position: relative;
  display: inline-block;
  min-width: 178px;
  min-height: 103px;
  background-size: contain;
}

.wrapper.permission_event .container .content section.sec_save .cont {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #f8f8f8;
  padding: 40px 30px 20px;
  border-radius: 20px;
  text-align: center;
}

.wrapper.permission_event .container .content section.sec_save .cont .imgBox img {
  width: -webkit-fill-available;
  max-width: 245px;
}

.wrapper.permission_event .container .content section.sec_save .cont .txtBox {
  margin-top: 16px;
}

.wrapper.permission_event .container .content section.sec_save .cont .txtBox p {
  font-family: "NanumSquareB";
  font-size: 13px;
  line-height: 1.5;
}

.wrapper.permission_event .container .content section.sec_save .cont .txtBox p span {
  background-color: #e4ef10;
}

.wrapper.permission_event .container .content section.sec_save .cont .txtBox p span:before {
  content: "[";
  position: relative;
  display: inline-block;
}

.wrapper.permission_event .container .content section.sec_save .cont .txtBox p span:after {
  content: "]";
  position: relative;
  display: inline-block;
}

.wrapper.permission_event .container .content section.sec_save .cont .buttonBox {
  margin-top: 20px;
}

.wrapper.permission_event .container .content section.sec_save .cont .buttonBox button {
  font-family: "NanumSquareB";
  max-width: 246px;
  width: 100%;
  height: 53px;
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
  background-color: #2f368e;
}

.wrapper.permission_event .container .content section.sec_capture {
  position: relative;
}

.wrapper.permission_event .container .content section.sec_capture .tit {
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}

.wrapper.permission_event .container .content section.sec_capture .tit p {
  font-size: 0;
}

.wrapper.permission_event .container .content section.sec_capture .tit p:before {
  background: url("../img/content/img_title2.png") center center no-repeat;
  content: "";
  position: relative;
  display: inline-block;
  min-width: 154px;
  min-height: 101px;
  background-size: contain;
}

.wrapper.permission_event .container .content section.sec_capture .cont {
  padding: 20px 30px;
  text-align: center;
}

.wrapper.permission_event .container .content section.sec_capture .cont .imgBox img {
  width: -webkit-fill-available;
  max-width: 148px;
  width: 100%;
  min-height: 303px;
  width: 150px;
}

.wrapper.permission_event .container .content section.sec_capture .cont .txtBox {
  margin-top: 16px;
}

.wrapper.permission_event .container .content section.sec_capture .cont .txtBox p {
  font-family: "NanumSquareB";
  font-size: 13px;
  line-height: 1.5;
}

.wrapper.permission_event .container .content section.sec_capture .cont .txtBox p span {
  display: inline-block;
  background-color: #e4ef10;
}

.wrapper.permission_event .container .content section.sec_capture .cont .txtBox p span:before {
  content: "[";
  position: relative;
  display: inline-block;
}

.wrapper.permission_event .container .content section.sec_capture .cont .txtBox p span:after {
  content: "]";
  position: relative;
  display: inline-block;
}

.wrapper.permission_event .container .content section.sec_capture .cont .buttonBox {
  margin-top: 20px;
}

.wrapper.permission_event .container .content section.sec_capture .cont .buttonBox button {
  font-family: "NanumSquareB";
  width: 100%;
  height: 53px;
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
  background-color: #2f368e;
}

.wrapper.permission_event .container .content section.sec_upload {
  position: relative;
}

.wrapper.permission_event .container .content section.sec_upload .tit {
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}

.wrapper.permission_event .container .content section.sec_upload .tit p {
  font-size: 0;
}

.wrapper.permission_event .container .content section.sec_upload .tit p:before {
  background: url("../img/content/img_title3.png") center center no-repeat;
  content: "";
  position: relative;
  display: inline-block;
  min-width: 154px;
  min-height: 101px;
  background-size: contain;
}

.wrapper.permission_event .container .content section.sec_upload .cont {
  text-align: center;
  max-width: 246px;
  margin: 0 auto;
}

.wrapper.permission_event .container .content section.sec_upload .cont .uploadBox {
  margin-top: 14px;
  padding: 50px 0px;
  border: 2px dotted #d4d4d4;
  border-radius: 10px;
}

.wrapper.permission_event .container .content section.sec_upload .cont .uploadBox button {
  font-family: "NanumSquareB";
  width: 160px;
  height: 54px;
  font-size: 15px;
  vertical-align: middle;
  color: #fff;
  border-radius: 70px;
  background-color: #2f368e;
}

.wrapper.permission_event .container .content section.sec_upload .cont .uploadBox > div {
  margin-top: 20px;
  font-size: 9px;
  color: #535353;
}

.wrapper.permission_event .container .content section.sec_upload .cont .uploadBox > div:before {
  content: "*";
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.wrapper.permission_event .container .content section.sec_upload .cont .txtBox {
  margin-top: 15px;
}

.wrapper.permission_event .container .content section.sec_upload .cont .txtBox p {
  font-family: "NanumSquareB";
  font-size: 13px;
  line-height: 1.5;
}

.wrapper.permission_event .container .content section.sec_upload .cont .txtBox p span {
  background-color: #e4ef10;
}

.wrapper.permission_event .container .content section.sec_upload .cont .txtBox p span:before {
  content: "[";
  position: relative;
  display: inline-block;
}

.wrapper.permission_event .container .content section.sec_upload .cont .txtBox p span:after {
  content: "]";
  position: relative;
  display: inline-block;
}

.wrapper.permission_event .container .content section.sec_guide {
  position: relative;
  margin-top: 60px;
}

.wrapper.permission_event .container .content section.sec_guide .tit {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.wrapper.permission_event .container .content section.sec_guide .tit p {
  font-size: 0;
}

.wrapper.permission_event .container .content section.sec_guide .tit p:before {
  background: url("../img/content/img_title4.png") center center no-repeat;
  content: "";
  position: relative;
  display: inline-block;
  min-width: 154px;
  min-height: 101px;
  background-size: contain;
}

.wrapper.permission_event .container .content section.sec_guide .cont {
  padding: 20px 30px;
  text-align: center;
}

.wrapper.permission_event .container .content section.sec_guide .cont .imgBox {
  margin-top: 10px;
}

.wrapper.permission_event .container .content section.sec_guide .cont .imgBox img {
  width: 190px;
}

.wrapper.permission_event .container .content section.sec_guide .cont .txtBox {
  margin-top: 20px;
}

.wrapper.permission_event .container .content section.sec_guide .cont .txtBox p {
  font-family: "NanumSquareB";
  font-size: 13px;
  line-height: 1.5;
}

.wrapper.permission_event .container .content section.sec_guide .cont .txtBox p span {
  display: inline-block;
  background-color: #e4ef10;
}

.wrapper.permission_event .container .content section.sec_guide .cont .txtBox p span:before {
  content: "[";
  position: relative;
  display: inline-block;
}

.wrapper.permission_event .container .content section.sec_guide .cont .txtBox p span:after {
  content: "]";
  position: relative;
  display: inline-block;
}

.wrapper.permission_event footer {
  margin-top: 40px;
}

.wrapper.permission_event footer button {
  width: 100%;
  height: 54px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.wrapper.permission_event footer button.incomplete {
  background-color: #b5b5b5;
}

.wrapper.permission_event footer button.complete {
  background-color: #2f368e;
}

/***** // event *****/
