@charset 'utf-8';

/*
File   : image.scss
Date   : 2024.08.02
*/

@mixin image($folder, $name, $path: "../image/", $format: "png", $bgXY:center, $width:null, $height: null, $bgSize:null) {
  background: url("#{$path}#{$folder}#{$name}.#{$format}") no-repeat $bgXY;
  // background: url("../image/logo/logo_u.svg") center center no-repeat;
  width: $width;
  height: $height;
  background-size: $bgSize;
}

@mixin imageMask($path:"../image/", $folder:null, $name:null, $format:"svg", $bgXY:center, $width:null, $height: null, $color:null) {
  mask: url("#{$path}#{$folder}#{$name}.#{$format}") no-repeat $bgXY;
  width: $width;
  height: $height;
  background: $color;
}


//* common */
@mixin ico_i {
  @include image($folder:'component', $name: '/ico_i', $format:"svg", $width:16px, $height: 16px, $bgSize: contain);
}

//* each */
@mixin ico_mapBox {
  @include image($folder:'component', $name: '/ico_mapBox', $width:120px, $height: 111px, $bgSize: contain);
}

@mixin ico_map {
  @include image($folder:'component', $name: '/ico_map', $width:24px, $height: 24px, $bgSize: contain);
}

@mixin ico_place {
  @include image($folder:'component', $name: '/ico_place', $width:40px, $height: 40px, $bgSize: contain);
}

@mixin ico_capture {
  @include image($folder:'component', $name: '/ico_capture', $width:40px, $height: 40px, $bgSize: contain);
}

@mixin ico_image {
  @include image($folder:'component', $name: '/ico_image', $width:40px, $height: 40px, $bgSize: contain);
}

@mixin ico_reward {
  @include image($folder:'component', $name: '/ico_reward', $width:40px, $height: 40px, $bgSize: contain);
}

@mixin ico_shop {
  @include image($folder:'component', $name: '/ico_shop', $width:24px, $height: 24px, $bgSize: contain);
}

@mixin ico_gift {
  @include image($folder:'component', $name: '/ico_gift', $width:100px, $height: 100px, $bgSize: contain);
}

@mixin ico_shopping {
  @include image($folder:'component', $name: '/ico_shopping', $width:40px, $height: 40px, $bgSize: contain);
}

@mixin ico_qna {
  @include image($folder:'component', $name: '/ico_qna', $width:40px, $height: 40px, $bgSize: contain);
}

@mixin ico_answer {
  @include image($folder:'component', $name: '/ico_answer', $width:40px, $height: 40px, $bgSize: contain);
}


//* example */
@mixin img_ex1 {
  @include image($folder:'example', $name: '/img_ex1', $width:267px, $height: 67px, $bgSize: contain);
}

@mixin img_ex2 {
  @include image($folder:'example', $name: '/img_ex2', $width:240px, $height: 240px, $bgSize: contain);
}

@mixin img_ex3 {
  @include image($folder:'example', $name: '/img_ex3', $width:240px, $height: 160px, $bgSize: contain);
}

@mixin img_ex4 {
  @include image($folder:'example', $name: '/img_ex4', $width:240px, $height: 200px, $bgSize: contain);
}

@mixin img_ex5 {
  @include image($folder:'example', $name: '/img_ex5', $width:240px, $height: 200px, $bgSize: contain);
}

@mixin img_ex6 {
  @include image($folder:'example', $name: '/img_ex6', $width:240px, $height: 200px, $bgSize: contain);
}

@mixin img_ex7 {
  @include image($folder:'example', $name: '/img_ex7', $width:240px, $height: 200px, $bgSize: contain);
}

@mixin img_ex8 {
  @include image($folder:'example', $name: '/img_ex8', $width:240px, $height: 200px, $bgSize: contain);
}

@mixin img_ex9 {
  @include image($folder:'example', $name: '/img_ex9', $width:240px, $height: 200px, $bgSize: contain);
}