@charset 'utf-8';

/*-------------------------------------------------------------------------------------------------------------
    File   : event.scss
    Date   : 2022.09.14
    Menu   : 이벤트
/*-------------------------------------------------------------------------------------------------------------*/



/**********  common css **********/
/******************** font ********************/
/* NotoSan */
@mixin ftRegular {
  font-family: "NotoSansR";
}

@mixin ftMedium {
  font-family: "NotoSansM";
}

@mixin ftBold {
  font-family: "NotoSansB";
}

/* NotoSan */
@mixin ftNanumSquare_L {
  font-family: "NanumSquareL";
}

@mixin ftNanumSquare_R {
  font-family: "NanumSquareR";
}

@mixin ftNanumSquare_B {
  font-family: "NanumSquareB";
}

/******************** image ********************/
@mixin img_eventBg {
  background: url("../img/content/img_eventBg.png") center center no-repeat;
}

@mixin img_event_title {
  background: url("../img/content/img_title.png") center center no-repeat;
}

@mixin img_event_title2 {
  background: url("../img/content/img_title2.png") center center no-repeat;
}

@mixin img_event_title3 {
  background: url("../img/content/img_title3.png") center center no-repeat;
}

@mixin img_event_title4 {
  background: url("../img/content/img_title4.png") center center no-repeat;
}

@mixin img_event_phone {
  background: url("../img/content/img_phone.png") center center no-repeat;
}

@mixin img_event_phone2 {
  background: url("../img/content/img_phone2.png") center center no-repeat;
}

@mixin img_event_point {
  background: url("../img/content/img_point.png") center center no-repeat;
}

body {
  background-color: #fff;
}

.wrapper {}


/**********  each css **********/
.wrapper {

  /* 이벤트 */
  &.permission_event {
    @include ftNanumSquare_R;

    .container {

      .title {
        p {
          font-size: 0;
        }
      }

      .content {
        section {
          padding: 0 30px;

          &.sec_main {
            @include img_eventBg();
            position: relative;
            padding: 0;
            width: 100%;
            height: 100%;
            min-height: 420px;
            background-size: contain;
            background-color: #2f368e;
            background-position: center center;

            &:before {
              @include img_eventBg;
              content: "";
              position: relative;
              display: inline-block;
            }

            .txtBox {
              position: absolute;
              width: 100%;
              bottom: 0px;
              padding: 20px 30px;
              text-align: center;

              p {
                font-size: 14px;
                color: #a1a4d7;
                line-height: 1.2;
                text-align: center;
              }
            }
          }

          /* 네이버 플레이스 저장하기 클릭! */
          &.sec_save {
            position: relative;

            .tit {
              position: relative;
              margin: 0 auto;
              top: 20px;
              padding-top: 30px;
              text-align: center;

              p {
                font-size: 0;

                &:before {
                  @include img_event_title;
                  content: "";
                  position: relative;
                  display: inline-block;
                  min-width: 178px;
                  min-height: 103px;
                  background-size: contain;
                }
              }
            }

            .cont {
              width: 100%;
              max-width: 300px;
              margin: 0 auto;
              background-color: #f8f8f8;
              padding: 40px 30px 20px;
              border-radius: 20px;
              text-align: center;

              .imgBox {
                img {
                  width: -webkit-fill-available;
                  max-width: 245px;
                }
              }

              .txtBox {
                margin-top: 16px;

                p {
                  @include ftNanumSquare_B;
                  font-size: 13px;
                  line-height: 1.5;

                  span {
                    background-color: #e4ef10;

                    &:before {
                      content: "[";
                      position: relative;
                      display: inline-block;
                    }

                    &:after {
                      content: "]";
                      position: relative;
                      display: inline-block;
                    }
                  }
                }
              }

              .buttonBox {
                margin-top: 20px;

                button {
                  @include ftNanumSquare_B;
                  max-width: 246px;
                  width: 100%;
                  height: 53px;
                  font-size: 15px;
                  color: #fff;
                  border-radius: 10px;
                  background-color: #2f368e;
                }
              }
            }
          }

          /* 저장하기 화면 캡쳐하기 */
          &.sec_capture {
            position: relative;

            .tit {
              position: relative;
              margin: 0 auto;
              padding-top: 40px;
              text-align: center;

              p {
                font-size: 0;

                &:before {
                  @include img_event_title2;
                  content: "";
                  position: relative;
                  display: inline-block;
                  min-width: 154px;
                  min-height: 101px;
                  background-size: contain;
                }
              }
            }

            .cont {
              padding: 20px 30px;
              text-align: center;

              .imgBox {

                img {
                  width: -webkit-fill-available;
                  max-width: 148px;
                  width: 100%;
                  min-height: 303px;
                  width: 150px;
                }
              }

              .txtBox {
                margin-top: 16px;

                p {
                  @include ftNanumSquare_B;
                  font-size: 13px;
                  line-height: 1.5;

                  span {
                    display: inline-block;
                    background-color: #e4ef10;

                    &:before {
                      content: "[";
                      position: relative;
                      display: inline-block;
                    }

                    &:after {
                      content: "]";
                      position: relative;
                      display: inline-block;
                    }
                  }
                }
              }

              .buttonBox {
                margin-top: 20px;

                button {
                  @include ftNanumSquare_B;
                  width: 100%;
                  height: 53px;
                  font-size: 15px;
                  color: #fff;
                  border-radius: 10px;
                  background-color: #2f368e;
                }
              }
            }
          }

          /* 스크린샷 업로드하기 */
          &.sec_upload {
            position: relative;

            .tit {
              position: relative;
              margin: 0 auto;
              padding-top: 40px;
              text-align: center;

              p {
                font-size: 0;

                &:before {
                  @include img_event_title3;
                  content: "";
                  position: relative;
                  display: inline-block;
                  min-width: 154px;
                  min-height: 101px;
                  background-size: contain;
                }
              }
            }

            .cont {
              text-align: center;
              max-width: 246px;
              margin: 0 auto;

              .uploadBox {
                margin-top: 14px;
                padding: 50px 0px;
                border: 2px dotted #d4d4d4;
                border-radius: 10px;

                button {
                  @include ftNanumSquare_B;
                  width: 160px;
                  height: 54px;
                  font-size: 15px;
                  vertical-align: middle;
                  color: #fff;
                  border-radius: 70px;
                  background-color: #2f368e;
                }

                >div {
                  margin-top: 20px;
                  font-size: 9px;
                  color: #535353;

                  &:before {
                    content: "*";
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                  }
                }
              }

              .txtBox {
                margin-top: 15px;

                p {
                  @include ftNanumSquare_B;
                  font-size: 13px;
                  line-height: 1.5;

                  span {
                    background-color: #e4ef10;

                    &:before {
                      content: "[";
                      position: relative;
                      display: inline-block;
                    }

                    &:after {
                      content: "]";
                      position: relative;
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }

          /* 참여완료 버튼 클릭! */
          &.sec_guide {
            position: relative;
            margin-top: 60px;

            .tit {
              position: relative;
              margin: 0 auto;
              text-align: center;

              p {
                font-size: 0;

                &:before {
                  @include img_event_title4;
                  content: "";
                  position: relative;
                  display: inline-block;
                  min-width: 154px;
                  min-height: 101px;
                  background-size: contain;
                }
              }
            }

            .cont {
              padding: 20px 30px;
              text-align: center;

              .imgBox {
                margin-top: 10px;

                img {
                  width: 190px;
                }
              }

              .txtBox {
                margin-top: 20px;

                p {
                  @include ftNanumSquare_B;
                  font-size: 13px;
                  line-height: 1.5;

                  span {
                    display: inline-block;
                    background-color: #e4ef10;

                    &:before {
                      content: "[";
                      position: relative;
                      display: inline-block;
                    }

                    &:after {
                      content: "]";
                      position: relative;
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    footer {
      margin-top: 40px;

      button {
        width: 100%;
        height: 54px;
        font-size: 16px;
        color: #fff;
        text-align: center;

        &.incomplete {
          background-color: #b5b5b5;
        }

        &.complete {
          background-color: #2f368e;
        }
      }
    }
  }
}



/***** // event *****/