@charset 'utf-8';

/*------------------------------------------------------------------------------------------------------------
    File   : image.scss
    Date   : 2022.09.06
    Explain: image
------------------------------------------------------------------------------------------------------------*/


/******************** logo  ********************/
@mixin logo_enliple {
  width: 136px;
  height: 27px;
  background: url("../img/logo/logo_enliple.svg") center center no-repeat;
}



/******************** header ********************/
@mixin ico_userInfo {
  width: 12px;
  height: 18px;
  background-image: url("../img/component/ico_userInfo.png");
}

@mixin ico_userInfoArrow {
  width: 10px;
  height: 6px;
  background-image: url("../img/component/ico_userInfoArrow.png");
}




/******************** menu ********************/
@mixin nav_statsBox_on {
  background-image: url("../img/menu/ico_statsBox_on.svg");
}

@mixin nav_statsBox_off {
  background-image: url("../img/menu/ico_statsBox_off.svg");
}

@mixin nav_list_on {
  background-image: url("../img/menu/ico_list_on.svg");
}

@mixin nav_list_off {
  background-image: url("../img/menu/ico_list_off.svg");
}

@mixin nav_stats_on {
  background-image: url("../img/menu/ico_stats_on.svg");
}

@mixin nav_stats_off {
  background-image: url("../img/menu/ico_stats_off.svg");
}

@mixin nav_set_on {
  background-image: url("../img/menu/ico_set_on.svg");
}

@mixin nav_set_off {
  background-image: url("../img/menu/ico_set_off.svg");
}



/******************** login ********************/
@mixin img_login {
  background: url("../img/content/img_login.jpg") center center no-repeat;
}



/******************** loading ********************/
@mixin ico_loadingCircle {
  width: 40px;
  height: 40px;
  background: url("../img/component/ico_loadingCircle.gif") center center no-repeat;
}

@mixin ico_loadingDot {
  width: 44px;
  height: 44px;
  background: url("../img/component/ico_loadingDot.gif") center center no-repeat;
}


/******************** icon ********************/
@mixin ico_Qmark {
  width: 15px;
  height: 15px;
  background: url("../img/component/ico_Qmark.svg") center center no-repeat;
}

// @mixin ico_Qmark_wht {
//   width: 15px;
//   height: 15px;
//   background: url("../img/component/ico_Qmark_wht.svg") center center no-repeat;
// }

@mixin ico_download_off {
  width: 16px;
  height: 14px;
  background: url("../img/component/ico_download_off.svg") center center no-repeat;
}

@mixin ico_closeBox {
  width: 25px;
  height: 25px;
  background: url("../img/component/ico_closeBox.svg") center center no-repeat;
}

@mixin ico_plusCircle {
  width: 29px;
  height: 29px;
  background: url("../img/component/ico_plusCircle.svg") center center no-repeat;
}


/******************** modal icon ********************/
// @mixin ico_md_close_wht {
//   width: 15px;
//   height: 15px;
//   background: url("../img/component/ico_md_close_wht.svg") center center no-repeat;
// }

// @mixin ico_md_close_bk {
//   width: 15px;
//   height: 15px;
//   background: url("../img/component/ico_md_close_bk.svg") center center no-repeat;
// }


/******************** table ********************/
/* sort */
// @mixin icon_sortDefault {
//   background-image: url("../img/component/ico_sortDefault.svg");
//   background-size: 15px 13px;
//   background-position: right center;
//   background-repeat: no-repeat;
// }

// @mixin icon_sortUp {
//   background-image: url("../img/component/ico_sortUp.svg");
//   background-size: 15px 13px;
//   background-position: right center;
//   background-repeat: no-repeat;
// }

// @mixin icon_sortDown {
//   background-image: url("../img/component/ico_sortDown.svg");
//   background-size: 15px 13px;
//   background-position: right center;
//   background-repeat: no-repeat;
// }



/******************** input ********************/
/* calendar */
@mixin ico_calendar {
  background: url("../img/component/ico_calendar.svg") center center no-repeat;
}

/* radio */
// @mixin ico_radio_on {
//   background: url("../img/component/ico_radio_on.svg") center center no-repeat;
// }

// @mixin ico_radio_off {
//   background: url("../img/component/ico_radio_off.svg") center center no-repeat;
// }


/* checkbox */
@mixin ico_checkbox_on {
  background: url("../img/component/ico_checkbox_on.svg") center center no-repeat;
}

@mixin ico_checkbox_off {
  background: url("../img/component/ico_checkbox_off.svg") center center no-repeat;
}


/* select */
@mixin ico_selectbox {
  width: 10px;
  height: 7px;
  background: #fff url("../img/component/ico_selectbox.svg") no-repeat right 10px center/10px;
}

/* calendar */
@mixin ico_calendar {
  width: 20px;
  height: 20px;
  background: url("../img/component/ico_calendar.svg") center center no-repeat;
}

/* search */
@mixin ico_search {
  width: 22px;
  height: 22px;
  background: url("../img/component/ico_search.svg") center center no-repeat;
}



/******************** paging  ********************/
@mixin ico_paging_prevList {
  background: url("../img/component/ico_paging_prevList.svg") no-repeat center/9px;
}

@mixin ico_paging_prev {
  background: url("../img/component/ico_paging_prev.svg") no-repeat center/7px;
}

@mixin ico_paging_next {
  background: url("../img/component/ico_paging_next.svg") no-repeat center/7px;
}

@mixin ico_paging_nextList {
  background: url("../img/component/ico_paging_nextList.svg") no-repeat center/9px;
}




/******************** etc  ********************/