@charset 'utf-8';

/*-------------------------------------------------------------------------------------------------------------
    File   : media.scss
    Date   : 2022.09.14
    Menu   : 매체관리
/*-------------------------------------------------------------------------------------------------------------*/



/**********  common css **********/

.container {}


/**********  each css **********/
.container {

  /* 매체관리 */
  &.permission_media {
    .content {
      section {
        &.sec_media {
          .box_media {
            padding: 20px 0;
            border: 1px solid #dddddd;

            .tableHeader {
              @include flexLayout_spaceBetween;
              padding: 0 20px 20px;
              border-bottom: 1px solid #eaeaea;

              .searchBox {
                .inputSearch {
                  @include searchBox_t2;
                  width: 500px;
                }
              }

              .buttonBox {
                button {
                  @include btnLayout;

                  &.register {
                    @include btn_green;
                    width: 84px;
                    height: 30px;
                  }
                }
              }
            }

            .tableWrap {
              @include tableWrap;
              @include tableBorderTop;
              margin: 20px;

              .tableBox {
                @include tableBox;
                // max-height: 200px;

                table {
                  thead {
                    @include tableHeaderFixed;

                    &:before {
                      @include tableHeaderBeforeFixed;
                    }

                    tr {
                      th {
                        &:last-child {

                          width: 170px;
                        }
                      }
                    }
                  }

                  tbody {
                    tr {
                      td {
                        .buttonBox {
                          button {
                            @include btnLayout;
                            @include btn_black;
                            display: block;
                            width: 100px;
                            height: 26px;
                            margin: 0 auto;
                            font-size: 14px;
                            text-align: center;
                            margin-top: 10px;

                            &:first-child {
                              margin-top: 0;
                            }

                            &.register {}

                            &.reportDay {}
                          }
                        }
                      }

                      input {}
                    }
                  }
                }
              }
            }

            .tableDataNone {
              @include divTblDataNone;
            }

            .paging {
              @include paging;
            }
          }
        }
      }
    }
  }

  /* 매체등록 */
  &.permission_mediaRegister {
    .content {
      section {
        &.sec_mediaRegister {
          .box_mediaRegister {
            .tableWrap {
              @include tableBox_t2;

              /* tableWrap 공통 */
              table {
                tbody {
                  tr {
                    th {
                      width: 15%;
                      min-width: 200px;
                    }

                    td {
                      input {
                        min-width: 600px;
                        width: 50%;
                      }
                    }
                  }
                }
              }

              /* tableWrap 첫번째 */
              &:nth-of-type(1) {
                table {
                  tbody {
                    tr {
                      &:last-child {
                        td {
                          input {
                            width: 15%;
                            min-width: 100px;
                          }

                          span {
                            margin-left: 15px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              /* tableWrap 두번째 */
              &:nth-of-type(2) {
                margin-top: 30px;

                table {
                  .imgBox {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    width: 127px;
                    height: 127px;
                    margin: 0 0 0 20px;
                    border: 1px solid #eaeaea;
                    background-color: #f6f6f9;

                    &:first-child {
                      margin-left: 0;
                    }

                    img {
                      width: 100%;
                      height: 100%;
                    }

                    i {
                      @include iLayout;

                      &.iClose {
                        @include ico_closeBox;
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                      }

                      &.iPlus {
                        @include ico_plusCircle;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }

            >.buttonBox {
              @include btnLayout_t2;
              margin-top: 30px;

              button {
                @include btnLayout;
                @include btnLayoutM;

                &.cancel {
                  @include btn_gray;
                }

                &.register {
                  @include btn_green;
                }
              }
            }
          }
        }
      }
    }
  }

  /* 매체수정 */
  &.permission_mediaModify {
    .content {
      section {
        &.sec_mediaModify {
          .box_mediaModify {
            .tableWrap {
              @include tableBox_t2;

              /* tableWrap 공통 */
              table {
                tbody {
                  tr {
                    th {
                      width: 15%;
                      min-width: 200px;
                    }

                    td {
                      input {
                        min-width: 600px;
                        width: 50%;
                      }
                    }
                  }
                }
              }

              /* tableWrap 첫번째 */
              &:nth-of-type(1) {
                table {
                  tbody {
                    tr {
                      &:last-child {
                        td {
                          input {
                            width: 15%;
                            min-width: 100px;
                          }

                          span {
                            margin-left: 15px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              /* tableWrap 두번째 */
              &:nth-of-type(2) {
                margin-top: 30px;

                table {
                  .imgBox {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    width: 127px;
                    height: 127px;
                    margin: 0 0 0 20px;
                    border: 1px solid #eaeaea;
                    background-color: #f6f6f9;

                    &:first-child {
                      margin-left: 0;
                    }

                    img {
                      width: 100%;
                      height: 100%;
                    }

                    i {
                      @include iLayout;

                      &.iClose {
                        @include ico_closeBox;
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                      }

                      &.iPlus {
                        @include ico_plusCircle;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }

            >.buttonBox {
              @include btnLayout_t2;
              margin-top: 30px;

              button {
                @include btnLayout;
                @include btnLayoutM;

                &.cancel {
                  @include btn_gray;
                }

                &.register {
                  @include btn_green;
                }
              }
            }
          }
        }
      }
    }
  }
}



/***** 04.menu - media *****/