@charset "UTF-8";
/*---------------------------------
    Explain : POTFOLIO
    File : common.scss 
    Date : 2023.03.22 
    Version : 1.0.0
/*---------------------------------*/
/* z-inde 참고 */
/* 높은 순으로 >> loadingBg(9999), modalLayout(999), modalDim(998),iBubble,Qmark,tootip(200), navigation(100), dimCircle,loadingCircle(100), tableHeaderFixed(1) etc */
/*---------------------------------
    File : font.scss
/*---------------------------------*/
/* NotoSans */
@font-face {
  font-family: "NotoSansL";
  src: url("../font/notokr/notokr-light.eot");
  /* IE9 Compat Modes */
  src: url("../font/notokr/notokr-light.eot?#iefix") format("embedded-opentype"), url("../font/notokr/notokr-light.woff") format("woff");
}

@font-face {
  font-family: "NotoSansR";
  src: url("../font/notokr/notokr-regular.eot");
  /* IE9 Compat Modes */
  src: url("../font/notokr/notokr-regular.eot?#iefix") format("embedded-opentype"), url("../font/notokr/notokr-regular.woff") format("woff");
}

@font-face {
  font-family: "NotoSansM";
  src: url("../font/notokr/notokr-medium.eot");
  src: url("../font/notokr/notokr-medium.eot?#iefix") format("embedded-opentype"), url("../font/notokr/notokr-medium.woff") format("woff");
}

@font-face {
  font-family: "NotoSansB";
  src: url("../font/notokr/notokr-bold.eot");
  src: url("../font/notokr/notokr-bold.eot?#iefix") format("embedded-opentype"), url("../font/notokr/notokr-bold.woff") format("woff");
}

@font-face {
  font-family: "RobotoB";
  src: url("../font/Roboto/Roboto-Bold.ttf");
}

/* maruburi */
@font-face {
  font-family: "MaruBuri_B";
  src: url("../font/maruburi/MaruBuri-Bold.ttf");
}

@font-face {
  font-family: "MaruBuri_SB";
  src: url("../font/maruburi/MaruBuri-SemiBold.ttf");
}

@font-face {
  font-family: "MaruBuri_R";
  src: url("../font/maruburi/MaruBuri-Regular.ttf");
}

@font-face {
  font-family: "MaruBuri_L";
  src: url("../font/maruburi/MaruBuri-Light.ttf");
}

@font-face {
  font-family: "MaruBuri_EL";
  src: url("../font/maruburi/MaruBuri-ExtraLight.ttf");
}

/* nanum-square-round */
@font-face {
  font-family: "NanumSR_EB";
  src: url("../font/nanum-square-round/NanumSquareRoundEB.ttf");
}

@font-face {
  font-family: "NanumSR_B";
  src: url("../font/nanum-square-round/NanumSquareRoundB.ttf");
}

@font-face {
  font-family: "NanumSR_R";
  src: url("../font/nanum-square-round/NanumSquareRoundR.ttf");
}

@font-face {
  font-family: "NanumSR_L";
  src: url("../font/nanum-square-round/NanumSquareRoundL.ttf");
}

/* gangwon-education-all */
@font-face {
  font-family: "GangwonB";
  src: url("../font/gangwon-education-all/gangwonEducationAllBold.ttf");
}

@font-face {
  font-family: "GangwonR";
  src: url("../font/gangwon-education-all/gangwonEducationAllLight.ttf");
}

/* RixInooAriDuri */
@font-face {
  font-family: "RixInooAriDuri_R";
  src: url("../font/RixInooAriDuri/RixInooAriDuri Regular.ttf");
}

/* NanumSquare */
@font-face {
  font-family: "NanumSquareB";
  src: url("../font/NanumSquare/NanumSquareB.eot");
  src: url("../font/NanumSquare/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquare/NanumSquareB.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareR";
  src: url("../font/NanumSquare/NanumSquareR.eot");
  src: url("../font/NanumSquare/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquare/NanumSquareR.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareL";
  src: url("../font/NanumSquare/NanumSquareL.eot");
  src: url("../font/NanumSquare/NanumSquareL.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquare/NanumSquareL.woff") format("woff");
}

/* Kyobo */
@font-face {
  font-family: "KyoboPDY";
  src: url("../font/Kyobo/KyoboHandwriting2020pdy.ttf");
}

@font-face {
  font-family: "KyoboSJY";
  src: url("../font/Kyobo/KyoboHandwriting2021sjy.ttf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input {
  outline: none;
  border: none;
  background: #fff;
  color: #333;
  padding: 0 10px;
}

input::-ms-clear {
  display: none;
}

input:-webkit-autofill {
  background: #fff !important;
  -webkit-text-fill-color: #333 !important;
}

html,
body {
  width: 100%;
  font-family: "NotoSansR";
  font-size: 14px;
  color: #333;
}

/*---------------------------------
    File : color.scss
    Date : 2023.04.04 
/*---------------------------------*/
/* 
color 
*/
/* basic */
/* unique */
/* main nav */
/***** font *****/
/***** border *****/
/***** background-color *****/
/***** input *****/
/***** scrollbar *****/
/***** up & down *****/
/*---------------------------------
    File   : image.scss
    Date   : 2023.03.23
/*---------------------------------*/
/* 
common 
*/
/*
test 
*/
/*
logo
*/
/*
header
*/
/* 
index
*/
/* 
sub
*/
/* mobtune */
/* ABM NAMYANG */
/*---------------------------------
    File : mixin.scss
    Date : 2023.04.04 
/*---------------------------------*/
/* 
scroll 
*/
/* 
::-webkit-scrollbar{
@include scrollbar;}
*/
/* 
::-webkit-scrollbar-thumb{
@include scrollbar-thumb;}
*/
/* 스크롤바 위치 */
/* 스크롤바 bg */
/* 
animation 
*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
 animation-name: dowmUp;
*/
@-webkit-keyframes dowmUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes dowmUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*
animation-name: move;
animation-duration: 3s;
animation-iteration-count: infinite;
*/
@-webkit-keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}
@keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}

/* 
font 
*/
/* notosans */
/* roboto */
/* maruburi */
/* NanumSquareRound */
/* gangwon */
/* RixInooAriDuri */
/* NanumSquare */
/* Kyobo */
/* Kyobo */
/* 
text
 */
/* txtDot */
/* ellipsis */
/* ellipsis hover */
/* icon */
/* flex */
/* button */
/* layout */
/*---------------------------------
    File   : content.scss
    Date   : 2023.04.04
/*---------------------------------*/
/* selection */
::-moz-selection {
  background: #fffacd;
}
::selection {
  background: #fffacd;
}

/* display none */
.hidden {
  position: fixed;
  top: 0;
  left: -999em;
}

.disNone {
  display: none !important;
}

/* text */
.txtHide {
  text-indent: -999999px;
  font-size: 0;
}

.elHvrVsbl {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.elHvrVsbl2 {
  display: -webkit-box;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.elHvrVsbl4 {
  display: -webkit-box;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* button */
button {
  font-family: "NotoSansR";
}

/*---------------------------------
    File   : layout.scss
    Date   : 2023.04.04
/*---------------------------------*/
/* 
html
 */
html {
  min-height: -webkit-fill-available;
}

html ::-webkit-scrollbar {
  width: 15px;
}

html ::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  background-color: #b73748;
}

html ::-webkit-scrollbar-track {
  background: transparent;
}

html body {
  width: 100%;
  height: 100%;
  line-height: 1;
}

/* 
wrapper
*/
.wrapper {
  position: relative;
  width: 100%;
  min-width: 1900px;
  min-height: -webkit-fill-available;
}

/* 
header
*/
header {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  top: 0;
  margin: 0;
  padding: 0 100px 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 20;
}

header h1 {
  display: inline-block;
  margin: auto 0;
}

header h1 a {
  font-family: "RixInooAriDuri_R";
  position: relative;
  display: block;
  font-size: 28px;
  color: #000000;
}

header h1 a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 7px;
  height: 7px;
  top: -8px;
  right: -8px;
  border-radius: 2px;
  background-color: #b73748;
}

header .gnb {
  display: inline-block;
}

header .gnb > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  font-size: 0;
  /* li hover시 하위메뉴 */
}

header .gnb > ul > li {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 160px;
  height: 100%;
  vertical-align: middle;
}

header .gnb > ul > li > a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "NotoSansM";
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: #010101;
}

header .gnb > ul > li:first-child {
  margin-left: 0;
}

header .gnb > ul > li:hover > a {
  color: #b73748;
}

header .gnb > ul > li:hover .depth {
  opacity: 1;
  visibility: visible;
}

header .gnb > ul > li:hover .depth > ul {
  top: 0;
}

header .gnb > ul > li.on:hover > a {
  color: #b73748;
}

header .gnb > ul > li.on > a {
  color: #010101;
}

header .gnb > ul > li.on > a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 5px;
  top: -4px;
  right: -6px;
  border-radius: 2px;
  background-color: #b73748;
}

header .gnb > ul .depth {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 107px;
  width: 150px;
  margin: 0 0 0 -75px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .gnb > ul .depth > ul {
  position: relative;
  top: -150px;
  padding: 30px 0;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background-color: #b73748;
}

header .gnb > ul .depth > ul > li a {
  display: block;
  padding: 9px 0;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: -0.04px;
  line-height: 1.4;
}

header .gnb > ul .depth > ul > li a:hover {
  font-family: "NotoSansB";
}

header.headerWht {
  background-color: rgba(35, 31, 45, 0.5);
}

header.headerWht h1 a {
  color: #ffffff;
}

header.headerWht .gnb > ul > li.on a {
  color: #ffffff;
}

header.headerWht .gnb > ul > li a {
  color: #ffffff;
}

header.headerWht .gnb > ul > li:hover > a {
  color: #b73748;
}

header.headerWht:hover .gnb > ul > li:hover > a {
  color: #b73748;
}

/* 
navigation
*/
/* snb */
.snb {
  position: absolute;
  width: 250px;
  margin: 0px 0 0 80px;
}

.snb ul li {
  position: relative;
  margin: 35px 0 0 0;
}

.snb ul li:first-child {
  margin-top: 0;
}

.snb ul li a {
  font-family: "NotoSansB";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 18px;
  color: #ccc;
}

.snb ul li.on a {
  color: #010101;
}

.snb ul li.on a:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 3px;
  height: 3px;
  top: 10px;
  left: 16px;
  margin-right: 4px;
  font-size: 14px;
  border-radius: 100%;
  background-color: #b73748;
}

.snb ul li:hover a {
  color: #b73748;
}

/* 
container
*/
.container {
  width: calc(100% - 0px);
  min-height: 1000px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}

.container:after {
  display: block;
  width: 100%;
  content: "";
  clear: both;
}

.container.wide-view {
  width: calc(100% - 60px);
  margin-left: 60px;
}

.container .title {
  font-family: "NotoSansM";
  position: relative;
  width: 100%;
  min-height: 20px;
}

.container .title p:first-child {
  font-family: "NotoSansM";
  font-size: 18px;
}

.container .content {
  position: relative;
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-transition: all 700ms ease 0s;
  transition: all 700ms ease 0s;
}

.container .content > section {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 30px;
  padding: 1.875rem;
  padding: 1.875rem 100px;
  margin: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  color: #010101;
}

.container .content > section:first-child {
  margin-top: 0;
}

.container .dot {
  position: absolute;
  top: 13%;
  right: 80px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container .dot ul li {
  position: relative;
  font-size: 0;
  width: 16px;
  height: 16px;
  margin: 50px auto;
}

.container .dot ul li.active {
  width: 16px;
  height: 16px;
}

.container .dot ul li.active:before {
  opacity: 1;
}

.container .dot ul li.active:after {
  background-color: #b73748;
}

.container .dot ul li:active:after {
  background-color: #b73748;
}

.container .dot ul li:hover:before {
  opacity: 1;
  cursor: pointer;
}

.container .dot ul li:hover:after {
  width: 16px;
  height: 16px;
}

.container .dot ul li:before {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: -130px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 99px;
  height: 36px;
  color: #ffffff;
  border-radius: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  background-color: #b73748;
}

.container .dot ul li:before::hover {
  width: 16px;
  height: 16px;
  opacity: 1;
  cursor: pointer;
}

.container .dot ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
}

.container .dot ul li:nth-child(1):before {
  content: "MAIN";
}

.container .dot ul li:nth-child(2):before {
  content: "About Me";
}

.container .dot ul li:nth-child(3):before {
  content: "Work";
}

.container .dot ul li:nth-child(4):before {
  content: "Contact";
}

/*
footer 
*/
footer {
  position: relative;
  width: 100%;
  padding: 100px;
  background-color: #222;
}

footer a.top {
  position: absolute;
  top: -150px;
  right: 50px;
  width: 80px;
  height: 80px;
  font-size: 0;
  background-color: #222;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer a.top:before {
  content: "";
  position: relative;
  display: inline-block;
  background-position: 0px 0px;
  font-size: 0;
  background: url("../image/component/ico_top.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 26px;
  height: 40px;
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

footer a.top:hover {
  background-color: #b73748;
}

footer .footer {
  position: relative;
  display: inline-block;
}

footer .footer p {
  color: #ccc;
  font-size: 14px;
  line-height: 27px;
}

footer .footer div.logo p {
  font-family: "RixInooAriDuri_R";
  font-size: 22px;
}

footer .footer div.logo p:after {
  content: "";
  position: relative;
  display: inline-block;
  top: -22px;
  left: 2px;
  width: 7px;
  height: 7px;
  border-radius: 2px;
  background-color: #b73748;
}

footer .footer div.address {
  margin-top: 40px;
}

/***** 개별 CSS *****/
/* index */
/*---------------------------------
    File : index.scss
    Date : 2023.04.05 
/*---------------------------------*/
.wrapper {
  /* 손졔 포트폴리오 */
}

.wrapper.sonjye_index .title {
  display: none;
}

.wrapper.sonjye_index .content section {
  height: 100vh;
  min-height: 800px;
}

.wrapper.sonjye_index .content section ::-webkit-scrollbar {
  width: 15px;
}

.wrapper.sonjye_index .content section ::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  background-color: #b73748;
}

.wrapper.sonjye_index .content section.sec_intro {
  position: relative;
  background-color: #fff6d5;
  background-color: #f5f5f5;
  padding-top: 100px;
  background-color: #231f2d;
}

.wrapper.sonjye_index .content section.sec_intro:before {
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 98%;
  top: 0;
  right: 0;
  background: url("../image/content/bg_universe.png") no-repeat;
  background-position: 95% 100%;
}

.wrapper.sonjye_index .content section.sec_intro .txtBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fill-available;
  margin: auto 0;
  padding-top: 80px;
}

.wrapper.sonjye_index .content section.sec_intro .txtBox p:first-child {
  font-family: "RixInooAriDuri_R";
  font-size: 138px;
  font-size: 8.625rem;
  color: #000;
  color: #fff;
}

.wrapper.sonjye_index .content section.sec_intro .txtBox p:first-child:after {
  content: ".";
  position: relative;
  display: inline-block;
  margin-left: 2px;
  color: #b73748;
  font-size: 108px;
  font-size: 6.75rem;
}

.wrapper.sonjye_index .content section.sec_intro .txtBox p:first-child:before {
  content: "PORTPOLIO";
  position: absolute;
  display: inline-block;
  font-size: 139px;
  font-size: 8.625rem;
  color: #000;
  z-index: -1;
}

.wrapper.sonjye_index .content section.sec_intro .txtBox p:nth-child(2) {
  font-family: "RixInooAriDuri_R";
  margin-top: 20px;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: left;
  color: #b73748;
  text-indent: 5px;
}

.wrapper.sonjye_index .content section.sec_aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 1000px;
  padding: 140px 80px 80px 40px;
  padding: 1.875rem 100px;
  padding: 200px 100px 40px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .tit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .tit:before {
  background: url("../image/content/universe_4.jpg") no-repeat;
  background-position-x: center;
  background-position-y: center;
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  vertical-align: middle;
  background-size: cover;
  border-radius: 100%;
  border-radius: 15px;
  background-position: center center;
  background-size: auto;
  background-size: 170%;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .tit p {
  font-family: "MaruBuri_B";
  display: block;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3;
  vertical-align: middle;
  letter-spacing: -2px;
  text-indent: 4px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .tit p:last-child:after {
  font-family: "NanumSR_B";
  content: ":D";
  display: inline-block;
  text-indent: 10px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .cont {
  min-width: 300px;
  margin: 60px 0 0 0;
  padding: 0 0 0 6px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .cont:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 4px;
  margin-bottom: 15px;
  border-radius: 2px;
  background-color: #000;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .cont .titBox p {
  font-family: "MaruBuri_B";
  display: inline-block;
  vertical-align: middle;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .cont .titBox p:nth-child(1) {
  font-size: 28px;
  font-size: 1.75rem;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .cont .titBox p:nth-child(2) {
  margin-left: 10px;
  font-size: 18px;
  font-size: 1.125rem;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .cont .contBox {
  margin-top: 15px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_aboutMe .cont .contBox p {
  font-size: 16px;
  line-height: 1.5;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career {
  -webkit-box-flex: flex;
      -ms-flex: flex;
          flex: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 8%;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .tit {
  position: relative;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .tit p {
  font-family: "NanumSR_EB";
  font-family: "NotoSansB";
  position: relative;
  font-size: 36px;
  z-index: 1;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .tit p:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 190px;
  height: 18px;
  bottom: -4px;
  left: -10px;
  -webkit-transform: skew(-20deg);
  opacity: 0.7;
  z-index: -1;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont {
  margin: 80px auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div:nth-child(2n) {
  margin-top: 20px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont .titBox {
  padding-bottom: 10px;
  border-bottom: 2px solid #f5f5f5;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont .titBox p {
  font-family: "MaruBuri_B";
  font-family: "NanumSR_EB";
  color: #b73748;
  font-size: 20px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont .contBox {
  margin-top: 20px;
  padding: 0 10px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont .contBox > div {
  margin-top: 10px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont .contBox > div:first-child {
  margin-top: 0;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont .contBox > div p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont .contBox > div p:nth-child(1) {
  margin-right: 20px;
  color: #222;
  color: #000;
  font-size: 15px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.career {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.educate {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  margin-top: 20px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.certificate {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.levelEducate {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.skills {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 5;
  grid-row: 5/5;
  margin-top: 20px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.skills .titBox p span {
  color: #666;
  font-size: 14px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.skills .contBox {
  margin-top: 5px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.skills .contBox > div:nth-child(1) p {
  color: #666;
  font-size: 14px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.skills .contBox > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 15px;
}

.wrapper.sonjye_index .content section.sec_aboutMe .box_career .cont > div.skills .contBox > div:nth-child(1) p {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 4px 10px;
  color: #222;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  background-color: #fffacd;
  background-color: #231f2d;
}

.wrapper.sonjye_index .content section.sec_project {
  height: auto;
  padding: 200px 100px 80px;
  background-color: #f8f9fb;
}

.wrapper.sonjye_index .content section.sec_project .box_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fill-available;
}

.wrapper.sonjye_index .content section.sec_project .box_work .tit {
  font-family: "NanumSR_EB";
  color: #2a2d3e;
}

.wrapper.sonjye_index .content section.sec_project .box_work .tit p {
  font-family: "NanumSR_EB";
  font-family: "NotoSansB";
  position: relative;
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont {
  margin-top: 40px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .numBox {
  position: absolute;
  width: 100%;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .numBox > div {
  overflow: hidden;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .numBox > div:nth-child(1) p {
  top: -50px;
  color: #f4f4f4;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .numBox > div:nth-child(2) {
  position: absolute;
  width: 100%;
  top: -92px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .numBox > div:nth-child(2) p {
  top: 50px;
  color: #212332;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .numBox > div p {
  font-family: "RobotoB";
  position: relative;
  font-size: 42px;
  text-align: center;
  font-size: 92px;
  color: #212332;
  text-shadow: -1px 0 black, 0 1px #212332, 1px 0 #212332, 0 -1px #212332;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px 0 0px 0;
  overflow: hidden;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 32%;
  max-height: 650px;
  margin: 30px 0 0 2%;
  padding: 30px 25px 30px 25px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #f8f9fb;
  background-color: #fff;
  /* list - 1 */
  /* list - 2 */
  /* list - 3 */
  /* list - 4 */
  /* list - 4 */
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .titBox {
  text-align: center;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .titBox p:nth-child(1) {
  font-family: "NanumSR_EB";
  margin-top: 20px;
  color: #b73748;
  font-size: 20px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .titBox p:nth-child(1):before {
  content: "";
  position: relative;
  display: inline-block;
  background-position: 0px 0px;
  font-size: 0;
  content: "";
  position: relative;
  display: block;
  margin: 0 auto 8px;
  height: 28px !important;
  background-size: contain !important;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .titBox p:nth-child(2) {
  margin-top: 8px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  margin-top: 10px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .imgBox {
  font-size: 0;
  width: 100%;
  height: 300px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .imgBox:before {
  background: url("../image/content/img_browser.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 542px;
  height: 337px;
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  background-position: center;
  background-position-y: top;
  background-size: contain;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .txtBox {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  margin-top: 20px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .txtBox p {
  font-family: "NanumSR_R";
  font-size: 15px;
  line-height: 1.5;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .percentBox {
  position: relative;
  margin-top: 30px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .percentBox p {
  font-family: "NanumSR_R";
  font-size: 15px;
  line-height: 1.5;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .percentBox .graphBox {
  margin-top: 5px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .percentBox .graphBox > div {
  font-family: "NanumSR_B";
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 12px;
  margin-left: 2%;
  color: #fff;
  color: #222;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .percentBox .graphBox > div > div {
  position: absolute;
  height: 100%;
  left: 0;
  border-radius: 2px;
  background-color: #f6fad9;
  background-color: #666;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .percentBox .graphBox > div:first-child {
  margin-left: 0;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .buttonBox {
  position: relative;
  text-align: right;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .buttonBox button {
  font-family: "NotoSansR";
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .buttonBox button.more {
  width: 140px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  background-color: #231f2d;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list .contBox .buttonBox button.more:hover {
  background-color: #b73748;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list:nth-child(3n+1) {
  margin-left: 0;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list:nth-child(-n+3) {
  margin-top: 0;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list:nth-child(1) .titBox p:nth-child(1):before {
  background: url("../image/logo/logo_mobtune.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 921px;
  height: 132px;
  width: 30%;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list:nth-child(2) .titBox p:nth-child(1):before {
  background: url("../image/logo/logo_abmNamyang.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 130px;
  height: 33px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list:nth-child(3) .titBox p:nth-child(1):before {
  background: url("../image/logo/logo_enliple.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 153px;
  height: 29px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list:nth-child(4) .titBox p:nth-child(1):before {
  background: url("../image/logo/logo_1pay_by.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 66px;
  height: 19px;
}

.wrapper.sonjye_index .content section.sec_project .box_work .cont .listArea .list:nth-child(5) .titBox p:nth-child(1):before {
  background: url("../image/logo/logo_mobfeed.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 120px;
  height: 21px;
}

.wrapper.sonjye_index .content section.sec_contact .box_thanks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fill-available;
}

.wrapper.sonjye_index .content section.sec_contact .box_thanks p {
  font-family: "RixInooAriDuri_R";
  margin: auto 0;
  font-size: 8.625rem;
  text-align: center;
}

.wrapper.sonjye_index .content section.sec_contact .box_thanks p:after {
  content: ".";
  position: relative;
  display: inline-block;
  margin-left: 2px;
  color: #b73748;
  font-size: 108px;
  font-size: 6.75rem;
}

/***** index end *****/
/* sub */
/*---------------------------------
    File : sub.scss
    Date : 2023.03.22 
/*---------------------------------*/
.wrapper {
  /* 모비튠 SUB */
  /* 남양 SUB */
}

.wrapper.sonjye_tuneSub .container {
  width: calc(100% - 480px);
  margin: 300px 0 0 480px;
}

.wrapper.sonjye_tuneSub .title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.wrapper.sonjye_tuneSub .title p {
  -webkit-animation-name: dowmUp;
          animation-name: dowmUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-family: "NotoSansB";
  letter-spacing: -1.8px;
  font-size: 60px;
}

.wrapper.sonjye_tuneSub .title .category {
  margin-top: 80px;
}

.wrapper.sonjye_tuneSub .title .category ul li {
  display: inline-block;
  margin-left: 40px;
}

.wrapper.sonjye_tuneSub .title .category ul li:first-child {
  margin-left: 0;
}

.wrapper.sonjye_tuneSub .title .category ul li a {
  font-family: "NotoSansB";
  padding: 10px;
  font-size: 24px;
  color: #ccc;
}

.wrapper.sonjye_tuneSub .title .category ul li.on a {
  color: #b73748;
}

.wrapper.sonjye_tuneSub .title .category ul li:hover a {
  color: #b73748;
}

.wrapper.sonjye_tuneSub .title .category ul li:first-child a {
  padding-left: 0;
}

.wrapper.sonjye_tuneSub .content {
  margin-top: 100px;
}

.wrapper.sonjye_tuneSub .content section {
  min-height: 100vh;
  height: auto;
}

.wrapper.sonjye_tuneSub .content section ::-webkit-scrollbar {
  width: 15px;
}

.wrapper.sonjye_tuneSub .content section ::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  background-color: #b73748;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune {
  margin-bottom: 200px;
  padding: 0;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .descriptionBox p:first-child {
  font-size: 54px;
  line-height: 80px;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .descriptionBox p:first-child strong {
  font-family: "NotoSansB";
  display: block;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .descriptionBox p:nth-child(2) {
  margin-top: 60px;
  line-height: 1.5;
  font-size: 36px;
  color: #aaa;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .descriptionBox p:nth-child(2) strong {
  font-family: "NotoSansB";
  margin: 0 2px;
  color: #010101;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .categoryList {
  margin-top: 100px;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .categoryList > div {
  display: none;
  position: relative;
  width: 1080px;
  height: 1800px;
  font-size: 0;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .categoryList > div.show {
  display: block;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .categoryList > div img {
  width: 100%;
  height: 100%;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .categoryList > div:nth-child(1) {
  background: url("../image/content/img_mobtuneRfmAnalysis.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-position-y: top;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .categoryList > div:nth-child(2) {
  background: url("../image/content/img_mobtuneCampaignList.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-position-y: top;
}

.wrapper.sonjye_tuneSub .content section.sec_mobtune .categoryList > div:nth-child(3) {
  background: url("../image/content/img_mobtuneUserInfo.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-position-y: top;
}

.wrapper.sonjye_abmSub .container {
  width: calc(100% - 480px);
  margin: 300px 0 0 480px;
}

.wrapper.sonjye_abmSub .title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.wrapper.sonjye_abmSub .title p {
  font-family: "NotoSansB";
  letter-spacing: -1.8px;
  font-size: 60px;
  -webkit-animation: textAni 1s ease forwards;
          animation: textAni 1s ease forwards;
}

.wrapper.sonjye_abmSub .title .category {
  margin-top: 80px;
}

.wrapper.sonjye_abmSub .title .category ul li {
  display: inline-block;
  margin-left: 40px;
}

.wrapper.sonjye_abmSub .title .category ul li:first-child {
  margin-left: 0;
}

.wrapper.sonjye_abmSub .title .category ul li a {
  font-family: "NotoSansB";
  padding: 10px;
  font-size: 24px;
  color: #ccc;
}

.wrapper.sonjye_abmSub .title .category ul li.on a {
  color: #b73748;
}

.wrapper.sonjye_abmSub .title .category ul li:hover a {
  color: #b73748;
}

.wrapper.sonjye_abmSub .title .category ul li:first-child a {
  padding-left: 0;
}

.wrapper.sonjye_abmSub .content {
  margin-top: 100px;
}

.wrapper.sonjye_abmSub .content section {
  min-height: 100vh;
  height: auto;
}

.wrapper.sonjye_abmSub .content section ::-webkit-scrollbar {
  width: 15px;
}

.wrapper.sonjye_abmSub .content section ::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  background-color: #b73748;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune {
  margin-bottom: 200px;
  padding: 0;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .descriptionBox p:first-child {
  font-size: 54px;
  line-height: 80px;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .descriptionBox p:first-child strong {
  font-family: "NotoSansB";
  display: block;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .descriptionBox p:nth-child(2) {
  margin-top: 60px;
  line-height: 1.5;
  font-size: 36px;
  color: #aaa;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .descriptionBox p:nth-child(2) strong {
  font-family: "NotoSansB";
  margin: 0 2px;
  color: #010101;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList {
  margin-top: 100px;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList > div {
  display: none;
  position: relative;
  width: 1080px;
  height: 1800px;
  font-size: 0;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList > div.show {
  display: block;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList > div img {
  width: 100%;
  height: 100%;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList > div:nth-child(1) {
  background: url("../image/content/img_abmDashboard.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-position-y: top;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList > div:nth-child(2) {
  background: url("../image/content/img_abmLogin.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-position-y: top;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList > div:nth-child(3) {
  background: url("../image/content/img_abmDmp.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-position-y: top;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList > div:nth-child(4) {
  background: url("../image/content/img_abmUserAnalysis.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-position-y: top;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList > div:nth-child(5) {
  background: url("../image/content/img_abmCampaignSet.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-position-y: top;
}

.wrapper.sonjye_abmSub .content section.sec_mobtune .categoryList > div:nth-child(6) {
  background: url("../image/content/img_abmCmpDashboard.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-position-y: top;
}

/***** index end *****/
/* 마이원페이 어드민 */
/* ABM 남양 */
/* 모비튠 */
/* 모비피드(오아시스피드) */
/* 쿠팡락커 */
/* 참고용 css */
