@charset "UTF-8";
/*---------------------------------
    File  : bak.scss
    Date  : 2023.04.12
    menu  : 테스트
/*---------------------------------*/
/* 대시보드 */
.typeB {
  /* 앱 보고서 */
  /* 데이터 수집 관리 */
}
