@charset 'utf-8';
/*---------------------------------
    File : mixin.scss
    Date : 2023.04.13 
/*---------------------------------*/

/* 
scroll 
*/
/* 
::-webkit-scrollbar{
@include scrollbar;}
*/
@mixin scrollbar {
  width: 15px;
  // height: 4px;
  // border-radius: 10px;
  // background: transparent;
}

/* 
::-webkit-scrollbar-thumb{
@include scrollbar-thumb;}
*/
/* 스크롤바 위치 */
@mixin scrollbar-thumb {
  // height: 15px;
  border: 3px solid transparent;
  // border-radius: 15px;
  background-clip: padding-box;
  background-color: $pointColor;
}

// ::-webkit-scrollbar-track {
//   @include scrollbar-track;
// }
/* 스크롤바 bg */
@mixin scrollbar-track {
  background: transparent;
}



/* 
animation 
*/
@mixin transition {
  transition: all 0.2s ease-in-out;
}


/* 
font 
*/
/* notosans */
@mixin ftL {
  font-family: "NotoSansL";
}

@mixin ftR {
  font-family: "NotoSansR";
}

@mixin ftM {
  font-family: "NotoSansM";
}

@mixin ftB {
  font-family: "NotoSansB";
}



/* 
text
 */
@mixin txtHide {
  text-indent: -999999px;
  font-size: 0;
}

/* ellipsis */
@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin ellipsis_l2($wlc:2) {
  display: -webkit-box;
  //width: 100px;
  //height: 100px;
  //line-height: 22px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  -webkit-line-clamp: $wlc;
  -webkit-box-orient: vertical;
}

/* ellipsis hover */
@mixin ellipsisHover {
  overflow: visible;
  white-space: normal;
  word-break: break-all;
  cursor: pointer;
}



/* icon */
@mixin iLayout {
  content: "";
  position: relative;
  display: inline-block;
  background-position: 0px 0px;
  font-size: 0;
}



/* flex */
@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_start {
  display: flex;
  justify-content: start;
}



/* button */
@mixin button {
  @include ftR();
}

@mixin btnLayout {
  @include ftR();
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
}

@mixin btnLayout_big($height:37px) {
  width: 100%;
  height: $height;
  padding: 3px 15px 3px;
  font-size: 13px;
  text-align: center;
  border-radius: 5px;
}

@mixin btn_gray {
  color: $fontColor;
  border: none;
  background-color: $btnBg_gray;
}

@mixin btn_disabled {
  color: #aaaaaa;
  border: 1px solid #d2d2d2;
  background-color: #e9e9e9;
}