@charset 'utf-8';
/*---------------------------------
    Explain : APPTALK
    File : common.scss 
    Date : 2023.04.13 
    Version : 1.0.0
/*---------------------------------*/

/* z-inde 참고 */
/*
header(100)
*/


@import "_font";
@import "_base";
@import "_color";
@import "_image";
@import "_mixin";
@import "_content";
@import "_layout";


/***** 개별 CSS *****/
/* apptalk */
@import "apptalk";

/* 내가 본 상품 */
@import "product";